<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Thế giới sim 24h</title>
	<link  rel="stylesheet" type="text/css" href="../Template/css/main2.css"/>
</head>
<body>
	<div id="frame">
		<div id="header"></div>
			<span metal:use-macro="macros.xhtml/MenuGioithieu"/>
		<div id="main">
			<div id="main3_of1">
				<span metal:use-macro="macros.xhtml/Main3of1"/>
				<div style="margin-top: 10px; border: 1px solid #999; height: 180px;">quang cáo</div>
			</div>
			<div id="main3_of2">
					<div id="tieude_main">Cách biến “sim rác” thành… số đẹp!</div>
					<div align="justify" style="margin-bottom: 1780px; padding: 0 20px 0 20px;">
						<p><i>Dịch Sim</i></p>
						<p style="text-indent:30px;">Cưa cẩm chán chê nàng không đổ, gã trai quyết định tặng cô bạn chiếc sim điện thoại có số xxxx126987 “cho bõ tức”. Theo cách “dịch” của hắn, số đó là “mặt mũi xấu, chân tay bẩn”.</p>
						<p style="text-indent:30px;">Chị Hương, một nhân viên văn phòng, vừa mua chiếc điện thoại và số sim mới để phục vụ công việc. Chia sẻ số máy của mình, một đồng nghiệp chị Hương thốt lên: “553 092 – “năm năm bà không chết ai” thì bao giờ mới lấy được chồng hả em?”. </p>
						<p>“Chả biết có thật như lời anh ý trù úm không, nhưng gần tuổi “băm” rồi mà vẫn chưa xuất kho được đây”, chị Hương cười nói.</p>
						<p>Mê tín hơn, anh Thuận (Hà Nội) phải đổi số điện thoại ngay khi có ông bạn phán: “Mày làm ăn mà dùng số máy có 3578 là không được. Người ta chỉ 1 năm thất bát đã đủ chết rồi, mày còn “3 năm thất bát” thì chỉ có đi húp cháo”.</p>
						<p><i>Điện thoại đẹp phải đi với “sim phong cách”</i></p>
						<p style="text-indent:30px;">“Vẫn chỉ 10 số tự nhiên, nhưng mỗi người thích dịch ra một kiểu. Các trò số đẹp, số gánh, số lặp giờ quê rồi”, Hoàng, một đại lý bán thẻ và sim ĐTDĐ, cho biết. “Giờ số độc là phải có phong cách”.</p>
						<p style="text-indent:30px;">“Chơi phong cách” – theo anh Hoàng cho biết – nghĩa là chỉ phụ thuộc vào cách “dịch số” của người chủ chiếc sim đó. Có những cách dịch “đi vào huyền thoại” của dân buôn sim bán số. Ví dụ cụm số “6677028” được gọi là “xấu xấu, bẩn bẩn, không ai tán”, “1102” gọi là “độc nhất vô nhị” – lập tức được những người chơi đậm máu hài hước săn tìm.</p>
						<p style="text-indent:30px;">Mỗi con số được gán với một vài chữ, từ đó số sim kết hợp với nhau đẻ ra muôn ngàn thứ. Ví dụ số 8 thường được coi là “phát” (gần âm với chữ “bát” – cách phát âm tiếng Trung) thì tốt. Nhưng nếu có có 7 (thất) đứng cạnh thì lại xấu (thất bát). Vẫn số 78 mà lại có số 0 đứng trước thì lại “tàm tàm” (không thất bát). Nếu thành cả chuỗi như “47078” thì được coi là “ngon lành” (tứ thời không thất bát). Các số đuôi 68 thường được gọi là “lộc phát” hay đắt hàng nhất. Nhưng nếu kỳ công kiếm được đủ số “1000568” thì còn “hiểm” hơn vì coi là “nghìn năm lộc phát”.</p>
						<p style="text-indent:30px;">Cứ thế, dân chơi sim nghĩ ra đủ thứ để khẳng định “số điện thoại của mình là độc và đẹp”. Dân buôn bán làm ăn thì thích những số được coi là “đẹp” như “1518” (Mỗi năm một phát), “8386” (phát tài phát lộc), “3879” (ông địa thần tài), … Những đôi tình nhân thì thích số có đuôi “1135” (mãi mãi bên nhau).</p>
						<p style="text-indent:30px;">Những người vui tính lại muốn kiếm số máy kiểu “3508” (năm năm không tắm), “6789” (san bằng tất cả), “6758” (sống bằng niềm tin), “4404” (tự tử không chết), “7726” (bẩn bẩn xấu trai).</p>
						<p style="text-indent:30px;">Vui hơn, nhiều người nghĩ ra các kiểu “dịch số” để “dìm hàng” nhau như: “7749” (bẩy bẩy bốn chín ngày), “1110” (ba hương một trứng – tục lệ đặt bát cơm trên quan tài người chết), “4953” (bốn chín chưa qua, năm ba đã tới – hai tuổi kỵ, khó khăn về làm ăn và gặp vận hạn theo quan niệm của người xưa).</p>
						<p><b>Đến bói sim bằng “âm dương ngũ hành”</b></p>
						<p style="text-indent:30px;">Không chỉ dịch số theo kiểu đọc nhái âm, nhiều người còn chọn sim số theo kiểu phong thủy ngũ hành. Để phục vụ “nhu cầu”, có những website xây dựng cả công cụ để người dùng “xem bói” số điện thoại của mình.</p>
						<p><i>Coi bói số điện thoại trên website.</i></p>
						<p style="text-indent:30px;">“Khi các con số đứng riêng rẽ sẽ hình thành nên những ý nghĩa khác nhau bao hàm sự tốt xấu, may mắn hay đen đủi. Nhưng khi kết hợp với nhau nó sẽ hình thành một ý nghĩa khác nhau nhưng lúc này ý nghĩa của từng con số không còn cứng nhắc mà mang sắc thái bổ trợ, tác dụng lẫn nhau hình thành nên tính chất tốt xấu cho cả dãy số”, một “thày bói sim” cho biết.</p>
						<p style="text-indent:30px;">Theo lý luận của “thày”, số lẻ (1, 3, 5, 7, 9) được coi là những con số dương và con số chẵn (2, 4, 6,  lại được coi là những số âm. Bởi vì dương tính được coi như một biểu hiện của sự phát triển và tăng trưởng nên thông thường người ta ưa chuộng số lẻ hơn số chẵn.</p>
						<p style="text-indent:30px;">Sau đó, kết hợp với nhiều thứ lý thuyết của Kinh dịch, tướng số, bát quái, càn khôn, v.v… Thày sẽ “phán” xem số điện thoại có hợp với “thân chủ” hay không.</p>
						<p style="text-indent:30px;">“Dãy số tốt cần có ít nhất các yếu tố: cân bằng âm và dương trong dãy số, có sự tương sinh trong dãy số. Các con số kết hợp cần tạo được một quẻ tốt thì mới phát huy hết tác dụng tốt lành cho người sử dụng chúng”, thày bói sim phán.</p>
						<p><b>Giải trí là chủ yếu</b></p>
						<p style="text-indent:30px;">“Nói chung, mình không tin lắm vào bói toán, nhưng dịch kiểu vui vui như thế khiến số điện thoại dễ nhớ hơn nhiều”, chị Hương chia sẻ. “Giờ mỗi người có 1 cái điện thoại, nếu nhớ hết số mọi người thì khó lắm”.</p>
						<p style="text-indent:30px;">Hoàng Anh, gã trai tặng bạn gái chiếc sim “126987″ ở trên, đặc biệt thích thú với kiểu chơi sim này. Hiện tại, Hoàng Anh có khoảng gần 20 chiếc “sim rác” kiểu tương tự. </p>
						<p style="text-indent:30px;">Hằng ngày, cứ rảnh rỗi là hắn lại bóp đầu tìm kiếm có số điện thoại nào “hiểm hóc” không để sưu tầm.</p>
						<p style="text-indent:30px;">“Thỉnh thoảng ngồi nghịch cũng vui, cứ ngồi dịch đi dịch lại mấy cái số đó cũng đủ chết cười”, Hoàng Anh nói. “Với lại chơi sim kiểu này chả sợ bị đánh cắp”.</p>
						<p style="text-indent:30px;">Chính “thày bói sim” cũng khẳng định việc bói toán trên cũng “cho vui” là chính, chứ từ thời “Văn Vương với Khổng Tử thì làm sao mà tính chuyện xem số điện thoại di động được”.</p>
						<p style="text-indent:30px;">Anh Hoàng, người chủ cửa hàng bán sim thì cho biết cứ vui vẻ, dịch số vui vui cho mọi người là cách công việc kinh doanh của mình dễ dàng hơn.</p>
						<p style="text-indent:30px;">“Số đẹp số xấu là do mình hết. Điện thoại là thứ gắn liền với mỗi người, mỗi lần trao đổi số máy, người ta sẽ có cách để số máy đó trở nên dễ nhớ”, anh Hoàng nói.</p>
						<br/>
					</div>
					<span metal:use-macro="macros.xhtml/MenuXemThem"/>  
					<br/>
			</div>
			
			<div id="main3_of3">
				<span metal:use-macro="macros.xhtml/Main3of3"/>  
				<div style="border: 1px solid #999; height: 240px;">
					<img width="190" height="240" border="0" src="../Template/images/imgInoxTinta.gif" alt="Inox Tinta" />
				</div>
			</div>
			<div class="vide"></div>
		</div>
		<div id="line"></div>
		<div metal:use-macro="macros.xhtml/Footer"/>	
		<div class="vide"></div>	
	</div>
</body>
</html>