/* ===== Primary Styles ========================================================
   Author: 
   ========================================================================== */
	@font-face{font-family:'UTM TPTA';src:url('../font/utmtpta.ttf');}
	
	.frame {
		border: 5px solid #F5F7F7;
	}
	
	.height-380 { height: 380px; }
	
	.tpta { font-family:'UTM TPTA' !important; }
	
	.comment_div {
		background-color: #F4F4F4;
		position: relative;
		width: 100%;
		margin: 15px 0;
		border-radius: 10px;
	}
	
	.comment_div:after {
		content: '';
		position: absolute;
		height: 0;
		width: 0;
		border: 10px solid transparent;
		border-top-color: #F4F4F4;
		top: 100%;
		left: 20px;
	}
	
	.comment-input { margin-bottom: 5px !important; }
	
	.padding-content-10 { padding: 10px; }
	.padding-content-20 { padding: 20px; }
	
	