<html>
<body>	
	<table cellpadding="3" cellspacing="0" border="1" borderstyle="border-style:dotted;">
		<tr>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
		</tr>		
		<tr>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
		</tr>
		<tr>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
		</tr>
		<tr>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
		</tr>
		<tr>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
		</tr>
		<tr>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
			<td align='center' width='20%'>
				<BR/><BR/>
				<B tal:content="FullName"/>
				<BR/>
				thùng <B tal:content="Quantity"/> gói
				<BR/>
			</td>
		</tr>
	</table>
</body>
</html>