<html>	
<body>	
	<table cellpadding="3" cellspacing="0" border="1">
		<tr>								
			<th align='center' width='5%'><B>STT</B></th>
			<th align='center' width='14%'><B>NGÀY</B></th>
			<th align='center' width='9%'><B>Bột</B></th>
			<th align='center' width='9%'><B>Nilon</B></th>
			<th align='center' width='9%'><B>Dầu đặc</B></th>
			<th align='center' width='9%'><B>Dầu nước</B></th>
			<th align='center' width='9%'><B>Cal</B></th>
			<th align='center' width='9%'><B>Gas</B></th>
			<th align='center' width='9%'><B>Bột năng</B></th>
			<th align='center' width='9%'><B>Bột pha</B></th>
			<th align='center' width='9%'><B>Mũ cũ</B></th>
		</tr>						
		<tr><td align='center'>1</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>2</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>3</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>4</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>5</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>6</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>7</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>8</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>9</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>10</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>11</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>12</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>13</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>14</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>15</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
		<tr><td align='center'>16</td><td align='center' tal:content="fToday"/><td align='right'/><td align='right'/><td align='right'/><td align='right'/><td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/>	<td align='right'/></tr>
	</table>										
</body>
</html>