<html>	
<body>	
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
	<thead>					
		<tr>
			<th align='center' width='1%'>STT</th>
			<th align='left' width='7%'>TÊN</th>
			<th align='right' width='5%'>16 dầux7<BR/>(28g)</th>
			<th align='right' width='5%'>16 dầux10<BR/>(40g)</th>
			<th align='right' width='5%'>16 dầux18<BR/>(72g)</th>
			<th align='right' width='5%'>16 dầux30<BR/>(90g)</th>								
			<th align='right' width='5%'>16 mỡx30<BR/>(90g)</th>
			<th align='right' width='5%'>16 mỡ sạchx30<BR/>(90g)</th>								
			<th align='right' width='5%'>16 dầux15<BR/>(75g)</th>
			<th align='right' width='5%'>16 dầux30<BR/>(150g)</th>
			<th align='right' width='5%'>16 mỡx30<BR/>(150g)</th>
			<th align='right' width='5%'>16 mỡ sạchx30<BR/>(150g)</th>
								<th align='right' width='5%'>16cal dầux30<BR/>(150g)</th>
								<th align='right' width='5%'>16cal mỡx30<BR/>(150g)</th>
								<th align='right' width='5%'>16cal mỡ sạchx30<BR/>(150g)</th>
								<th align='right' width='5%'>18 dầux30<BR/>(180g)</th>
								<th align='right' width='5%'>18 mỡx30<BR/>(180g)</th>
								<th align='right' width='5%'>18 mỡ sạchx30<BR/>(180g)</th>
								<th align='right' width='5%'>19 dầux30<BR/>(210g)</th>
								<th align='right' width='5%'>19 mỡx30<BR/>(210g)</th>
								<th align='right' width='5%'>19 mỡ sạchx30<BR/>(210g)</th>
								<th align='right' width='5%'>19 dầux45<BR/>(300g)</th>
								<th align='right' width='5%'>19 mỡx45<BR/>(300g)</th>
								<th align='right' width='5%'>19 mỡ sạchx45<BR/>(300g)</th>
								<th align='right' width='5%'>20 dầux30<BR/>(240g)</th>
								<th align='right' width='5%'>20 mỡx30<BR/>(240g)</th>
								<th align='right' width='5%'>20 mỡ sạchx30<BR/>(240g)</th>
								<th align='right' width='5%'>22 dầux30<BR/>(270g)</th>
								<th align='right' width='5%'>22 mỡx30<BR/>(270g)</th>
								<th align='right' width='5%'>22 mỡ sạchx30<BR/>(270g)</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="PETracking PETrackings">
								<td align='center'></td>
								<td align='left' tal:content="PETracking/getName"></td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE01"
										tal:content="PETracking/getProduct01"/>
								</td>								
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE02"
										tal:content="PETracking/getProduct02"/>
								</td>								
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE03"
										tal:content="PETracking/getProduct03"/>
								</td>								
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE04"
										tal:content="PETracking/getProduct04"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE05"
										tal:content="PETracking/getProduct05"/>
								</td>								
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE06"
										tal:content="PETracking/getProduct06"/>
								</td>								
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE07"
										tal:content="PETracking/getProduct07"/>
								</td>								
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE08"
										tal:content="PETracking/getProduct08"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE09"
										tal:content="PETracking/getProduct09"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE10"
										tal:content="PETracking/getProduct10"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE11"
										tal:content="PETracking/getProduct11"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE12"
										tal:content="PETracking/getProduct12"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE13"
										tal:content="PETracking/getProduct13"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE14"
										tal:content="PETracking/getProduct14"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE15"
										tal:content="PETracking/getProduct15"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE16"
										tal:content="PETracking/getProduct16"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE17"
										tal:content="PETracking/getProduct17"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE18"
										tal:content="PETracking/getProduct18"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE19"
										tal:content="PETracking/getProduct19"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE20"
										tal:content="PETracking/getProduct20"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE21"
										tal:content="PETracking/getProduct21"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE22"
										tal:content="PETracking/getProduct22"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE23"
										tal:content="PETracking/getProduct23"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE24"
										tal:content="PETracking/getProduct24"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE25"
										tal:content="PETracking/getProduct25"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE26"
										tal:content="PETracking/getProduct26"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE27"
										tal:content="PETracking/getProduct27"/>
								</td>
								<td align='right'>
									<a 	tal:attributes="href PETracking/getURLUpdatePE28"
										tal:content="PETracking/getProduct28"/>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>		

</body>
</html>