<html>
<body>	
	<table cellpadding="1" cellspacing="0" border="1">
		<tr>			
			<th align='left' width="20%"><B>TÊN</B></th>
			<th align='right' width="5%">nhỏx6<BR/>(18g)</th>
			<th align='right' width="5%">nhỏx7<BR/>(21g)</th>
			<th align='right' width="5%">16x30<BR/>(90g)</th>
			<th align='right' width="5%">16x30<BR/>(150g)</th>								
			<th align='right' width="5%">16Cx30<BR/>(150g)</th>
			<th align='right' width="5%">16Cx50<BR/>(250g)</th>
			<th align='right' width="5%">16Cx90<BR/>(500g)</th>
			<th align='right' width="5%">18x30<BR/>(180g)</th>								
			<th align='right' width="5%">19x45<BR/>(300g)</th>
			<th align='right' width="5%">20x30<BR/>(210g)</th>
			<th align='right' width="5%">22x30<BR/>(240g)</th>
			<th align='right' width="5%">22Cx60<BR/>(500g)</th>			
			<th align='right' width="5%">nhỏx10<BR/>(30g)</th>
			<th align='right' width="5%">nhỏx18<BR/>(54g)</th>
			<th align='right' width="5%">18Cx70<BR/>(500g)</th>
			
			<th align='right' width="5%">TỔNG</th>
		</tr>	
		<tr tal:repeat="PIT PITs">			
			<td align='left' tal:content="PIT/getName" />
			<td align='right' tal:content="PIT/getProduct16Print"/>
			<td align='right' tal:content="PIT/getProduct17Print"/>
			<td align='right' tal:content="PIT/getProduct02Print"/>
			<td align='right' tal:content="PIT/getProduct04Print"/>
			<td align='right' tal:content="PIT/getProduct06Print"/>
			<td align='right' tal:content="PIT/getProduct10Print"/>
			<td align='right' tal:content="PIT/getProduct18Print"/>
			<td align='right' tal:content="PIT/getProduct08Print"/>
			<td align='right' tal:content="PIT/getProduct11Print"/>
			<td align='right' tal:content="PIT/getProduct13Print"/>
			<td align='right' tal:content="PIT/getProduct15Print"/>
			<td align='right' tal:content="PIT/getProduct19Print"/>			
			<td align='right' tal:content="PIT/getProduct20Print"/>
			<td align='right' tal:content="PIT/getProduct21Print"/>
			<td align='right' tal:content="PIT/getProduct22Print"/>
			
			<td align='right' tal:content="PIT/getSumPrint"/>
		</tr>
		<tr>
			<td align='left'><B>TỔNG</B></td>
			<td align='right' tal:content="SP16"/>
			<td align='right' tal:content="SP17"/>
			<td align='right' tal:content="SP02"/>
			<td align='right' tal:content="SP04"/>
			<td align='right' tal:content="SP06"/>
			<td align='right' tal:content="SP10"/>
			<td align='right' tal:content="SP18"/>
			<td align='right' tal:content="SP08"/>
			<td align='right' tal:content="SP11"/>
			<td align='right' tal:content="SP13"/>
			<td align='right' tal:content="SP15"/>
			<td align='right' tal:content="SP19"/>
			<td align='right' tal:content="SP20"/>
			<td align='right' tal:content="SP21"/>
			<td align='right' tal:content="SP22"/>
			<td align='right'> <b tal:content="SUM"/></td>
		</tr>
		<tr>
			<td align='left'><B>TỈ LỆ</B></td>
			<td align='right' tal:content="PSP16"/>
			<td align='right' tal:content="PSP17"/>
			<td align='right' tal:content="PSP02"/>
			<td align='right' tal:content="PSP04"/>
			<td align='right' tal:content="PSP06"/>
			<td align='right' tal:content="PSP10"/>
			<td align='right' tal:content="PSP18"/>
			<td align='right' tal:content="PSP08"/>
			<td align='right' tal:content="PSP11"/>
			<td align='right' tal:content="PSP13"/>
			<td align='right' tal:content="PSP15"/>
			<td align='right' tal:content="PSP19"/>
			<td align='right' tal:content="PSP20"/>
			<td align='right' tal:content="PSP21"/>
			<td align='right' tal:content="PSP22"/>
			<td align='right'>100%</td>
		</tr>
	</table>
</body>
</html>