<table cellpadding="2" cellspacing="0" border="1">
	<thead>
		<tr>
			<th align='left'>NGÀY</th>
			<th align='left'>nhỏ x 6</th>
			<th align='left'>nhỏ x 7</th>
			<th align='left'>nhỏ x 10</th>
			<th align='left'>nhỏ x 18</th>
			<th align='left'>nhỏ x 30</th>
			<th align='left'>lớn x 8</th>
			<th align='left'>lớn x 10</th>								
			<th align='left'>Rế 16 (có cal)<BR/>(500g)</th>
		</tr>		
	</thead>
	<tbody>
		<tr tal:repeat="PETracking PETrackings">											
			<td align='left'>
				<B tal:content="PETracking/getDatePrint" />
			</td>								
			<td align='left' tal:content="PETracking/getProduct01"/>
			<td align='left' tal:content="PETracking/getProduct02"/>
			<td align='left' tal:content="PETracking/getProduct03"/>
			<td align='left' tal:content="PETracking/getProduct04"/>
			<td align='left' tal:content="PETracking/getProduct08"/>
			<td align='left' tal:content="PETracking/getProduct22"/>
			<td align='left' tal:content="PETracking/getProduct23"/>
			<td align='left' tal:content="PETracking/getProduct30"/>
		</tr>
	</tbody>
</table>