					<table cellpadding="2" cellspacing="0" border="1">
						<thead>					
							<tr>								
								<th align='center'><B>NGÀY</B></th>
								<th align='center'><B>7gdầux45(300g)</B></th>
								<th align='center'><B>16calx30(150g)</B></th>
								<th align='center'><B>16calx90(500g)</B></th>
								<th align='center'><B>18calx70(500g)</B></th>
								<th align='center'><B>20calTx60(500g)</B></th>
								<th align='center'><B>20calx60(500g)</B></th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="PETracking PETrackings">								
								<td align='center'>
									<B tal:content="PETracking/getDatePrint" />
								</td>								
								<td align='center' tal:content="PETracking/getProduct21"/>
								<td align='center' tal:content="PETracking/getProduct29"/>
								<td align='center' tal:content="PETracking/getProduct30"/>
								<td align='center' tal:content="PETracking/getProduct32"/>
								<td align='center' tal:content="PETracking/getProduct33"/>
								<td align='center' tal:content="PETracking/getProduct34"/>
							</tr>
						</tbody>
					</table>