<html>	
<body>
	<table align="center" border="1" cellspacing="0" cellpadding="2">
		<tr>					
			<td align='left' width='37%'><b>TÊN</b></td>
			<td align='right' width='7%'><b>Bột</b></td>
			<td align='right' width='7%'><b>Nilon</b></td>
			<td align='right' width='7%'><b>Dầu đặc</b></td>
			<td align='right' width='7%'><b>Dầu nước</b></td>
			<td align='right' width='7%'><b>Cal</b></td>
			<td align='right' width='7%'><b>Gas</b></td>
			<td align='right' width='7%'><b>Bột năng</b></td>
			<td align='right' width='7%'><b>Bột pha</b></td>
			<td align='right' width='7%'><b>Mũ cũ</b></td>
		</tr>
		<tr tal:repeat="RET RETs">			
			<td align='left' tal:content="RET/getName"></td>
			<td align='right' tal:content="RET/getResource01Print"/>
			<td align='right' tal:content="RET/getResource02Print" />
			<td align='right' tal:content="RET/getResource03Print" />
			<td align='right' tal:content="RET/getResource04Print" />
			<td align='right' tal:content="RET/getResource05Print" />
			<td align='right' tal:content="RET/getResource06Print" />
			<td align='right' tal:content="RET/getResource07Print" />
			<td align='right' tal:content="RET/getResource08Print" />
			<td align='right' tal:content="RET/getResource09Print" />
		</tr>
		<tr>					
			<td align='left'><b>TỔNG</b></td>
			<td align='right'><b tal:content="SR01"/></td>
			<td align='right'><b tal:content="SR02"/></td>
			<td align='right'><b tal:content="SR03"/></td>
			<td align='right'><b tal:content="SR04"/></td>
			<td align='right'><b tal:content="SR05"/></td>
			<td align='right'><b tal:content="SR06"/></td>
			<td align='right'><b tal:content="SR07"/></td>
			<td align='right'><b tal:content="SR08"/></td>
			<td align='right'><b tal:content="SR09"/></td>
		</tr>
	</table>	
</body>
</html>