<html>	
<body>
	<table align="center" border="1" cellspacing="0" cellpadding="2">
		<tr>						
			<th align='center' width="15%"><b>NGÀY</b></th>
			<th align='right' width="35%"><b>TIỀN ỨNG</b></th>
			<th align='left' width="50%"><b>LÍ DO ỨNG</b></th>
		</tr>
		<tr tal:repeat="FLTracking FLTrackings">			
			<td align='center' tal:content="FLTracking/getDatePrint" />
			<td align='right' tal:content="FLTracking/getValuePrint"/>
			<td align='left' tal:content="FLTracking/getDescription"/>
		</tr>		
	</table>	
</body>
</html>