<html>	
<body>
	<table align="center" border="1" cellspacing="0" cellpadding="2">
		<tr>			
			<th align='left'>NGÀY</th>
			<th align='right'>NGUYÊN LIỆU</th>
			<th align='right'>TẠM ỨNG</th>
			<th align='right'>GIAO HÀNG</th>
		</tr>
		<tr tal:repeat="FactoryTracking FactoryTrackings">			
			<td align='left' tal:content="FactoryTracking/getDatePrint"></td>
			<td align='right' tal:content="FactoryTracking/getGenerate1Print"></td>
			<td align='right' tal:content="FactoryTracking/getGenerate2Print"></td>
			<td align='right' tal:content="FactoryTracking/getGenerate3Print"></td>
		</tr>			
	</table>	
</body>
</html>