<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 			
		<link rel="icon" type="image/ico" href="mvc/templates/theme/image/favicon.ico" />
		<script type="text/javascript" language="javascript" src="mvc/templates/script/jquery.js"></script>	
		<script type="text/javascript" language="javascript" src="mvc/templates/script/main.js"></script>
		<script type="text/javascript" language="javascript" src="mvc/templates/script/jquery.textchange.js"/>
		<script type="text/javascript" language="javascript" src="mvc/templates/script/jquery.ui.core.js"/>
		
		<link rel="stylesheet" type="text/css" href="mvc/templates/theme/css/jquery.ui.theme.css"/>
		<link rel="stylesheet" type="text/css" href="mvc/templates/theme/css/jquery.ui.datepicker.css"/>				
		<link rel="stylesheet" type="text/css" href="mvc/templates/theme/css/main_2.css"/>		
		<link rel="stylesheet" type="text/css" href="mvc/templates/theme/css/form.css"/>		
		<link rel="stylesheet" type="text/css" href="mvc/templates/theme/css/ButtonTheme.css"/>
		<script type="text/javascript" language="javascript" src="mvc/templates/script/Button.js"></script>
	</head>
<body>
<div id="frame">
	<div id="page">
		<span metal:use-macro="macros.xhtml/HeaderModuleFactories"/>
		<div id="module2">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title"/>
				</div>				
			</div>
			<div id="Column1of1">
				<div id="Title">
					<a title="Quay lại" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
						tal:attributes = "href ParentsLinked">
						<span class="ButtonIcon ButtonIconArrowreturn1-n"></span>X
					</a>											
				</div>
				<div id="SubColumn2of2">
					<div id="form1">				
					<form id="form" method="post" class='form'>
						<table align='center'>							
							<tr>
								<td align='right'><LABEL>Tên: </LABEL></td> 
								<td align='left'><INPUT size='20' type="text" name="Name" tal:attributes = "value Product/getName"/></td>
							</tr>							
							<tr>
								<td align='right'><LABEL>Trọng lượng: </LABEL></td> 
								<td align='left'><INPUT size='20' type="text" name="Weight" tal:attributes = "value Product/getWeight"/></td>
							</tr>
							<tr>
								<td align='right'><LABEL>Số lượng: </LABEL></td> 
								<td align='left'><INPUT size='20' type="text" name="Quantity" tal:attributes = "value Product/getQuantity"/></td>
							</tr>
							<tr>
								<td align='right'><LABEL>Tên đầy đủ: </LABEL></td> 
								<td align='left'><INPUT size='20' type="text" name="FullName" tal:attributes = "value Product/getFullName"/></td>
							</tr>
							<tr>
								<td align='right'><LABEL>Ghi chú: </LABEL></td>
								<td align='left'><INPUT size='20' type="text" name="Description" tal:attributes = "value Product/getDescription"/></td>
							</tr>
						</table>
						<div id="button1">						
						<table align='center'>
							<tr>
								<td style='padding-top:10px;'>							
									<a style='float:center;' href='#' onclick="document.getElementById('form').submit()" class="Button StateDefault ButtonIconLeft CornerAll">
										<span class="ButtonIcon ButtonIconDisk"/>Cập nhật
									</a>
								</td>
							</tr>
						</table>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>
						
</body>
</html>