<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeBase"/>
		<script type="text/javascript" language="javascript" src="mvc/templates/script/jquery.init.dataTables.js"/>
	</head>
<body>	
<div id="frame">
	<div id="page">
		<span metal:use-macro="macros.xhtml/HeaderModuleFactories"/>
		<div id="module">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title"/>
				</div>
				<div id="Button">
					<a title='Bảng chấm công hàng ngày' style='margin:6% 4% 0% 3%;width:70%' class="ButtonRight StateDefault ButtonIconRight CornerAll" 
						tal:attributes="href Factory/getURLViewEmployeeProduceTrackings">Bảng chấm công<span class="ButtonIcon ButtonIconFolderOpen"/>
					</a>					
					<a title='Xem bảng ứng tiền' style='margin:3% 4% 0% 3%;width:70%' class="ButtonRight StateDefault ButtonIconRight CornerAll" 
						tal:attributes="href Factory/getURLViewEmployeeLoanTrackings">Bảng ứng tiền<span class="ButtonIcon ButtonIconFolderOpen"/>
					</a>
					<a title='Bảng giá gia công của công nhân' style='margin:3% 4% 0% 3%;width:70%' class="ButtonRight StateDefault ButtonIconRight CornerAll" 
						tal:attributes="href Factory/getURLViewPriceEmployeeProduceTrackings">Bảng giá gia công<span class="ButtonIcon ButtonIconStar"/>
					</a>
				</div>	
			</div>
			<div id="Column1of1">
				<div id="Title">
					<a title="Quay lại" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
							tal:attributes = "href ParentsLinked">
							<span class="ButtonIcon ButtonIconArrowreturn1-n"></span>quay lại
					</a>
					<a title='Thêm mới nhân viên' id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll"
						tal:attributes="href Factory/getURLInsertEmployee">
							<span class="ButtonIcon ButtonIconPlusthick"></span>
					</a>
				</div>
				<div id="Table">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
						<thead>					
							<tr>
								<th align='center' width='7%'>STT</th>								
								<th align='left'>TÊN</th>
								<th align='left'>GIỚI TÍNH</th>
								<th align='left'>PHONE</th>								
								<th align='left' width='7%'> </th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Employee Employees">
								<td align='center'></td>
								<td align='left'><a tal:attributes="href Employee/getURLUpdate" tal:content="Employee/getName"/></td>
								<td align='left' tal:content="Employee/getSexPrint"></td>
								<td align='left' tal:content="Employee/getPhone"></td>
								<td align='center'>									
									<a title="Xóa nhân viên"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href Employee/getURLDelete">
										<span class="ButtonIcon ButtonIconClose"></span>
									</a>
								</td>
							</tr>
						</tbody>
				</table>										
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>		

</body>
</html>