<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeBase"/>
	<script>
	/*<![CDATA[*/
	$(document).ready(function() {
						
		$('#DataTable').find('tbody tr').hover(
			function(){ $(this).find('td').addClass('table_highlighted');}, 
			function(){	$(this).find('td').removeClass('table_highlighted');}
		);
		
		var oTable = $('#DataTable').dataTable({			
			"bScrollCollapse": true,			
			"bStateSave": false,
			"bFilter": false,
			"bInfo": false,
			"bSort": false,
			"bPaginate": false			
		});
		new FixedHeader( oTable, { "top": true, "zTop": 105 } );
	});
	/*]]>*/
	</script>
	</head>	
<body>	
<div id="frame">
	<div id="page">
		<span metal:use-macro="macros.xhtml/HeaderModuleCustomers"/>
		<div id="module2">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title"/>
				</div>
			</div>
			<div id="Column1of1">
				<div id="Title">					
					<a title='Thêm tổng kết' tal:attributes="href InsertLogLinked" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll">
						<span class="ButtonIcon ButtonIconPlusthick"/>
					</a>
					<a title="Quay lại" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
							tal:attributes = "href ParentsLinked">
							<span class="ButtonIcon ButtonIconArrowreturn1-n"></span>quay lại
					</a>					
				</div>
				<div id="Table">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
						<thead>					
							<tr>								
								<th align='center' width='30%'>NGÀY BẮT ĐẦU</th>
								<th align='center' width='30%'>NGÀY KẾT THÚC</th>
								<th align='center' >ĐỐI CHIẾU</th>
								<th align='center' >TỔNG KẾT</th>
								<th align='center' width='32px'></th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="CL CLs">
								<td align='center'><B tal:content="CL/getDateStartPrint"/></td>
								<td align='center' tal:content="CL/getDateEndPrint"/>
								<td align='center'>
									<a target="blank" tal:attributes="href CL/getURLViewTracking1" tal:content="string:Xem"/>
								</td>
								<td align='center'>
									<a target="blank" tal:attributes="href CL/getURLViewTracking" tal:content="string:Xem"/>
								</td>
								<td align='center'>
									<a title="Theo dõi trả tiền"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href CL/getURLDelete">
										<span class="ButtonIcon ButtonIconClose"/>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>		

</body>
</html>