<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeBase"/>
	<script>
	/*<![CDATA[*/
	$(document).ready(function() {
						
		$('#DataTable').find('tbody tr').hover(
			function(){ $(this).find('td').addClass('table_highlighted');}, 
			function(){	$(this).find('td').removeClass('table_highlighted');}
		);
		
		var oTable = $('#DataTable').dataTable({			
			"bScrollCollapse": true,			
			"bStateSave": false,
			"bFilter": false,
			"bInfo": false,
			"bSort": false,
			"bPaginate": false			
		}).makeEditable({
                sUpdateURL: "?cmd=UpdateResourceImport",
                "aoColumns": [
					null,	
                    {
                	    indicator: 'Lưu số lượng...',
						tooltip: 'Click để chỉnh sửa số lượng GAS'
                    }
				]
			});
			new FixedHeader( oTable, { "top": true, "zTop": 105 } );
	});
	/*]]>*/	
	</script>
	</head>	
<body>	
<div id="frame">
	<div id="page">
		<span metal:use-macro="macros.xhtml/HeaderModuleSuppliers"/>
		<div id="module2">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title"/>					
				</div>
			</div>
			<div id="Column1of1">
				<div id="Title">					
					<a title="Tới" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
							tal:attributes="href Supplier/getURLResourceImportsNext">
							<span class="ButtonIcon ButtonIconSeekNext"/>
					</a>
					<a title="Lui" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll"
							tal:attributes="href Supplier/getURLResourceImportsBefore">
							<span class="ButtonIcon ButtonIconSeekPrev"/>
					</a>
					<a title="Quay lại" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
							tal:attributes = "href ParentsLinked">
							<span class="ButtonIcon ButtonIconArrowreturn1-n"></span>quay lại
					</a>
										
				</div>
				<div id="Table">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
						<thead>					
							<tr>								
								<th align='center' width='10%'>NGÀY</th>								
								<th align='center' width='10%'>Gas</th>								
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="RIT RITs">								
								<td align='center'><b tal:content="RIT/getDatePrint"/></td>								
								<td align='center' tal:content="RIT/getResource06"/>								
							</tr>
						</tbody>						
					</table>										
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>
</body>
</html>