<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />		
		<link rel="icon" type="image/ico" href="mvc/templates/theme/image/favicon.ico" />
		<script type="text/javascript" language="javascript" src="mvc/templates/script/jquery.js"></script>					
		<script type="text/javascript" language="javascript" src="mvc/templates/script/main.js"></script>
		<script type="text/javascript" language="javascript" src="mvc/templates/script/jquery.textchange.js"></script>	
		<script type="text/javascript" language="javascript" src="mvc/templates/script/Button.js"></script>
		<link rel="stylesheet" type="text/css" href="mvc/templates/theme/css/ButtonTheme.css"/>	
		<link rel="stylesheet" type="text/css" href="mvc/templates/theme/css/main_2.css"/>		
	</head>
<body>
<div id="frame">
	<div id="page">
		<span metal:use-macro="macros.xhtml/HeaderModuleSettings"/>
		<div id="module">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title" />
				</div>	
				<div id="Button">
					<a title='Giá giao nguyên liệu lò' style='margin:6% 4% 0% 3%;width:70%' class="ButtonRight StateDefault ButtonIconRight CornerAll" 
						href ="?cmd=ViewPriceResourceExportTrackings">Giá giao nguyên liệu<span class="ButtonIcon ButtonIconStar"/>
					</a>
					<a title='Giá nhập nguyên liệu lò' style='margin:6% 4% 0% 3%;width:70%' class="ButtonRight StateDefault ButtonIconRight CornerAll" 
						href ="?cmd=ViewPriceResourceImportTrackings">Giá nhập nguyên liệu<span class="ButtonIcon ButtonIconStar"/>
					</a>
					<a title='Giá sản phẩm lò' style='margin:6% 4% 0% 3%;width:70%' class="ButtonRight StateDefault ButtonIconRight CornerAll" 
						href ="?cmd=ViewPriceProductImportTrackings">Giá lò gia công<span class="ButtonIcon ButtonIconStar"/>
					</a>					
					<a title='Giá sản phẩm sạp' style='margin:6% 4% 0% 3%;width:70%' class="ButtonRight StateDefault ButtonIconRight CornerAll" 
						href ="?cmd=ViewPriceProductExportTrackings">Giá bán sạp<span class="ButtonIcon ButtonIconStar"/>
					</a>
					<a title='Danh mục sản phẩm' style='margin:3% 4% 0% 3%;width:70%' class="ButtonRight StateDefault ButtonIconRight CornerAll"
						href ="?cmd=ViewProducts">Danh mục sản phẩm<span class="ButtonIcon ButtonIconFolderOpen"/>
					</a>
										
				</div>
			</div>
			<div id="Column1of1">
				
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>

</body>
</html>