<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeBase"/>
		<script>
	/*<![CDATA[*/
	$(document).ready(function() {
						
		$('#DataTable').find('tbody tr').hover(
			function(){ $(this).find('td').addClass('table_highlighted');}, 
			function(){	$(this).find('td').removeClass('table_highlighted');}
		);
		
		var oTable = $('#DataTable').dataTable({			
			"bScrollCollapse": true,					
			"bStateSave": false,
			"bFilter": false,
			"bInfo": false,
			"bSort": false,
			"bPaginate": false
		});
	});
	/*]]>*/	
	</script>
	</head>	
<body>	
<div id="frame">
	<div id="page">
		<span metal:use-macro="macros.xhtml/HeaderModuleCustomers"/>
		<div id="module2">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title"/>
				</div>
			</div>
			<div id="Column1of1">
				<div id="Title">
					
				</div>
				<div id="Table">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
						<thead>					
							<tr>						
								<th align='left'>STT</th>
								<th align='left'>TÊN</th>
								<th align='left'>PHONE</th>
								<th align='left'>NHẬN HÀNG</th>
								<th align='left'>GIAO TIỀN</th>								
								<th align='left'>SỔ NHẬT KÍ</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Customer Customers">
								<td align='left' tal:content="Customer/getId" />								
								<td align='left'>
									<a tal:attributes="href Customer/getURLUpdate" tal:content="Customer/getName"/>
								</td>
								<td align='left' tal:content="Customer/getPhone"/>
								<td align='left'>
									<a title="Theo dõi nhận hàng"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href Customer/getURLViewProductExports">
										<span class="ButtonIcon ButtonIconCart"/>
									</a>
								</td>
								<td>
									<a title="Theo dõi trả tiền"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href Customer/getURLViewPaids">
										<span class="ButtonIcon ButtonIconTransferthick-e-w"/>
									</a>
								</td>
								<td>
									<a title="Nhật kí tổng kết"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href Customer/getURLViewLogs">
										<span class="ButtonIcon ButtonIconCalculator"/>
									</a>
								</td>
							</tr>
						</tbody>
				</table>										
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>		

</body>
</html>