<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeBase"/>
	<script>
	/*<![CDATA[*/	
	$(document).ready(function() {						
		$('#DataTable').find('tbody tr').hover(
			function(){ $(this).find('td').addClass('table_highlighted');}, 
			function(){	$(this).find('td').removeClass('table_highlighted');}
		);
		
		var oTable = $('#DataTable').dataTable({			
			"bScrollCollapse": true,
			"bStateSave": false,
			"bFilter": false,
			"bInfo": false,
			"bSort": false,
			"bPaginate": false			
		}).makeEditable({
                sUpdateURL: "?cmd=UpdateProductExport&IdCustomer=7",
                "aoColumns": [
					null,
					{ indicator: 'Lưu số lượng...',
						tooltip: 'Click để chỉnh sửa'
                    },
					{ indicator: 'Lưu số lượng...',
						tooltip: 'Click để chỉnh sửa'
                    },
					{ indicator: 'Lưu số lượng...',
						tooltip: 'Click để chỉnh sửa'
                    },
					{ indicator: 'Lưu số lượng...',
						tooltip: 'Click để chỉnh sửa'
                    },
					{ indicator: 'Lưu số lượng...',
						tooltip: 'Click để chỉnh sửa'
                    },
					{ indicator: 'Lưu số lượng...',
						tooltip: 'Click để chỉnh sửa'
                    }
				]
			});	
		new FixedHeader( oTable, { "top": true, "zTop": 105 } );
	});
	/*]]>*/	
	</script>
	</head>	
<body>
<div id="frame">
	<div id="page">		
		<span metal:use-macro="macros.xhtml/HeaderModuleCustomers"/>
		<div id="module2">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title"/>
				</div>				
			</div>
			<div id="Column1of1">
				<div id="Title">
					<a title="Tới" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
						tal:attributes="href Customer/getURLViewProductExportsNextMonth">
						<span class="ButtonIcon ButtonIconSeekNext"/>
					</a>
					<a title="Lui" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll"
						tal:attributes="href Customer/getURLViewProductExportsBeforeMonth">
						<span class="ButtonIcon ButtonIconSeekPrev"/>
					</a>
					<a title="Quay lại" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
							tal:attributes = "href ParentsLinked">
							<span class="ButtonIcon ButtonIconArrowreturn1-n"></span>quay lại
					</a>				
					<a title="In" target="blank" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
							tal:attributes = "href Customer/getURLPrintProductExports">
							<span class="ButtonIcon ButtonIconPrint"/>
					</a>
				</div>
				<div id="Table">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
						<thead>					
							<tr>								
								<th align='left'>NGÀY</th>
								<th align='left'>nhỏ x 6</th>
								<th align='left'>nhỏ x 7</th>
								<th align='left'>nhỏ x 10</th>
								<th align='left'>nhỏ x 18</th>
								<th align='left'>lớn x 8</th>
								<th align='left'>lớn x 10</th>								
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="PETracking PETrackings">								
								<td align='left'>
									<B tal:content="PETracking/getDatePrint" />
								</td>								
								<td align='left' tal:content="PETracking/getProduct01"/>
								<td align='left' tal:content="PETracking/getProduct02"/>
								<td align='left' tal:content="PETracking/getProduct03"/>
								<td align='left' tal:content="PETracking/getProduct04"/>
								<td align='left' tal:content="PETracking/getProduct22"/>
								<td align='left' tal:content="PETracking/getProduct23"/>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>		

</body>
</html>