.Button { 
	outline: 0; 
	margin:0 4px 0 0; 
	padding: .4em 1em; 
	text-decoration:none !important; 
	cursor:pointer; 
	position: relative; 
	text-align: center; 
	zoom: 1; 
}
.Button_Table{ 
	outline: 0; 
	margin:0 4px 0 0; 
	padding: .4em 1em; 
	text-decoration:none !important; 
	cursor:pointer; 
	position: relative; 
	text-align: center; 
	zoom: 1; 
}
a.Button { float:left; }

a.Button_Table { 
	float:left; 
	display:block;
	position:relative;
	left:40px;
}

a.ButtonRight { float:right; }

a.ButtonRight_Table { float:right; }

.Button .ButtonIcon { 
	position: absolute; 
	top: 50%; 
	margin-top: -8px; 
	left: 50%; 
	margin-left: -8px; 
}

.Button_Table.ButtonIcon{ 
	position: absolute; 
	top: 50%; 
	margin-top: -8px; 
	left: 100%; 
	margin-left: -8px; 
}			

.ButtonIcon { 
	position: absolute;	
	top: 50%; 
	margin-top: -8px; 
	left: 50%; 
	margin-left: -8px;	
	width: 16px; 
	height: 16px; 
	background-image: url('images/button/ButtonIcons_808080_256x240.png'); 
}

.ButtonIcon_Table{ 
	display:block;
	position: absolute;	
	top: 50%; 
	margin-top: -195px; 
	left: 50%; 
	margin-left: -70px;	
	width: 16px; 
	height: 16px; 
	background-image: url('images/button/ButtonIcons_808080_256x240.png'); 
}
			


.ButtonIconSolo { 
	display:block; 
	width:8px; 
	height:16px;
	text-indent: -9999px; 
}
/* button 
.ButtonIconLeft { padding-left: 2.1em; }
.ButtonIconRight { padding-right: 2.1em; }
.ButtonIconLeft .ButtonIcon { right: auto; left: .2em; margin-left: 0; }
.ButtonIconRight .ButtonIcon { left: auto; right: .2em; margin-left: 0; }
*/			

.StateDefault { 
	border: 1px solid #BFBFBF; 
	background: #BFBFBF url('images/button/ButtonBG_EDEDED.png') 50% 50% repeat-x; 
	font-weight: bold; 
	color: #ffffff; 
	outline: none; 
}
.StateDefault a, .StateDefault a:link, .StateDefault a:visited { 
	color: #ffffff; 
	text-decoration: none; 
	outline: none; 
}

.StateDefault .ButtonIcon { 
	background-image: url('images/button/ButtonIcons_eeeeee_256x240.png'); 	
}

.StateHover .ButtonIcon, .StateFocus .ButtonIcon {
	background-image: url('images/button/Button-icons_ffffff_256x240.png');
}

.StateWhiteHover .ButtonIcon, .StateFocus .ButtonIcon {
	background-image: url('images/button/ButtonIcons_808080_256x240.png');
}
.StateHover, .StateFocus { 
	border: 1px solid #FFFFFF; 
	background: url("images/button/Button-bg_inset-soft_22_3b3b35_1x100.png") repeat-x scroll 50% 50% #56C5F9;
	font-weight: bold; 
	color: #ffffff; 
	outline: none;
}
.StateHover a, .StateHover a:hover { 
	color: #ffffff; 
	text-decoration: none; 
	outline: none; 
}
.StateActive{ 
	border: 1px solid #999999; 
	background: #f0efea url('images/button/Button-bg_diagonals-small_100_f0efea_40x40.png') 50% 50% repeat; 
	font-weight: bold; 
	color: #403D38; 
	outline: none;
}
.StateActive a, .StateActive a:link, .StateActive a:visited { color: #403D38; outline: none; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.StateHighlight, .spn-widget-content .StateHighlight {
	border: 1px solid #e8e1b5; 
	background: #fcf0ba url('images/button/ButtonBG_glass_55_fcf0ba_1x400.png') 50% 50% repeat-x; 
	color: #363636; 
}
.StateHighlight a { color: #363636; }

/* positioning */
.ButtonIconCarat1-n { background-position: 0 0; }
.ButtonIconCarat1-ne { background-position: -16px 0; }
.ButtonIconCarat1-e { background-position: -32px 0; }
.ButtonIconCarat1-se { background-position: -48px 0; }
.ButtonIconCarat1-s { background-position: -64px 0; }
.ButtonIconCarat1-sw { background-position: -80px 0; }
.ButtonIconCarat1-w { background-position: -96px 0; }
.ButtonIconCarat1-nw { background-position: -112px 0; }
.ButtonIconCarat2-n-s { background-position: -128px 0; }
.ButtonIconCarat2-e-w { background-position: -144px 0; }
.ButtonIconTriangle1-n { background-position: 0 -16px; }
.ButtonIconTriangle1-ne { background-position: -16px -16px; }
.ButtonIconTriangle1-e { background-position: -32px -16px; }
.ButtonIconTriangle1-se { background-position: -48px -16px; }
.ButtonIconTriangle1-s { background-position: -64px -16px; }
.ButtonIconTriangle1-sw { background-position: -80px -16px; }
.ButtonIconTriangle1-w { background-position: -96px -16px; }
.ButtonIconTriangle1-nw { background-position: -112px -16px; }
.ButtonIconTriangle2-n-s { background-position: -128px -16px; }
.ButtonIconTriangle2-e-w { background-position: -144px -16px; }
.ButtonIconArrow1-n { background-position: 0 -32px; }
.ButtonIconArrow1-ne { background-position: -16px -32px; }
.ButtonIconArrow1-e { background-position: -32px -32px; }
.ButtonIconArrow1-se { background-position: -48px -32px; }
.ButtonIconArrow1-s { background-position: -64px -32px; }
.ButtonIconArrow1-sw { background-position: -80px -32px; }
.ButtonIconArrow1-w { background-position: -96px -32px; }
.ButtonIconArrow1-nw { background-position: -112px -32px; }
.ButtonIconArrow2-n-s { background-position: -128px -32px; }
.ButtonIconArrow2-ne-sw { background-position: -144px -32px; }
.ButtonIconArrow2-e-w { background-position: -160px -32px; }
.ButtonIconArrow2-se-nw { background-position: -176px -32px; }
.ButtonIconArrowstop1-n { background-position: -192px -32px; }
.ButtonIconArrowstop1-e { background-position: -208px -32px; }
.ButtonIconArrowstop1-s { background-position: -224px -32px; }
.ButtonIconArrowstop1-w { background-position: -240px -32px; }
.ButtonIconArrowthick1-n { background-position: 0 -48px; }
.ButtonIconArrowthick1-ne { background-position: -16px -48px; }
.ButtonIconArrowthick1-e { background-position: -32px -48px; }
.ButtonIconArrowthick1-se { background-position: -48px -48px; }
.ButtonIconArrowthick1-s { background-position: -64px -48px; }
.ButtonIconArrowthick1-sw { background-position: -80px -48px; }
.ButtonIconArrowthick1-w { background-position: -96px -48px; }
.ButtonIconArrowthick1-nw { background-position: -112px -48px; }
.ButtonIconArrowthick2-n-s { background-position: -128px -48px; }
.ButtonIconArrowthick2-ne-sw { background-position: -144px -48px; }
.ButtonIconArrowthick2-e-w { background-position: -160px -48px; }
.ButtonIconArrowthick2-se-nw { background-position: -176px -48px; }
.ButtonIconArrowthickstop1-n { background-position: -192px -48px; }
.ButtonIconArrowthickstop1-e { background-position: -208px -48px; }
.ButtonIconArrowthickstop1-s { background-position: -224px -48px; }
.ButtonIconArrowthickstop1-w { background-position: -240px -48px; }
.ButtonIconArrowreturnthick1-w { background-position: 0 -64px; }
.ButtonIconArrowreturnthick1-n { background-position: -16px -64px; }
.ButtonIconArrowreturnthick1-e { background-position: -32px -64px; }
.ButtonIconArrowreturnthick1-s { background-position: -48px -64px; }
.ButtonIconArrowreturn1-w { background-position: -64px -64px; }
.ButtonIconArrowreturn1-n { background-position: -80px -64px; }
.ButtonIconArrowreturn1-e { background-position: -96px -64px; }
.ButtonIconArrowreturn1-s { background-position: -112px -64px; }
.ButtonIconArrowrefresh1-w { background-position: -128px -64px; }
.ButtonIconArrowrefresh1-n { background-position: -144px -64px; }
.ButtonIconArrowrefresh1-e { background-position: -160px -64px; }
.ButtonIconArrowrefresh1-s { background-position: -176px -64px; }
.ButtonIconArrow4 { background-position: 0 -80px; }
.ButtonIconArrow4-diag { background-position: -16px -80px; }
.ButtonIconExtlink { background-position: -32px -80px; }
.ButtonIconNewwin { background-position: -48px -80px; }
.ButtonIconRefresh { background-position: -64px -80px; }
.ButtonIconShuffle { background-position: -80px -80px; }
.ButtonIconTransfer-e-w { background-position: -96px -80px; }
.ButtonIconTransferthick-e-w { background-position: -112px -80px; }
.ButtonIconFolderCollapsed { background-position: 0 -96px; }
.ButtonIconFolderOpen { background-position: -16px -96px; }
.ButtonIconDocument { background-position: -32px -96px; }
.ButtonIconDocument-b { background-position: -48px -96px; }
.ButtonIconNote { background-position: -64px -96px; }
.ButtonIconMailClosed { background-position: -80px -96px; }
.ButtonIconMailOpen { background-position: -96px -96px; }
.ButtonIconSuitCase { background-position: -112px -96px; }
.ButtonIconComment { background-position: -128px -96px; }
.ButtonIconPerson { background-position: -144px -96px; }
.ButtonIconPrint { background-position: -160px -96px; }
.ButtonIconTrash { background-position: -176px -96px; }
.ButtonIconLocked { background-position: -192px -96px; }
.ButtonIconUnlocked { background-position: -208px -96px; }
.ButtonIconBookmark { background-position: -224px -96px; }
.ButtonIconTag { background-position: -240px -96px; }
.ButtonIconHome { background-position: 0 -112px; }
.ButtonIconLlag { background-position: -16px -112px; }
.ButtonIconCalendar { background-position: -32px -112px; }
.ButtonIconCart { background-position: -48px -112px; }
.ButtonIconPencil { background-position: -64px -112px; }
.ButtonIconClock { background-position: -80px -112px; }
.ButtonIconDisk { background-position: -96px -112px; }
.ButtonIconCalculator { background-position: -112px -112px; }
.ButtonIconZoomin { background-position: -128px -112px; }
.ButtonIconZoomout { background-position: -144px -112px; }
.ButtonIconSearch { background-position: -160px -112px; }
.ButtonIconWrench { background-position: -176px -112px; }
.ButtonIconGear { background-position: -192px -112px; }
.ButtonIconHeart { background-position: -208px -112px; }
.ButtonIconStar { background-position: -224px -112px; }
.ButtonIconLink { background-position: -240px -112px; }
.ButtonIconCancel { background-position: 0 -128px; }
.ButtonIconPlus { background-position: -16px -128px; }
.ButtonIconPlusthick { background-position: -32px -128px; }
.ButtonIconMinus { background-position: -48px -128px; }
.ButtonIconMinusthick { background-position: -64px -128px; }
.ButtonIconClose { background-position: -80px -128px; }
.ButtonIconClosethick { background-position: -96px -128px; }
.ButtonIconKey { background-position: -112px -128px; }
.ButtonIconLightbulb { background-position: -128px -128px; }
.ButtonIconScissors { background-position: -144px -128px; }
.ButtonIconClipboard { background-position: -160px -128px; }
.ButtonIconCopy { background-position: -176px -128px; }
.ButtonIconContact { background-position: -192px -128px; }
.ButtonIconImage { background-position: -208px -128px; }
.ButtonIconVideo { background-position: -224px -128px; }
.ButtonIconScript { background-position: -240px -128px; }
.ButtonIconAlert { background-position: 0 -144px; }
.ButtonIconInfo { background-position: -16px -144px; }
.ButtonIconNotice { background-position: -32px -144px; }
.ButtonIconHelp { background-position: -48px -144px; }
.ButtonIconCheck { background-position: -64px -144px; }
.ButtonIconBullet { background-position: -80px -144px; }
.ButtonIconRadioOff { background-position: -96px -144px; }
.ButtonIconRadioOn { background-position: -112px -144px; }
.ButtonIconPinW { background-position: -128px -144px; }
.ButtonIconPinS { background-position: -144px -144px; }
.ButtonIconPlay { background-position: 0 -160px; }
.ButtonIconPause { background-position: -16px -160px; }
.ButtonIconSeekNext { background-position: -32px -160px; }
.ButtonIconSeekPrev { background-position: -48px -160px; }
.ButtonIconSeekEnd { background-position: -64px -160px; }
.ButtonIconSeekFirst { background-position: -80px -160px; }
.ButtonIconStop { background-position: -96px -160px; }
.ButtonIconEject { background-position: -112px -160px; }
.ButtonIconVolumeOff { background-position: -128px -160px; }
.ButtonIconVolumeOn { background-position: -144px -160px; }
.ButtonIconPower { background-position: 0 -176px; }
.ButtonIconSignalDiag { background-position: -16px -176px; }
.ButtonIconSignal { background-position: -32px -176px; }
.ButtonIconBattery-0 { background-position: -48px -176px; }
.ButtonIconBattery-1 { background-position: -64px -176px; }
.ButtonIconBattery-2 { background-position: -80px -176px; }
.ButtonIconBattery-3 { background-position: -96px -176px; }
.ButtonIconCirclePlus { background-position: 0 -192px; }
.ButtonIconCircleMinus { background-position: -16px -192px; }
.ButtonIconCircleClose { background-position: -32px -192px; }
.ButtonIconCircleTrianglee { background-position: -48px -192px; }
.ButtonIconCircleTriangles { background-position: -64px -192px; }
.ButtonIconCircleTrianglew { background-position: -80px -192px; }
.ButtonIconCircleTrianglen { background-position: -96px -192px; }
.ButtonIconCircleArrowe { background-position: -112px -192px; }
.ButtonIconCircleArrows { background-position: -128px -192px; }
.ButtonIconCircleArroww { background-position: -144px -192px; }
.ButtonIconCircleArrown { background-position: -160px -192px; }
.ButtonIconCircleZoomin { background-position: -176px -192px; }
.ButtonIconCircleZoomout { background-position: -192px -192px; }
.ButtonIconCircleCheck { background-position: -208px -192px; }
.ButtonIconCirclesmallPlus { background-position: 0 -208px; }
.ButtonIconCirclesmallMinus { background-position: -16px -208px; }
.ButtonIconCirclesmallClose { background-position: -32px -208px; }
.ButtonIconSquaresmallPlus { background-position: -48px -208px; }
.ButtonIconSquaresmallMinus { background-position: -64px -208px; }
.ButtonIconSquaresmallClose { background-position: -80px -208px; }
.ButtonIconGripDottedVertical { background-position: 0 -224px; }
.ButtonIconGripDottedHorizontal { background-position: -16px -224px; }
.ButtonIconGripSolidVertical { background-position: -32px -224px; }
.ButtonIconGripSolidHorizontal { background-position: -48px -224px; }
.ButtonIconGripsmallDiagonalSe { background-position: -64px -224px; }
.ButtonIconGripDiagonalSe { background-position: -80px -224px; }

/* Corner radius */
.CornerTL{ -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; }
.CornerTR { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.CornerBL { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.CornerBR { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.CornerT { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; }
.CornerBottom { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.CornerRight {  -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; }
.CornerLeft { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; }
.CornerAll { -moz-border-radius: 4px; -webkit-border-radius: 4px; }