<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/Paid.js"/>
	</head>
<body>
	<div id="paid" data-role="page" class="type-interior">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1>MODULE CHI TRẢ</h1>
			<a tal:attributes="href User/getApp/getURLApp" data-icon="home" data-ajax="false">TRANG CHỦ</a>
			<a tal:attributes="href User/getApp/getURLSetting" data-icon="gear" data-transition="none" data-ajax="false">THIẾT LẬP</a>
		</div>
		<div data-role="content">
			<div class="content-primary">				
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>LOẠI CHI TRẢ</h3>
					<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d">
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLPaidSupplier">1. NHÀ CUNG CẤP</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLPaidEmployee">2. NHÂN VIÊN</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLPaidCustomer">3. KHÁCH HÀNG</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLPaidOther">4. CHI KHÁC</a></li>
					</ul>
				</div>
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
					<h3>MODULE</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li><a data-ajax="false" data-transition="none" tal:attributes="href User/getApp/getURLSelling">BÁN HÀNG</a></li>
						<li><a data-ajax="false" data-transition="none" tal:attributes="href User/getApp/getURLImport">NHẬP HÀNG</a></li>
						<li data-theme="a"><a data-ajax="false" data-transition="none" tal:attributes="href User/getApp/getURLPaid">CHI TRẢ</a></li>
						<li><a data-ajax="false" data-transition="none" tal:attributes="href User/getApp/getURLReport">BÁO CÁO</a></li>
						<li><a data-ajax="false" data-transition="none" tal:attributes="href User/getApp/getURLSetting">THIẾT LẬP</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
	
	<div id="employee" data-role="page" class="type-interior">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1>CHI TRẢ NHÂN VIÊN</h1>
			<a tal:attributes="href User/getApp/getURLPaid" data-icon="back" data-ajax="false">LUI</a>
			<a tal:attributes="href User/getApp/getURLSettingEmployee" data-icon="gear" data-transition="none" data-ajax="false">THIẾT LẬP</a>
		</div>
		<div data-role="content">
			<div class="content-primary">				
				
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d" data-filter="true" data-filter-placeholder="Gõ tìm nhân viên">
					<li tal:repeat="Employee Employees">
						<a data-ajax="false" tal:attributes="href Employee/getURLPaid">
							<span tal:content="repeat/Employee/number"/>. <span tal:content="Employee/getName"/>
						</a>
					</li>
				</ul>
				
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
					<h3>CHI TRẢ</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidSupplier">1. NHÀ CUNG CẤP</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidCustomer">2. KHÁCH HÀNG</a></li>
						<li data-theme="a"><a data-transition="none" tal:attributes="href User/getApp/getURLPaidEmployee">3. NHÂN VIÊN</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidOther">4. CHI KHÁC</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
	
	<div id="other" data-role="page" class="type-interior">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1>CHI TRẢ KHÁC</h1>
			<a tal:attributes="href User/getApp/getURLPaid" data-icon="back" data-ajax="false">LUI</a>
			<a tal:attributes="href User/getApp/getURLSettingTerm" data-icon="gear" data-transition="none" data-ajax="false">THIẾT LẬP</a>
		</div>
		<div data-role="content">
			<div class="content-primary">				
				
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d" data-filter="true" data-filter-placeholder="Gõ tìm chi phí">
					<li tal:repeat="Term Terms">
						<a data-ajax="false" tal:attributes="href Term/getURLPaid">
							<span tal:content="repeat/Term/number"/>. <span tal:content="Term/getName"/>
						</a>
					</li>
				</ul>
				
			</div><!--/content-primary -->
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
					<h3>CHI TRẢ</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidSupplier">1. NHÀ CUNG CẤP</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidCustomer">2. KHÁCH HÀNG</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidEmployee">3. NHÂN VIÊN</a></li>						
						<li data-theme="a"><a data-transition="none" tal:attributes="href User/getApp/getURLPaidOther">4. CHI KHÁC</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
	
	<div id="supplier" data-role="page" class="type-interior">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1>CHI TRẢ NHÀ CUNG CẤP</h1>
			<a tal:attributes="href User/getApp/getURLPaid" data-icon="back" data-ajax="false">LUI</a>
			<a tal:attributes="href User/getApp/getURLSettingSupplier" data-icon="gear" data-transition="none" data-ajax="false">THIẾT LẬP</a>
		</div>
		<div data-role="content">
			<div class="content-primary">
				
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d" data-filter="true" data-filter-placeholder="Gõ tìm nhà cung cấp">
					<li tal:repeat="Supplier Suppliers">
						<a data-ajax="false" tal:attributes="href Supplier/getURLPaid">
							<span tal:content="repeat/Supplier/number"/>. <span tal:content="Supplier/getName"/>
						</a>
					</li>
				</ul>
				
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
					<h3>CHI TRẢ</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li data-theme="a"><a data-transition="none" tal:attributes="href User/getApp/getURLPaidSupplier">1. NHÀ CUNG CẤP</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidCustomer">2. KHÁCH HÀNG</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidEmployee">3. NHÂN VIÊN</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidOther">4. CHI KHÁC</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
	
	<div id="customer" data-role="page" class="type-interior">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1>KHÁCH HÀNG TRẢ</h1>
			<a tal:attributes="href User/getApp/getURLPaid" data-icon="back" data-ajax="false">LUI</a>
			<a tal:attributes="href User/getApp/getURLSettingCustomer" data-icon="gear" data-transition="none" data-ajax="false">THIẾT LẬP</a>
		</div>
		<div data-role="content">
			<div class="content-primary">
				
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d" data-filter="true" data-filter-placeholder="Gõ tìm khách hàng">
					<li tal:repeat="Customer Customers">
						<a data-ajax="false" tal:attributes="href Customer/getURLPaid">
							<span tal:content="repeat/Customer/number"/>. <span tal:content="Customer/getName"/>
						</a>
					</li>
				</ul>
				
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
					<h3>CHI TRẢ</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidSupplier">1. NHÀ CUNG CẤP</a></li>
						<li data-theme="a"><a data-transition="none" tal:attributes="href User/getApp/getURLPaidCustomer">2. KHÁCH HÀNG</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidEmployee">3. NHÂN VIÊN</a></li>
						<li><a data-transition="none" tal:attributes="href User/getApp/getURLPaidOther">4. CHI KHÁC</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
</body>
</html>