<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/ReportOtherDetail.js"/>
	</head>
<body>
	<div data-role="page" class="type-interior">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1 tal:content="Title" />
			<a tal:attributes="href User/getApp/getURLReportOther" data-icon="back" data-ajax="false">LUI</a>
			<a href="/signout/load" data-icon="delete" data-transition="fade">THOÁT</a>
		</div>
		<div data-role="content">
			<div class="content-primary">
				<ul data-role="listview" data-theme="c" data-dividertheme="d" data-inset="true">
					<li tal:repeat="Paid Paids">
						<h3 tal:content="Paid/getTerm/getName"/>
						<p><span tal:content="Paid/getDatePrint"/>, <span tal:content="Paid/getNote"/></p>
						<p class="ui-li-aside"><strong tal:content="Paid/getValuePrint"></strong></p>
					</li>
					<li data-theme="b">
						<h3>TỔNG CỘNG</h3>						
						<p class="ui-li-aside"><strong tal:content="Sum"></strong></p>						
					</li>
				</ul>
			</div><!--/content-primary -->
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>BÁO CÁO</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLReportSelling">BÁN HÀNG</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLReportSupplier">NHÀ CUNG CẤP</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLReportEmployee">NHÂN VIÊN</a></li>
						<li data-theme="a"><a data-ajax="false" tal:attributes="href User/getApp/getURLReportOther">CHI KHÁC</a></li>
					</ul>			
				</div>
			</div>
		</div><!-- /content -->
		<div data-role="footer" class="footer-docs" data-theme="c">
			<p>&copy; 2012 SPN Co,ltd.</p>
		</div>
	</div><!-- /page -->
</body>
</html>