<style type="text/css">
	.hor-minimalist-a{	background: #fff;margin: 45px;border-collapse: collapse;text-align: left;}
	.hor-minimalist-a th{ font-weight: normal; border: 1px solid #000; }
	.hor-minimalist-a td{ padding: 8px; border-right: 1px solid #000; border-left: 1px solid #000; }
</style>

<font size="11">
	<table width="100%" cellpadding="1" cellspacing="0" border="0" bordercolor="#FFF">
		<tr>
			<td width="33%" align="center"><font size="14">ĐẠI LÝ THỨC ĂN GIA SÚC MINH TÀI</font></td>
			<td width="67%" rowspan="2" align="center">
				<font size="18"><b>BÁO CÁO TỒN <span tal:content="NameStore"/></b></font>
			</td>
		</tr>		
	</table>
<br />	
		<table class="hor-minimalist-a" width="100%" cellpadding="2" cellspacing="0" border="0">
		<thead>
			<tr>
				<th scope="col" width="6%" align='center'><B>STT</B></th>
				<th scope="col" width="28%" align='center'><B>TÊN HÀNG</B></th>						
				<th scope="col" width="10%" align='center'><B>TỒN</B></th>
				<th scope="col" width="10%" align='center'><B>NHẬP</B></th>
				<th scope="col" width="10%" align='center'><B>XUẤT</B></th>
				<th scope="col" width="10%" align='center'><B>CÒNLẠI</B></th>
				<th scope="col" width="20%" align='center'><B>CUNG CẤP</B></th>
			</tr>
		</thead>
		<tbody>
			<tr tal:repeat="Resource Resources">
				<td width="6%" align='center' tal:content="repeat/Resource/number" />
				<td width="28%" align='left' tal:content="Resource/getName" />
				<td width="10%" align='center' tal:content="Resource/getSizePrint" />
				<td width="10%" align='center' tal:content="Resource/getIdCategory" />
				<td width="10%" align='center' tal:content="Resource/getIdUnit" />
				<td width="10%" align='center' tal:content="Resource/getTotalRemain" />				
				<td width="20%" align='left'  >
					<font size="8"><span tal:content="Resource/getIdSupplier"/></font>
				</td>
			</tr>
		</tbody>		
		</table>
		<hr />
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<td align="center">
					Người lập phiếu
				</td>
				<td align="center">
					
				</td>
				<td align="center">
					Đại lý thức ăn gia súc Minh Tài
				</td>
			</tr>		
		</table>		
</font>
