<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/ReportSupplierDetail.js"/>
	</head>
<body>	
	<div tal:attributes="id Customer/getIdPrint" data-role="page" class="type-interior" tal:repeat="Customer Customers">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1 tal:content="Title" />
			<a tal:attributes="href User/getApp/getURLReportSelling" data-icon="back" data-ajax="false">LUI</a>
			<a href="/signout/load" data-icon="delete" data-transition="fade">THOÁT</a>
		</div>
		<div data-role="content">
			<div class="content-primary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>1. NHẬP HÀNG</h3>
					<ul data-role="listview" data-inset="true">
						<li tal:repeat="Order Customer/getOrdersTracking">
							<strong>
								<span tal:content="repeat/Order/number" />. <span tal:content="Order/getDatePrint"/>, 
								<span tal:content="Order/getNote"/>
							</strong>								
							<p class="ui-li-aside"><strong tal:content="Order/getValuePrint"></strong></p>
						</li>
						<li>
							<h3>TỔNG CỘNG</h3>
							<p class="ui-li-aside"><strong tal:content="Customer/getOrdersTrackingValuePrint"></strong></p>
						</li>
					</ul>
				</div>
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>2. TRẢ TIỀN</h3>
					<ul data-role="listview" data-inset="true">
						<li tal:repeat="Paid Customer/getPaidsTracking">
							<strong>
								<span tal:content="repeat/Paid/number" />. <span tal:content="Paid/getDatePrint"/>, 
								<span tal:content="Paid/getNote"/>
							</strong>								
							<p class="ui-li-aside"><strong tal:content="Paid/getValuePrint"></strong></p>
						</li>
						<li>
							<h3>TỔNG CỘNG</h3>
							<p class="ui-li-aside"><strong tal:content="Customer/getPaidsTrackingValuePrint"></strong></p>
						</li>
					</ul>
				</div>
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>3. TỔNG KẾT</h3>
					<ul data-role="listview"  data-inset="true">
						<li><strong>NỢ TRƯỚC</strong><p class="ui-li-aside"><strong tal:content="Customer/getOldDebtPrint"></strong></p></li>
						<li><strong>NHẬP HÀNG</strong><p class="ui-li-aside"><strong tal:content="Customer/getOrdersTrackingValuePrint"></strong></p></li>
						<li><strong>TRẢ TIỀN</strong><p class="ui-li-aside"><strong tal:content="Customer/getPaidsTrackingValuePrint"></strong></p></li>
						<li><strong>DƯ NỢ MỚI</strong><p class="ui-li-aside"><strong tal:content="Customer/getNewDebtPrint"></strong></p></li>
					</ul>
				</div>				
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>KHÁCH HÀNG</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li><a href='#general'>TỔNG KẾT</a></li>
						<li tal:repeat="Customer1 Customers1" tal:attributes="data-theme php:Customer->getId()==Customer1->getId()?'a':'c'">
							<a tal:attributes="href php:'#'.Customer1->getIdPrint()"><span tal:content="Customer1/getPrefix"/>  <span tal:content="Customer1/getName" /></a>
						</li>
					</ul>			
				</div>				
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
	
	<div id="general" data-role="page" class="type-interior">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1 tal:content="Title" />
			<a tal:attributes="href User/getApp/getURLReportSelling" data-icon="back" data-ajax="false">LUI</a>
			<a href="/signout/load" data-icon="delete" data-transition="fade">THOÁT</a>
		</div>
		<div data-role="content">
			<div class="content-primary">								
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>TỔNG KẾT</h3>
					<ul data-role="listview"  data-inset="true">
						<li tal:repeat="Customer Customers">
							<strong>
								<span tal:content="repeat/Customer/number"/>. <span tal:content="Customer/getPrefix"/> <span tal:content="Customer/getName"/>
							</strong>
							<p class="ui-li-aside"><strong tal:content="Customer/getNewDebtPrint"></strong></p>
						</li>
						<li>
							<strong>TỔNG DƯ NỢ MỚI <BR/> <span tal:content="SumStr"/></strong>
							<p class="ui-li-aside"><strong tal:content="Sum"></strong></p>							
						</li>
					</ul>
				</div>				
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>KHÁCH HÀNG</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li data-theme="a"><a href='#general'>TỔNG KẾT</a></li>
						<li tal:repeat="Customer1 Customers1">
							<a tal:attributes="href php:'#'.Customer1->getIdPrint()"><span tal:content="Customer1/getPrefix"/>  <span tal:content="Customer1/getName" /></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
</body>
</html>