<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/Selling.js"/>
		
	</head>
<body>	
	<div id="selling" data-role="page" class="type-interior" />
	
	<!-- TRANG CUSTOMER !-->
	<div tal:attributes="id Customer/getIdPrint" data-role="page" class="type-interior customer" tal:repeat="Customer Customers">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1 tal:content="php:'ĐƠN HÀNG CỦA '.Customer->getName()"/>
			<a tal:attributes="href User/getApp/getURLApp" data-icon="back" data-ajax="false">LUI</a>
			<a tal:attributes="href User/getApp/getURLSetting" data-icon="gear" data-transition="none">THIẾT LẬP</a>
		</div>
		<div data-role="content">
			<div class="content-primary">
				<a data-theme="b" data-ajax="false" tal:attributes="href Customer/getURLSellingInsLoad" data-role="button" data-icon="plus">THÊM ĐƠN HÀNG</a>
				<ul data-role="listview" data-inset="true" data-theme="c" data-dividertheme="d">
					<li tal:repeat="Order Customer/getOrdersPage">
						<a data-ajax="false" tal:attributes="href Order/getURLDetail">
							<span tal:content="repeat/Order/number" />. <span tal:content="Order/getDatePrint" />
							<span class="ui-li-count" tal:content="Order/getValuePrint|string:0 đ" />
						</a>
						<a tal:attributes="href Order/getURLDelLoad" data-theme="c" data-icon="delete" />
					</li>					
				</ul>
				<a data-theme="b" data-ajax="false" tal:attributes="href Customer/getURLSellingInsLoad" data-role="button" data-icon="plus">THÊM ĐƠN HÀNG</a>
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>KHÁCH HÀNG</h3>
					<ul data-role="listview" data-theme="c">						
						<li tal:repeat="Customer1 Customers1" tal:attributes="data-theme php:Customer1->getId()==Customer->getId()?'a':'c'">
							<a data-transition="none" tal:attributes="href Customer1/getURLSelling">
								<span tal:content="repeat/Customer1/number" />. <span tal:content="Customer1/getName" />
							</a>
						</li>
					</ul>					
				</div>	
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>	
</body>
</html>