<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SettingStoreInit.js"/>		
	</head>
<body>
	<div id="storeinit" data-role="page" class="type-interior" />
	
	<!-- supplier -->
	<div tal:attributes="id Supplier/getIdPrint" data-role="page" class="supplier type-interior" tal:repeat="Supplier Suppliers">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1 tal:content="php:'KHỞI TẠO '.Store->getName()"/>
			<a data-ajax="false" tal:attributes="href User/getApp/getURLSetting" data-icon="back">LUI</a>
			<a data-ajax="false" tal:attributes="href User/getApp/getURLSetting" data-icon="gear" data-transition="none">THIẾT LẬP</a>
		</div>
		<div data-role="content">
			<div class="content-primary">				
				<ul data-role="listview" data-theme="c" data-dividertheme="d" data-inset="true">
					<li tal:repeat="SD Supplier/getStoreInits">
						<a data-ajax="false" tal:attributes="href SD/getURLUpdLoad">
							<span tal:content="repeat/SD/number"/>. <span tal:content="SD/getResource/getName"/>
							<span class="ui-li-aside">
								<span tal:content="SD/getCount"/> (<span tal:content="SD/getResource/getUnit/getName"/>)
							</span>
						</a>
					</li>
				</ul>				
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>NHÀ CUNG CẤP</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li tal:repeat="Supplier1 Suppliers1" tal:attributes="data-theme php:Supplier->getId()==Supplier1->getId() ? 'a' : 'c'">
							<a data-transition="none" tal:attributes="href Supplier1/getURLImport">
								<span tal:content="repeat/Supplier1/number"/>. <span tal:content="Supplier1/getName"/>
							</a>							
						</li>
					</ul>
				</div>
				<a data-ajax="false" tal:attributes="href Store/getURLUpdLoad" data-role="button" data-icon="gear" data-theme="b">CẬP NHẬT</a>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>	
</body>
</html>