<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SettingStoreInitUpdLoad.js"/>
	</head>
<body>
	<div id="PageSettingStoreInitUpdLoad" data-role="page">
		<div data-role="header" data-theme="d">
			<h1 tal:content="Title"/>
			<a href="#" data-icon="back" data-rel="back" data-role="button">Lui</a>
		</div>
		<div data-role="content" data-theme="a">
			<form id="FormSettingStoreInitUpdLoad" data-ajax="false" tal:attributes="action SD/getURLUpdExe" method="post" class="ui-body ui-body-a ui-corner-all">
				<fieldset>									
					<div data-role="fieldcontain">
						<label for="Count" class="text">Số lượng đầu kì:</label>
						<input class="required" id="Count" name="Count" type="text" tal:attributes="value SD/getCount" />
					</div>										
				</fieldset>
				<button type="submit" data-theme="b"  data-icon="check" name="submit" value="submit-value">Lưu</button>
			</form>
		</div>
	</div>
</body>
</html>