					<table cellpadding="2" cellspacing="0" border="1">
						<thead>					
							<tr>								
								<th align='left'><B>NGÀY</B></th>
								<th align='left'><B>nhỏ x 6</B></th>
								<th align='left'><B>nhỏ x 7</B></th>
								<th align='left'><B>nhỏ x 10</B></th>
								<th align='left'><B>nhỏ x 18</B></th>
								<th align='left'><B>lớn x 8</B></th>
								<th align='left'><B>lớn x 10</B></th>								
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="PETracking PETrackings">								
								<td align='left'>
									<B tal:content="PETracking/getDatePrint" />
								</td>								
								<td align='left' tal:content="PETracking/getProduct01"/>
								<td align='left' tal:content="PETracking/getProduct02"/>
								<td align='left' tal:content="PETracking/getProduct03"/>
								<td align='left' tal:content="PETracking/getProduct04"/>
								<td align='left' tal:content="PETracking/getProduct22"/>
								<td align='left' tal:content="PETracking/getProduct23"/>
							</tr>
						</tbody>
					</table>