<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
	<span metal:use-macro="macros.xhtml/IncludeBase"/>
	<script>
	/*<![CDATA[*/
	$(document).ready(function(){
		$('#DataTable').find('tbody tr').hover(
			function(){ $(this).find('td').addClass('table_highlighted');}, 
			function(){	$(this).find('td').removeClass('table_highlighted');}
		);
		
		var oTable = $('#DataTable').dataTable({			
			"bScrollCollapse": true,
			"bStateSave": false,
			"bFilter": false,
			"bInfo": false,
			"bSort": false,
			"bPaginate": false
		});
		new FixedHeader( oTable, { "top": true, "zTop": 105 } );
	});
	/*]]>*/	
	</script>
	</head>	
<body>	
<div id="frame">
	<div id="page">
		<span metal:use-macro="macros.xhtml/HeaderModuleFactories"/>
		<div id="module2">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title"/>										
				</div>				
			</div>
			<div id="Column1of1">
				<div id="Title">					
					<a title='Tổng kết nguyên liệu giao' href="?cmd=ViewResourceExportTrackings" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll">
						<span class="ButtonIcon ButtonIconStar"/>
					</a>
					<a title='Tổng kết sản phẩm nhận' href="?cmd=ViewProductImportTrackings" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll">
						<span class="ButtonIcon ButtonIconStar"/>
					</a>
				</div>
				<div id="Table">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
						<thead>					
							<tr>
								<th align='center'>STT</th>
								<th align='left'>TÊN</th>								
								<th align='left'>PHONE</th>
								<th align='left'>CÔNG NHÂN</th>
								<th align='left'>GIAO HÀNG</th>
								<th align='left'>NGUYÊN LIỆU</th>
								<th align='left'>ỨNG TIỀN</th>
								<th align='left'>SỔ NHẬT KÍ</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="Factory Factories">
								<td align='center' tal:content="Factory/getId"/>
								<td align='left'>
									<a tal:attributes="href Factory/getURLUpdate" tal:content="Factory/getName"/>
								</td>
								<td align='left' tal:content="Factory/getPhone"></td>								
								<td align='right'>
									<span tal:condition="Factory/hasEmployees">
										<a title="Danh sách công nhân"  class="Button StateDefault ButtonIconSolo CornerAll"
											tal:attributes="href Factory/getURLViewEmployees">
											<span class="ButtonIcon ButtonIconPerson"></span>
										</a>
									</span>
								</td>
								<td align='right'>
									<a title="Giao hàng"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href Factory/getURLViewProductImports">
										<span class="ButtonIcon ButtonIconCart"/>
									</a>
								</td>
								<td align='right'>
									<a title="Nhận nguyên liệu"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href Factory/getURLViewResourceExports">
										<span class="ButtonIcon ButtonIconCart"/>
									</a>
								</td>
								<td align='center'>									
									<a title="Ứng tiền"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href Factory/getURLViewLoans">
										<span class="ButtonIcon ButtonIconTransferthick-e-w"/>
									</a>									
								</td>
								<td align='right'>									
									<a title="Tổng kết"  class="Button StateDefault ButtonIconSolo CornerAll"
										tal:attributes="href Factory/getURLViewLogs">
										<span class="ButtonIcon ButtonIconCalculator"/>
									</a>									
								</td>
							</tr>
						</tbody>
				</table>										
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>		

</body>
</html>