<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/ExportPondOrderCallLoad.js"/>
	</head>
<body>
	<div tal:repeat="Supplier Suppliers" tal:attributes="id Supplier/getIdPrint;alt URLCallExe" data-role="page" class="supplier type-interior">
		<div data-role="header" data-position="fixed" data-theme="d">									
			<div align="center">
				<a data-ajax="false" tal:attributes="href URLBack">
					<img border="0" width="100%" src="/data/images/app/banner.jpg" />
				</a>
			</div>			
		</div>
		<div data-role="content">
			<div class="content-primary">				
				<ul data-role="listview" data-inset="true">
					<li data-role="list-divider" tal:content="php:'XUẤT HÀNG CHO '.Pond->getName()" />
					<li tal:repeat="Resource Supplier/getResources">
						<a class="Plus" data-ajax="true" tal:attributes="href '#';alt Resource/getId" >
							<span tal:content="repeat/Resource/number" />. <span tal:content="Resource/getName"/>
							 (<span tal:content="Resource/getUnit/getName"/>)
							<p class="ui-li-aside" tal:content="string:0" />
						</a>
						<a class="Minus" tal:attributes="href '#';alt Resource/getId" data-theme="c" data-icon="minus" />
					</li>
				</ul>
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
					<h3>NHÀ CUNG CẤP</h3>
					<ul data-role="listview" data-theme="c">
						<li tal:attributes="data-theme php: Supplier1->getId()==Supplier->getId() ? 'a' : 'c'" tal:repeat="Supplier1 Suppliers1">
							<a data-transition="none" tal:attributes="href Supplier1/getURLCall">
								<span tal:content="repeat/Supplier1/number" />. <span tal:content="Supplier1/getName" />
							</a>
						</li>
					</ul>					
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
</body>
</html>