<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/ImportSupplierInsLoad.js"/>
	</head>
<body>
	<div id="PageExportPondInsLoad" data-role="page">
		<div data-role="header" data-theme="d">
			<h1 tal:content="Title"/>
			<a href="#" data-icon="back" data-rel="back" data-role="button">Lui</a>
		</div>
		<div data-role="content" data-theme="a">
			<form id="FormExportPondInsLoad" data-ajax="false" tal:attributes="action Pond/getURLExportInsExe" method="post" class="ui-body ui-body-a ui-corner-all">
				<fieldset>
					<div data-role="fieldcontain">
						<label for="IdStore" class="text">Kho hàng:</label>
						<select name="IdStore" id="IdStore" data-native-menu="false">
							<option tal:repeat="Store Stores" tal:attributes="value Store/getId">
								<span tal:content="Store/getName" />
							</option>
						</select>
					</div>
					<div data-role="fieldcontain">
						<label for="Date">Ngày:</label>
						<input type="date" name="Date" id="Date" />
					</div>								
					<div data-role="fieldcontain">
						<label for="Note" class="text">Diễn giải:</label>
						<textarea cols="40" rows="8" name="Note" id="Note" data-mini="true"></textarea>
					</div>				
				</fieldset>
				<button type="submit" data-theme="b"  data-icon="check" name="submit" value="submit-value">Lưu</button>
			</form>
		</div>
	</div>
</body>
</html>