<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/layout.css"/>
	</head>
	
	<body>
		<div id="wraper">
			<div id="header">
				<img border="0" src="/mvc/templates/theme/base/images/banner.jpg" width="1000" height="200" />
			</div>
			<div id="main">
				<div id="top-border">
					<div class="top-angle">
						<div class="x-border"></div>
					</div>
				</div>
				<div id="main-content">
					<div id="left">
						<div class="box">
							<div class="box-title">
								<div class="title-node">
									<div class="title-mid">
										<h3>Danh Mục</h3>
									</div>
								</div>
							</div>
							<div class="box-content">
								<div class="content-node">
									<div class="content-mid">
										<ul class="menu-left">
											<a href="#"><li>Giới thiệu</li></a>
											<a href="#"><li>Hoạt động</li></a>
											<a href="#"><li>Tiêu chuẩn chất lượng</li></a>
											<a href="#"><li>Ảnh minh họa</li></a>
											<a target="blank" href="/signin/load"><li>Quản lý ao</li></a>
										</ul>
									</div>
								</div>
							</div>
							<div class="box-bottom">
								<div class="bottom-node">
									<div class="bottom-mid"></div>
								</div>
							</div>
						</div>
																		
						<!-- //////////////////////////////////////////////// -->
						<div class="box">
							<div class="box-title">
								<div class="title-node">
									<div class="title-mid">
										<h3>Liên hệ</h3>
									</div>
								</div>
							</div>
							<div class="box-content">
								<div class="content-node">
									<div class="content-mid" align="center">
										<a href="http://edit.yahoo.com/config/send_webmesg?.target=tuan_buithanh&src=pg">
											<img border="0" src="http://opi.yahoo.com/online?u=tuan_buithanh&m=g&t=2" />
										</a><br/>
										<b>Trại cá Ánh Nguyệt</b><br/>
										Châu Thành Đồng Tháp<br/>
										Mail:anhnguyetfarm@gmail.com<br/>
										YM:anhnguyetfarm@yahoo.com<br/>
										ĐT:(0939) 43 88 37<br/>
									</div>
								</div>
							</div>
							<div class="box-bottom">
								<div class="bottom-node">
									<div class="bottom-mid"></div>
								</div>
							</div>
						</div>
					</div>
					<div id="right">
						<embed type="application/x-shockwave-flash" src="https://picasaweb.google.com/s/c/bin/slideshow.swf" width="100%" height="400" flashvars="host=picasaweb.google.com&hl=vi&feat=flashalbum&RGB=0x000000&feed=https%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F109127814216215895925%2Falbumid%2F5820396779339705329%3Falt%3Drss%26kind%3Dphoto%26hl%3Dvi" pluginspage="http://www.macromedia.com/go/getflashplayer">
						</embed>
					</div>
					<div class="clear"></div>
					<div id="footer">						
					</div>
				</div>
				<div id="bottom-border">
					<div class="bottom-angle">
						<div class="y-border"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>