<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/PaidPondListInsLoad.js"/>
	</head>
<body>
	<div id="PagePaidPondListInsLoad" data-role="page">
		<div data-role="header" data-theme="d">
			<h1 tal:content="Title"/>
			<a href="#" data-icon="back" data-rel="back" data-role="button">Lui</a>
		</div>
		<div data-role="content" data-theme="a">
			<form id="FormPaidPondListInsLoad" data-ajax="false" tal:attributes="action URLIns" method="post" class="ui-body ui-body-a ui-corner-all">
				<fieldset>
					<div data-role="fieldcontain">
						<label for="Value" class="text">Giá trị:</label>
						<input class="required" id="Value" name="Value" type="text" value="0"/>
					</div>
					
					<div data-role="fieldcontain">
						<label for="Note" class="text">Diễn giải:</label>
						<textarea cols="40" rows="8" name="Note" id="Note" data-mini="true"></textarea>
					</div>				
				</fieldset>
				<button type="submit" data-theme="b"  data-icon="check" name="submit" value="submit-value">Lưu</button>
			</form>
		</div>
	</div>
</body>
</html>