<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/PaidSupplierList.js"/>
	</head>
<body>
	<div tal:attributes="id Supplier/getIdPrint" data-role="page" class="type-interior" tal:repeat="Supplier Suppliers">
		<div data-role="header" data-position="fixed" data-theme="f">
			<h1 tal:content="php:'CHI TRẢ '.Supplier->getName()" />
			<a tal:attributes="href User/getApp/getURLPaid" data-icon="back" data-ajax="false">LUI</a>
			<a tal:attributes="href User/getApp/getURLSettingSupplier" data-icon="gear" data-transition="none" data-ajax="false">THIẾT LẬP</a>
		</div>
		<div data-role="content">
			<div class="content-primary">
				<a data-ajax="false" tal:attributes="href Supplier/getURLPaidInsLoad" data-role="button" data-icon="plus" data-theme="b">THÊM TRẢ TIỀN</a>
				<ul data-role="listview" data-inset="true">
					<li tal:repeat="Paid Supplier/getPaidsTop10">
						<a data-ajax="false" tal:attributes="href Paid/getURLUpdLoad">
							<span tal:content="repeat/Paid/number"/>. <span tal:content="Paid/getDatePrint"/>
							<span class="ui-li-aside"><strong tal:content="Paid/getValuePrint"></strong></span>
						</a>
						<a tal:attributes="href Paid/getURLDelLoad" data-theme="c" data-icon="delete"/>
					</li>
				</ul>
				<a data-ajax="false" tal:attributes="href Supplier/getURLPaidInsLoad" data-role="button" data-icon="plus" data-theme="b">THÊM TRẢ TIỀN</a>
			</div><!--/content-primary -->
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>NHÀ CUNG CẤP</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li tal:attributes="data-theme php:Supplier->getId()==Supplier1->getId()?'a':'c'" tal:repeat="Supplier1 Suppliers1">
							<a data-transition="none" tal:attributes="href Supplier1/getURLPaid">
								<span tal:content="repeat/Supplier1/number"/>. <span tal:content="Supplier1/getName"/>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
</body>
</html>