<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SettingSupplierResource.js"/>
	</head>
<body>
	<div id="main" data-role="page" class="type-interior" />
	<div tal:attributes="id Supplier/getIdPrint" data-role="page" class="supplier type-interior" tal:repeat="Supplier Suppliers">
		<div data-role="header" data-position="fixed" data-theme="c">
			<div align="center">
				<a data-ajax="false" tal:attributes="href User/getApp/getURLSettingSupplier">
					<img border="0" width="100%" src="/data/images/app/banner.jpg" />
				</a>
			</div>
		</div>
		<div data-role="content">
			<div class="content-primary">				
				<ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Gõ để lọc sản phẩm...">
					<li tal:repeat="Resource Supplier/getResources">
						<a data-ajax="false" tal:attributes="href Resource/getURLUpdLoad">
							<span tal:content="repeat/Resource/number" />. <span tal:content="Resource/getName"/>
							 <span tal:content="Resource/getUnit/getName"/>
							<p class="ui-li-aside"><strong tal:content="Resource/getPrice1Print"></strong></p>
						</a>
						<a tal:attributes="href Resource/getURLDelLoad" data-theme="c" data-icon="delete" />
					</li>
				</ul>
				<a data-ajax="false" tal:attributes="href Supplier/getURLResourceInsLoad" data-role="button" data-icon="plus" data-theme="b">THÊM SẢN PHẨM</a>
			</div><!--/content-primary -->
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="d">
					<h3>NHÀ CUNG CẤP</h3>
					<ul data-role="listview" data-theme="c">
						<li tal:attributes="data-theme php: Supplier1->getId()==Supplier->getId() ? 'a' : 'c'" tal:repeat="Supplier1 Suppliers1">
							<a data-transition="none" tal:attributes="href Supplier1/getURLResource">
								<span tal:content="repeat/Supplier1/number" />. <span tal:content="Supplier1/getName" />
							</a>
						</li>
					</ul>
					<a data-ajax="false" tal:attributes="href Supplier/getURLUpdLoad" data-role="button" data-icon="gear" data-theme="b">CẬP NHẬT</a>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
</body>
</html>