<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SettingSupplierResourceInsLoad.js"/>
	</head>
<body>						
	<div id="info" data-role="page" class="type-interior">
		<div data-role="header" data-theme="d">
			<div align="center">
				<a href="#" data-icon="back" data-rel="back">
					<img border="0" width="100%" src="/data/images/app/banner.jpg" />
				</a>
			</div>
		</div>
		<div data-role="content">
			<div class="content-primary">
				<form id="FormSettingSupplierResourceInsLoad" tal:attributes="action Supplier/getURLResourceInsExe" method="post" data-ajax="false" data-mini="true"  class="ui-body ui-body-b ui-corner-all">
					<fieldset>
						<div data-role="fieldcontain">
							<label for="Name" class="text">Tên:</label>
							<input class="required" id="Name" name="Name" type="text" />
						</div>
						<div data-role="fieldcontain">
							<label for="IdCategory" class="text">Danh mục:</label>						
							<select name="IdCategory" id="IdCategory" >							
								<option tal:repeat="Category Categories" tal:attributes="value Category/getId">
									<span tal:content="Category/getName" />
								</option>
							</select>
						</div>
						<div data-role="fieldcontain">
							<label for="IdUnit" class="text">Đơn vị:</label>
							<select name="IdUnit" id="IdUnit">
								<option tal:repeat="Unit Units" tal:attributes="value Unit/getId">
									<span tal:content="Unit/getName" />
								</option>
							</select>
						</div>
						<div data-role="fieldcontain">
							<label for="Size" class="text">Kích thước:</label>
							<input class="required" id="Size" name="Size" type="text" />
						</div>
						<div data-role="fieldcontain">
							<label for="Price1" class="text">Giá nhập:</label>
							<input class="required" id="Price1" name="Price1" type="text" />
						</div>
						<div data-role="fieldcontain">
							<label for="Price2" class="text">Giá xuất:</label>
							<input class="required" id="Price2" name="Price2" type="text" />
						</div>
						<div data-role="fieldcontain">
							<label for="Note" class="text">Mô tả:</label>
							<input id="Note" name="Note" type="text" />
						</div>				
					</fieldset>
					<button type="submit" data-theme="b"  data-icon="check" name="submit" value="submit-value">Lưu</button>
				</form>
			</div>
			<div class="content-secondary">
				<div data-role="collapsible" data-collapsed="false" data-theme="b" data-content-theme="d">
					<h3>THIẾT LẬP</h3>
					<ul data-role="listview" data-theme="c" data-dividertheme="d">
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLSettingInfo">THÔNG TIN</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLSettingPond">AO NUÔI</a></li>
						<li data-theme="a"><a data-ajax="false" tal:attributes="href User/getApp/getURLSettingSupplier">NHÀ CUNG CẤP</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLSettingStore">KHO HÀNG</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLSettingCategory">DANH MỤC</a></li>
						<li><a data-ajax="false" tal:attributes="href User/getApp/getURLSettingUnit">ĐƠN VỊ TÍNH</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" class="footer-docs" data-theme="c"><p>&copy; 2012 SPN Co,ltd.</p></div>
	</div>
</body>
</html>