<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />		
		<span metal:use-macro="macros.xhtml/Include"/>
		<script>
			/*<![CDATA[*/
				$(document).ready(function() {			
					$('#DataTable').find('tbody tr').hover(
						function(){ $(this).find('td').addClass('table_highlighted');}, 
						function(){	$(this).find('td').removeClass('table_highlighted');}
					);
				
					var oTable = $('#DataTable').dataTable({				
						"bScrollCollapse": true,
						"bStateSave": false,
						"bFilter": false,
						"bInfo": false,
						"bSort": true,
						"bPaginate": false,
						"fnDrawCallback": function(oSettings ){
							if ( oSettings.bSorted || oSettings.bFiltered ){
								for ( var i=0, iLen=oSettings.aiDisplay.length ; i<iLen ; i++ ){
									$('td:eq(0)', oSettings.aoData[ oSettings.aiDisplay[i] ].nTr ).html( i+1 );
								}
							}
						}
					});
					
					new FixedHeader( oTable, { "top": true, "zTop": 105 } );
				});	
			/*]]>*/	
		</script>
	</head>	
	<body onLoad="Clock()">	
		<div id="frame">
			<span metal:use-macro="macros.xhtml/Header"/>
			<span metal:use-macro="macros.xhtml/Navigation"/>	
			<div class="sub_title" tal:content="Title" />
			<div class="icon_button_header">
				<a href='?cmd=InsertUser' title="Thêm mới" class="Button StateDefault ButtonIconSolo CornerAll">
					<span class="ButtonIcon ButtonIconPlus"/>
				</a>
			</div>	
			<div id="main">
				<div class="col2of1a">
							<table>	
								<form id="form_LH" method="post" action="#">															
									<tr>
										<td><label>Họ tên:</label></td>
										<td><input id="Name" type="text" value="" name="Name" /></td>										
									</tr>
									<tr>
										<td><label>Số điện thoại:</label></td>
										<td><input id="Phone" type="text" value="" name="Phone" /></td>
									</tr>	
									<tr>
										<td><label>Email:</label></td>
										<td><input id="Email" type="text" value="" name="Email" /></td>
									</tr>
									<tr>
										<td><label>Số điện thoại cần đặt:</label></td>
										<td><input id="IdSim" type="text" value="" name="IdSim" /></td>
									</tr>			
									<tr>
										<td><label>Tỉnh thành:</label></td>
												<td><select style="width: 160px;" name="cboTinhThanh" id="cboTinhThanh">
													<option label="Hồ Chí Minh" value="Hồ Chí Minh">Hồ Chí Minh</option>
													<option label="Hà Nội" value="Hà Nội">Hà Nội</option>
													<option label="Hải Phòng" value="Hải Phòng">Hải Phòng</option>
													<option label="Thừa Thiên-Huế" value="Thừa Thiên-Huế">Thừa Thiên-Huế</option>
													<option label="Đà Nẵng" value="Đà Nẵng">Đà Nẵng</option>
													<option label="Cần Thơ" value="Cần Thơ">Cần Thơ</option>
													<option label="An Giang" value="An Giang">An Giang</option>
													<option label="BR - Vũng Tàu" value="BR - Vũng Tàu">BR - Vũng Tàu</option>
													<option label="Bắc Cạn" value="Bắc Cạn">Bắc Cạn</option>
													<option label="Bắc Giang" value="Bắc Giang">Bắc Giang</option>
													<option label="Bạc Liêu" value="Bạc Liêu">Bạc Liêu</option>
													<option label="Bắc Ninh" value="Bắc Ninh">Bắc Ninh</option>
													<option label="Bến Tre" value="Bến Tre">Bến Tre</option>
													<option label="Bình Định" value="Bình Định">Bình Định</option>
													<option label="Bình Dương" value="Bình Dương">Bình Dương</option>
													<option label="Bình Phước" value="Bình Phước">Bình Phước</option>
													<option label="Bình Thuận" value="Bình Thuận">Bình Thuận</option>
													<option label="Cà Mau" value="Cà Mau">Cà Mau</option>
													<option label="Cao Bằng" value="Cao Bằng">Cao Bằng</option>
													<option label="Đắk Lắk" value="Đắk Lắk">Đắk Lắk</option>
													<option label="Đắk Nông" value="Đắk Nông">Đắk Nông</option>
													<option label="Điện Biên" value="Điện Biên">Điện Biên</option>
													<option label="Đồng Nai" value="Đồng Nai">Đồng Nai</option>
													<option label="Đồng Tháp" value="Đồng Tháp">Đồng Tháp</option>
													<option label="Gia Lai" value="Gia Lai">Gia Lai</option>
													<option label="Hà Giang" value="Hà Giang">Hà Giang</option>
													<option label="Hà Nam" value="Hà Nam">Hà Nam</option>
													<option label="Hà Tĩnh" value="Hà Tĩnh">Hà Tĩnh</option>
													<option label="Hải Dương" value="Hải Dương">Hải Dương</option>
													<option label="Hậu Giang" value="Hậu Giang">Hậu Giang</option>
													<option label="Hòa Bình" value="Hòa Bình">Hòa Bình</option>
													<option label="Hưng Yên" value="Hưng Yên">Hưng Yên</option>
													<option label="Khánh Hòa" value="Khánh Hòa">Khánh Hòa</option>
													<option label="Kiên Giang" value="Kiên Giang">Kiên Giang</option>
													<option label="Kon Tum" value="Kon Tum">Kon Tum</option>
													<option label="Lai Châu" value="Lai Châu">Lai Châu</option>
													<option label="Lâm Đồng" value="Lâm Đồng">Lâm Đồng</option>
													<option label="Lạng Sơn" value="Lạng Sơn">Lạng Sơn</option>
													<option label="Lào Cai" value="Lào Cai">Lào Cai</option>
													<option label="Long An" value="Long An">Long An</option>
													<option label="Nam Định" value="Nam Định">Nam Định</option>
													<option label="Nghệ An" value="Nghệ An">Nghệ An</option>
													<option label="Ninh Bình" value="Ninh Bình">Ninh Bình</option>
													<option label="Ninh Thuận" value="Ninh Thuận">Ninh Thuận</option>
													<option label="Phú Thọ" value="Phú Thọ">Phú Thọ</option>
													<option label="Phú Yên" value="Phú Yên">Phú Yên</option>
													<option label="Quảng Bình" value="Quảng Bình">Quảng Bình</option>
													<option label="Quảng Nam" value="Quảng Nam">Quảng Nam</option>
													<option label="Quảng Ngãi" value="Quảng Ngãi">Quảng Ngãi</option>
													<option label="Quảng Ninh" value="Quảng Ninh">Quảng Ninh</option>
													<option label="Quảng Trị" value="Quảng Trị">Quảng Trị</option>
													<option label="Sóc Trăng" value="Sóc Trăng">Sóc Trăng</option>
													<option label="Sơn La" value="Sơn La">Sơn La</option>
													<option label="Tây Ninh" value="Tây Ninh">Tây Ninh</option>
													<option label="Thái Bình" value="Thái Bình">Thái Bình</option>
													<option label="Thái Nguyên" value="Thái Nguyên">Thái Nguyên</option>
													<option label="Thanh Hóa" value="Thanh Hóa">Thanh Hóa</option>
													<option label="Tiền Giang" value="Tiền Giang">Tiền Giang</option>
													<option label="Trà Vinh" value="Trà Vinh">Trà Vinh</option>
													<option label="Tuyên Quang" value="Tuyên Quang">Tuyên Quang</option>
													<option label="Vĩnh Long" value="Vĩnh Long">Vĩnh Long</option>
													<option label="Vĩnh Phúc" value="Vĩnh Phúc">Vĩnh Phúc</option>
													<option label="Yên Bái" value="Yên Bái">Yên Bái</option>																				
											</select></td>
										</tr>
											<tr>
												<td><label>Quận/Huyện:</label></td>
												<td><input type="text" name="QuanHuyen" id="QuanHuyen"/></td>
											</tr>												
											<tr>
												<td><label>Số nhà – tên đường:</label></td>
												<td><input type="text" name="SoNha" id="SoNha" /></td>
											</tr>
									<tr>
										<td><label>Tin nhắn của bạn:</label></td>
										<td><textarea rows="3" cols="20" name="Note"></textarea></td>
									</tr>			
									<tr>
										<td colspan="2" align="center"><input type="submit" value="Đặt Hàng"/></td>
									</tr>						
								</form>
							</table> 
				</div>
			</div>
			<span metal:use-macro="macros.xhtml/Footer"/>
		</div>
	</body>
</html>