<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<span metal:use-macro="macros.xhtml/Include"/>
</head>
<body>
	<div id="frame">
		<span metal:use-macro="macros.xhtml/Header"/>
		<span metal:use-macro="macros.xhtml/Navigation"/>	
		<div id="main">
			<center>
				<div id="logoCompany" ></div>
				<div id="name_title">CÔNG TY TNHH TM & DV TIN HỌC <b>SAO PHƯƠNG NAM</b></div>
			</center>
		</div>
		<span metal:use-macro="macros.xhtml/Footer"/>
	</div>	
</body>
</html>