Options +FollowSymlinks
RewriteEngine on

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^home$ 													?cmd=Home [L]
RewriteRule ^signin/load$ 											?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 											?cmd=SigninExe [L]
RewriteRule ^signout/load$ 											?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 											?cmd=SignoutExe [L]

RewriteRule ^gate$ 													?cmd=Gate [L]
RewriteRule ^intro$ 												?cmd=Introduction [L]
RewriteRule ^intro/0$ 												?cmd=Introduction0 [L]
RewriteRule ^intro/1$ 												?cmd=Introduction1 [L]
RewriteRule ^intro/2$ 												?cmd=Introduction2 [L]
RewriteRule ^intro/3$ 												?cmd=Introduction3 [L]
RewriteRule ^intro/4$ 												?cmd=Introduction4 [L]

RewriteRule ^contact$ 												?cmd=Contact [L]
RewriteRule ^sponsor/([0-9]+)$ 										?cmd=Sponsor&IdSponsor=$1 [L]
RewriteRule ^sponsor/([0-9]+)/video/([0-9]+)$ 						?cmd=SponsorDetail&IdSponsor=$1&IdVideoSponsor=$2 [L]

RewriteRule ^library/video/([0-9]+)$								?cmd=LibraryVideo&IdBType=$1 [L]
RewriteRule ^library/video/([0-9]+)/category/([0-9]+)$				?cmd=LibraryVideoCategory&IdBType=$1&IdCategory=$2 [L]
RewriteRule ^library/video/([0-9]+)/category/([0-9]+)/([0-9]+)$		?cmd=LibraryVideoCategoryPlay&IdBType=$1&IdCategory=$2&IdVideoLibrary=$3 [L]
RewriteRule ^library/video/([0-9]+)/monk/([0-9]+)$					?cmd=LibraryVideoMonk&IdBType=$1&IdMonk=$2 [L]
RewriteRule ^library/video/([0-9]+)/monk/([0-9]+)/([0-9]+)$			?cmd=LibraryVideoMonkPlay&IdBType=$1&IdMonk=$2&IdVideoMonk=$3 [L]

RewriteRule ^library/video/pagoda/([a-z0-9]+)$						?cmd=LibraryVideoPagoda&IdPagoda=$1 [L]

RewriteRule ^library/album$											?cmd=LibraryAlbum [L]
RewriteRule ^library/album/([a-z0-9]+)$								?cmd=LibraryAlbum&IdAlbum=$1 [L]

RewriteRule ^event$ 												?cmd=Event [L]
RewriteRule ^event/([a-z0-9]+)$ 									?cmd=Event&IdEvent=$1 [L]

RewriteRule ^news$ 													?cmd=ReadCategory [L]
RewriteRule ^news/([a-z0-9]+)$ 										?cmd=ReadCategory&IdCategory=$1 [L]
RewriteRule ^news/([a-z0-9]+)/([a-z0-9]+)$ 							?cmd=ReadCategory&IdCategory=$1&IdNews=$2 [L]

RewriteRule ^pagoda$ 												?cmd=Pagoda [L]
RewriteRule ^pagoda/([a-z0-9]+)$ 									?cmd=Pagoda&IdPagoda=$1 [L]
RewriteRule ^pagoda/([a-z0-9]+)/video/([a-z0-9]+)$ 					?cmd=Pagoda&IdPagoda=$1&IdVideoPagoda=$2 [L]

RewriteRule ^online$ 												?cmd=Online [L]
RewriteRule ^online/exe$ 											?cmd=OnlineExe [L]
RewriteRule ^ask$ 													?cmd=Ask [L]
RewriteRule ^ask/([a-z0-9]+)$ 										?cmd=Ask&IdCategory=$1 [L]
RewriteRule ^ask/([a-z0-9]+)/([a-z0-9]+)$ 							?cmd=Ask&IdCategory=$1&IdAsk=$2 [L]
RewriteRule ^ask/([a-z0-9]+)/ins/load$ 								?cmd=AskInsLoad&IdCategory=$1 [L]
RewriteRule ^ask/([a-z0-9]+)/ins/exe$ 								?cmd=AskInsExe&IdCategory=$1 [L]

RewriteRule ^ads$ 													?cmd=Ads [L]
RewriteRule ^course$ 												?cmd=Course [L]
RewriteRule ^course/([a-z0-9]+)$ 									?cmd=Course&IdCourse=$1 [L]
RewriteRule ^course/([a-z0-9]+)/([a-z0-9]+)$ 						?cmd=CourseLession&IdCourse=$1&IdLession=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 													?cmd=App [L]

RewriteRule ^app/config$ 											?cmd=AppConfig [L]
RewriteRule ^app/config/ins/load$ 									?cmd=AppConfigInsLoad [L]
RewriteRule ^app/config/ins/exe$ 									?cmd=AppConfigInsExe [L]
RewriteRule ^app/config/([a-z0-9]+)/upd/load$ 						?cmd=AppConfigUpdLoad&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/upd/exe$ 						?cmd=AppConfigUpdExe&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/del/load$ 						?cmd=AppConfigDelLoad&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/del/exe$ 						?cmd=AppConfigDelExe&IdConfig=$1 [L]

RewriteRule ^app/monk/([a-z0-9]+)/video$ 							?cmd=AppMonkVideo&IdMonk=$1 [L]
RewriteRule ^app/monk/([a-z0-9]+)/video/ins/load$ 					?cmd=AppMonkVideoInsLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([a-z0-9]+)/video/ins/exe$ 					?cmd=AppMonkVideoInsExe&IdMonk=$1 [L]
RewriteRule ^app/monk/([a-z0-9]+)/video/([a-z0-9]+)/upd/load$ 		?cmd=AppMonkVideoUpdLoad&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([a-z0-9]+)/video/([a-z0-9]+)/upd/exe$ 		?cmd=AppMonkVideoUpdExe&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([a-z0-9]+)/video/([a-z0-9]+)/del/load$ 		?cmd=AppMonkVideoDelLoad&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([a-z0-9]+)/video/([a-z0-9]+)/del/exe$ 		?cmd=AppMonkVideoDelExe&IdMonk=$1&IdVideoMonk=$2 [L]

RewriteRule ^app/course$ 											?cmd=AppCourse [L]
RewriteRule ^app/course/ins/load$ 									?cmd=AppCourseInsLoad [L]
RewriteRule ^app/course/ins/exe$ 									?cmd=AppCourseInsExe [L]
RewriteRule ^app/course/([a-z0-9]+)/upd/load$ 						?cmd=AppCourseUpdLoad&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/upd/exe$ 						?cmd=AppCourseUpdExe&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/del/load$ 						?cmd=AppCourseDelLoad&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/del/exe$ 						?cmd=AppCourseDelExe&IdCourse=$1 [L]

RewriteRule ^app/course/([a-z0-9]+)$ 								?cmd=AppCourseLession&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/ins/load$ 						?cmd=AppCourseLessionInsLoad&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/ins/exe$ 						?cmd=AppCourseLessionInsExe&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/([a-z0-9]+)/upd/load$ 			?cmd=AppCourseLessionUpdLoad&IdCourse=$1&IdLession=$2 [L]
RewriteRule ^app/course/([a-z0-9]+)/([a-z0-9]+)/upd/exe$ 			?cmd=AppCourseLessionUpdExe&IdCourse=$1&IdLession=$2 [L]
RewriteRule ^app/course/([a-z0-9]+)/([a-z0-9]+)/del/load$ 			?cmd=AppCourseLessionDelLoad&IdCourse=$1&IdLession=$2 [L]
RewriteRule ^app/course/([a-z0-9]+)/([a-z0-9]+)/del/exe$ 			?cmd=AppCourseLessionDelExe&IdCourse=$1&IdLession=$2 [L]


RewriteRule ^app/album$ 											?cmd=AppLibraryAlbum [L]
RewriteRule ^app/album/ins/load$ 									?cmd=AppLibraryAlbumInsLoad [L]
RewriteRule ^app/album/ins/exe$ 									?cmd=AppLibraryAlbumInsExe [L]
RewriteRule ^app/album/([a-z0-9]+)/upd/load$ 						?cmd=AppLibraryAlbumUpdLoad&IdAlbum=$1 [L]
RewriteRule ^app/album/([a-z0-9]+)/upd/exe$ 						?cmd=AppLibraryAlbumUpdExe&IdAlbum=$1 [L]
RewriteRule ^app/album/([a-z0-9]+)/del/load$ 						?cmd=AppLibraryAlbumDelLoad&IdAlbum=$1 [L]
RewriteRule ^app/album/([a-z0-9]+)/del/exe$ 						?cmd=AppLibraryAlbumDelExe&IdAlbum=$1 [L]

RewriteRule ^app/monk$ 												?cmd=AppMonk [L]
RewriteRule ^app/monk/ins/load$ 									?cmd=AppMonkInsLoad [L]
RewriteRule ^app/monk/ins/exe$ 										?cmd=AppMonkInsExe [L]
RewriteRule ^app/monk/([a-z0-9]+)/upd/load$ 						?cmd=AppMonkUpdLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([a-z0-9]+)/upd/exe$ 							?cmd=AppMonkUpdExe&IdMonk=$1 [L]
RewriteRule ^app/monk/([a-z0-9]+)/del/load$ 						?cmd=AppMonkDelLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([a-z0-9]+)/del/exe$ 							?cmd=AppMonkDelExe&IdMonk=$1 [L]

RewriteRule ^app/category/news$ 									?cmd=AppCategoryNews [L]
RewriteRule ^app/category/news/ins/load$ 							?cmd=AppCategoryNewsInsLoad [L]
RewriteRule ^app/category/news/ins/exe$ 							?cmd=AppCategoryNewsInsExe [L]
RewriteRule ^app/category/news/([a-z0-9]+)/upd/load$ 				?cmd=AppCategoryNewsUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([a-z0-9]+)/upd/exe$ 				?cmd=AppCategoryNewsUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/news/([a-z0-9]+)/del/load$ 				?cmd=AppCategoryNewsDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([a-z0-9]+)/del/exe$ 				?cmd=AppCategoryNewsDelExe&IdCategory=$1 [L]

RewriteRule ^app/news$ 												?cmd=AppNews [L]
RewriteRule ^app/news/([a-z0-9]+)$ 									?cmd=AppNews&IdCategory=$1 [L]
RewriteRule ^app/news/([a-z0-9]+)/ins/load$ 						?cmd=AppNewsInsLoad&IdCategory=$1 [L]
RewriteRule ^app/news/([a-z0-9]+)/ins/exe$ 							?cmd=AppNewsInsExe&IdCategory=$1 [L]
RewriteRule ^app/news/([a-z0-9]+)/([a-z0-9]+)/upd/load$ 			?cmd=AppNewsUpdLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([a-z0-9]+)/([a-z0-9]+)/upd/exe$ 				?cmd=AppNewsUpdExe&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([a-z0-9]+)/([a-z0-9]+)/del/load$ 			?cmd=AppNewsDelLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([a-z0-9]+)/([a-z0-9]+)/del/exe$ 				?cmd=AppNewsDelExe&IdCategory=$1&IdNews=$2 [L]

RewriteRule ^app/category/video$ 									?cmd=AppCategoryVideo [L]
RewriteRule ^app/category/video/ins/load$ 							?cmd=AppCategoryVideoInsLoad [L]
RewriteRule ^app/category/video/ins/exe$ 							?cmd=AppCategoryVideoInsExe [L]
RewriteRule ^app/category/video/([a-z0-9]+)/upd/load$ 				?cmd=AppCategoryVideoUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/upd/exe$ 				?cmd=AppCategoryVideoUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/del/load$ 				?cmd=AppCategoryVideoDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/del/exe$ 				?cmd=AppCategoryVideoDelExe&IdCategory=$1 [L]

RewriteRule ^app/category/video/([a-z0-9]+)$ 						?cmd=AppCategoryVideoDetail&IdCategory=$1 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/ins/load$ 				?cmd=AppCategoryVideoDetailInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/ins/exe$ 				?cmd=AppCategoryVideoDetailInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/([a-z0-9]+)/upd/load$ 	?cmd=AppCategoryVideoDetailUpdLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/([a-z0-9]+)/upd/exe$ 	?cmd=AppCategoryVideoDetailUpdExe&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/([a-z0-9]+)/del/load$ 	?cmd=AppCategoryVideoDetailDelLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([a-z0-9]+)/([a-z0-9]+)/del/exe$ 	?cmd=AppCategoryVideoDetailDelExe&IdCategory=$1&IdVideoLibrary=$2 [L]

RewriteRule ^app/category/ask$ 										?cmd=AppCategoryAsk [L]
RewriteRule ^app/category/ask/ins/load$ 							?cmd=AppCategoryAskInsLoad [L]
RewriteRule ^app/category/ask/ins/exe$ 								?cmd=AppCategoryAskInsExe [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/upd/load$ 				?cmd=AppCategoryAskUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/upd/exe$ 					?cmd=AppCategoryAskUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/del/load$ 				?cmd=AppCategoryAskDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/del/exe$ 					?cmd=AppCategoryAskDelExe&IdCategory=$1 [L]

RewriteRule ^app/category/ask/([a-z0-9]+)$ 							?cmd=AppCategoryAskDetail&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/ins/load$ 				?cmd=AppCategoryAskDetailInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/ins/exe$ 					?cmd=AppCategoryAskDetailInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/([a-z0-9]+)/upd/load$ 	?cmd=AppCategoryAskDetailUpdLoad&IdCategory=$1&IdAsk=$2 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/([a-z0-9]+)/upd/exe$ 		?cmd=AppCategoryAskDetailUpdExe&IdCategory=$1&IdAsk=$2 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/([a-z0-9]+)/del/load$ 	?cmd=AppCategoryAskDetailDelLoad&IdCategory=$1&IdAsk=$2 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/([a-z0-9]+)/del/exe$ 		?cmd=AppCategoryAskDetailDelExe&IdCategory=$1&IdAsk=$2 [L]

RewriteRule ^app/pagoda$ 											?cmd=AppPagoda [L]
RewriteRule ^app/pagoda/ins/load$ 									?cmd=AppPagodaInsLoad [L]
RewriteRule ^app/pagoda/ins/exe$ 									?cmd=AppPagodaInsExe [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/upd/load$ 						?cmd=AppPagodaUpdLoad&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/upd/exe$ 						?cmd=AppPagodaUpdExe&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/del/load$ 						?cmd=AppPagodaDelLoad&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/del/exe$ 						?cmd=AppPagodaDelExe&IdPagoda=$1 [L]

RewriteRule ^app/pagoda/([a-z0-9]+)/video$ 							?cmd=AppPagodaVideo&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/video/ins/load$ 				?cmd=AppPagodaVideoInsLoad&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/video/ins/exe$ 					?cmd=AppPagodaVideoInsExe&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/video/([a-z0-9]+)/upd/load$ 	?cmd=AppPagodaVideoUpdLoad&IdPagoda=$1&IdVideoPagoda=$2 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/video/([a-z0-9]+)/upd/exe$ 		?cmd=AppPagodaVideoUpdExe&IdPagoda=$1&IdVideoPagoda=$2 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/video/([a-z0-9]+)/del/load$ 	?cmd=AppPagodaVideoDelLoad&IdPagoda=$1&IdVideoPagoda=$2 [L]
RewriteRule ^app/pagoda/([a-z0-9]+)/video/([a-z0-9]+)/del/exe$ 		?cmd=AppPagodaVideoDelExe&IdPagoda=$1&IdVideoPagoda=$2 [L]

RewriteRule ^app/event$ 											?cmd=AppEvent [L]
RewriteRule ^app/event/ins/load$ 									?cmd=AppEventInsLoad [L]
RewriteRule ^app/event/ins/exe$ 									?cmd=AppEventInsExe [L]
RewriteRule ^app/event/([a-z0-9]+)/upd/load$ 						?cmd=AppEventUpdLoad&IdEvent=$1 [L]
RewriteRule ^app/event/([a-z0-9]+)/upd/exe$ 						?cmd=AppEventUpdExe&IdEvent=$1 [L]
RewriteRule ^app/event/([a-z0-9]+)/del/load$ 						?cmd=AppEventDelLoad&IdEvent=$1 [L]
RewriteRule ^app/event/([a-z0-9]+)/del/exe$ 						?cmd=AppEventDelExe&IdEvent=$1 [L]

RewriteRule ^app/sponsor$ 											?cmd=AppSponsor [L]
RewriteRule ^app/sponsor/ins/load$ 									?cmd=AppSponsorInsLoad [L]
RewriteRule ^app/sponsor/ins/exe$ 									?cmd=AppSponsorInsExe [L]
RewriteRule ^app/sponsor/([0-9]+)/upd/load$ 						?cmd=AppSponsorUpdLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/upd/exe$ 							?cmd=AppSponsorUpdExe&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/del/load$ 						?cmd=AppSponsorDelLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/del/exe$ 							?cmd=AppSponsorDelExe&IdSponsor=$1 [L]

RewriteRule ^app/sponsor/([0-9]+)$ 									?cmd=AppSponsorPerson&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/ins/load$ 						?cmd=AppSponsorPersonInsLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/ins/exe$ 							?cmd=AppSponsorPersonInsExe&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/([0-9]+)/upd/load$ 				?cmd=AppSponsorPersonUpdLoad&IdSponsor=$1&IdPerson=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/([0-9]+)/upd/exe$ 				?cmd=AppSponsorPersonUpdExe&IdSponsor=$1&IdPerson=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/([0-9]+)/del/load$ 				?cmd=AppSponsorPersonDelLoad&IdSponsor=$1&IdPerson=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/([0-9]+)/del/exe$ 				?cmd=AppSponsorPersonDelExe&IdSponsor=$1&IdPerson=$2 [L]

RewriteRule ^app/sponsor/([0-9]+)/video$ 							?cmd=AppSponsorVideo&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/ins/load$ 					?cmd=AppSponsorVideoInsLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/ins/exe$ 					?cmd=AppSponsorVideoInsExe&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/([0-9]+)/upd/load$ 			?cmd=AppSponsorVideoUpdLoad&IdSponsor=$1&IdVideo=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/([0-9]+)/upd/exe$ 			?cmd=AppSponsorVideoUpdExe&IdSponsor=$1&IdVideo=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/([0-9]+)/del/load$ 			?cmd=AppSponsorVideoDelLoad&IdSponsor=$1&IdVideo=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/([0-9]+)/del/exe$ 			?cmd=AppSponsorVideoDelExe&IdSponsor=$1&IdVideo=$2 [L]

RewriteRule ^app/panel/ads$ 										?cmd=AppPanelAds [L]
RewriteRule ^app/panel/ads/ins/load$ 								?cmd=AppPanelAdsInsLoad [L]
RewriteRule ^app/panel/ads/ins/exe$ 								?cmd=AppPanelAdsInsExe [L]
RewriteRule ^app/panel/ads/([a-z0-9]+)/del/load$ 					?cmd=AppPanelAdsDelLoad&IdPanelAds=$1 [L]
RewriteRule ^app/panel/ads/([a-z0-9]+)/del/exe$ 					?cmd=AppPanelAdsDelExe&IdPanelAds=$1 [L]

RewriteRule ^app/panel/news$ 										?cmd=AppPanelNews [L]
RewriteRule ^app/panel/news/ins/load$ 								?cmd=AppPanelNewsInsLoad [L]
RewriteRule ^app/panel/news/ins/exe$ 								?cmd=AppPanelNewsInsExe [L]
RewriteRule ^app/panel/news/([a-z0-9]+)/del/load$ 					?cmd=AppPanelNewsDelLoad&IdPanelNews=$1 [L]
RewriteRule ^app/panel/news/([a-z0-9]+)/del/exe$ 					?cmd=AppPanelNewsDelExe&IdPanelNews=$1 [L]

RewriteRule ^app/panel/category/video$ 								?cmd=AppPanelCategoryVideo [L]
RewriteRule ^app/panel/category/video/ins/load$ 					?cmd=AppPanelCategoryVideoInsLoad [L]
RewriteRule ^app/panel/category/video/ins/exe$ 						?cmd=AppPanelCategoryVideoInsExe [L]
RewriteRule ^app/panel/category/video/([a-z0-9]+)/del/load$ 		?cmd=AppPanelCategoryVideoDelLoad&IdPanelCategoryVideo=$1 [L]
RewriteRule ^app/panel/category/video/([a-z0-9]+)/del/exe$ 			?cmd=AppPanelCategoryVideoDelExe&IdPanelCategoryVideo=$1 [L]