Options +FollowSymlinks
RewriteEngine on

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------



RewriteRule ^signin/load$ 											?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 											?cmd=SigninExe [L]
RewriteRule ^signout/load$ 											?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 											?cmd=SignoutExe [L]

RewriteRule ^trang-chu$ 											?cmd=Home [L]

RewriteRule ^gioi-thieu$ 											?cmd=Introduction [L]
RewriteRule ^to-chuyen-mon/kt-dung$ 								?cmd=Introduction0 [L]
RewriteRule ^to-chuyen-mon/kt-am-thanh$ 							?cmd=Introduction1 [L]
RewriteRule ^to-chuyen-mon/do-hoa$ 									?cmd=Introduction2 [L]
RewriteRule ^gioi-thieu/3$ 											?cmd=Introduction3 [L]
RewriteRule ^gioi-thieu/4$ 											?cmd=Introduction4 [L]

RewriteRule ^task$ 													?cmd=Task [L]
RewriteRule ^lien-he$ 												?cmd=Contact [L]

RewriteRule ^so-vang$ 												?cmd=Sponsor [L]
RewriteRule ^so-vang/([a-z0-9_-]+)$ 								?cmd=SponsorDetail&KSponsor=$1 [L]
RewriteRule ^so-vang/([a-z0-9_-]+)/video/([a-z0-9_-]+)$ 			?cmd=SponsorDetailVideo&KSponsor=$1&KVideoSponsor=$2 [L]
RewriteRule ^report/([a-z0-9_-]+)$ 									?cmd=Report&IdTracking=$1 [L]

RewriteRule ^psn-hay/1$											?cmd=LibraryVideo&KBType=$1 [L]
RewriteRule ^psn-hay/danh-muc/([a-z0-9_-]+)$					?cmd=LibraryVideoCategory&KCategory=$1 [L]
RewriteRule ^psn-hay/danh-muc/([a-z0-9_-]+)/trang/([0-9]+)$		?cmd=LibraryVideoCategory&KCategory=$1&Page=$2 [L]
RewriteRule ^psn-hay/danh-muc/([a-z0-9_-]+)/([a-z0-9_-]+)$		?cmd=LibraryVideoCategoryPlay&KCategory=$1&KVideoLibrary=$2 [L]

RewriteRule ^psn-hay/([a-z0-9_-]+)/giang-su/([a-z0-9_-]+)$					?cmd=LibraryVideoMonk&KBType=$1&KMonk=$2 [L]
RewriteRule ^psn-hay/([a-z0-9_-]+)/giang-su/([a-z0-9_-]+)/trang/([0-9]+)$	?cmd=LibraryVideoMonk&KBType=$1&KMonk=$2&Page=$3 [L]
RewriteRule ^psn-hay/([a-z0-9_-]+)/giang-su/([a-z0-9_-]+)/([a-z0-9_-]+)$	?cmd=LibraryVideoMonkPlay&KBType=$1&KMonk=$2&KVideo=$3 [L]

RewriteRule ^library/video/pagoda/([a-z0-9]+)$						?cmd=LibraryVideoPagoda&IdPagoda=$1 [L]

RewriteRule ^thu-vien-anh$											?cmd=LibraryAlbum [L]
RewriteRule ^thu-vien-anh/([a-z0-9_-]+)$							?cmd=LibraryAlbum&KAlbum=$1 [L]

RewriteRule ^su-kien$ 												?cmd=Event [L]
RewriteRule ^su-kien/([a-z0-9_-]+)$ 								?cmd=EventDetail&KEvent=$1 [L]

RewriteRule ^tin-tuc$ 												?cmd=ReadCategory [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)$ 								?cmd=ReadCategory&Key1=$1 [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)/trang/([a-z0-9_-]+)$ 			?cmd=ReadCategory&Key1=$1&Page=$2 [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)/([a-z0-9_-]+)$ 					?cmd=ReadCategoryDetail&Key1=$1&Key2=$2 [L]

RewriteRule ^chua-ban$ 												?cmd=Pagoda [L]
RewriteRule ^chua-ban/([a-z0-9_-]+)$ 								?cmd=Pagoda&KPagoda=$1 [L]
RewriteRule ^chua-ban/([a-z0-9_-]+)/video/([a-z0-9_-]+)$ 			?cmd=PagodaVideo&KPagoda=$1&KVideoPagoda=$2 [L]

RewriteRule ^hoi-dap$ 												?cmd=Ask [L]
RewriteRule ^hoi-dap/dat-cau-hoi$ 									?cmd=AskInsLoad [L]
RewriteRule ^hoi-dap/dat-cau-hoi/exe$ 								?cmd=AskInsExe [L]
RewriteRule ^hoi-dap/([a-z0-9_-]+)$ 								?cmd=Ask&KCategory=$1 [L]
RewriteRule ^hoi-dap/([a-z0-9_-]+)/([a-z0-9_-]+)$ 					?cmd=Ask&KCategory=$1&KAsk=$2 [L]

RewriteRule ^dao-tao$ 												?cmd=Course [L]
RewriteRule ^dao-tao/([a-z0-9_-]+)$ 								?cmd=CourseDetail&KCourse=$1 [L]
RewriteRule ^dao-tao/([a-z0-9_-]+)/([a-z0-9_-]+)$ 					?cmd=CourseLession&KCourse=$1&KLession=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# APLICATION
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^thu-lao$ 												?cmd=AplSigninLoad [L]
RewriteRule ^thu-lao/signin/exe$ 									?cmd=AplSigninExe [L]
RewriteRule ^thu-lao/signout/load$ 									?cmd=AplSignoutLoad [L]
RewriteRule ^thu-lao/signout/exe$ 									?cmd=AplSignoutExe [L]

RewriteRule ^thu-lao/app$ 											?cmd=AplApp [L]
RewriteRule ^thu-lao/app/changetime$								?cmd=AplAppChangeTime [L]

RewriteRule ^thu-lao/reward$ 										?cmd=AplReward [L]
RewriteRule ^thu-lao/reward/trang/([0-9]+)$ 						?cmd=AplReward&Page=$1 [L]
RewriteRule ^thu-lao/reward/update/([0-9]+)$						?cmd=AplRewardUpdate&IdReward=$1 [L]
RewriteRule ^thu-lao/reward/update/([0-9]+)/exe$					?cmd=AplRewardUpdateExe&IdReward=$1 [L]
RewriteRule ^thu-lao/reward/delete/([0-9]+)$						?cmd=AplRewardDelete&IdReward=$1 [L]
RewriteRule ^thu-lao/reward/delete/([0-9]+)/exe$					?cmd=AplRewardDeleteExe&IdReward=$1 [L]
RewriteRule ^thu-lao/reward/ins/load$ 								?cmd=AplRewardInsLoad [L]
RewriteRule ^thu-lao/reward/ins/exe$ 								?cmd=AplRewardInsExe [L]

RewriteRule ^thu-lao/config$ 										?cmd=AplConfig [L]
RewriteRule ^thu-lao/config/trang/([0-9]+)$ 						?cmd=AplConfig&Page=$1 [L]
RewriteRule ^thu-lao/config/ins/load$ 								?cmd=AplConfigInsLoad [L]
RewriteRule ^thu-lao/config/ins/exe$ 								?cmd=AplConfigInsExe [L]
RewriteRule ^thu-lao/config/([a-z0-9]+)/upd/load$ 					?cmd=AplConfigUpdLoad&IdConfig=$1 [L]
RewriteRule ^thu-lao/config/([a-z0-9]+)/upd/exe$ 					?cmd=AplConfigUpdExe&IdConfig=$1 [L]
RewriteRule ^thu-lao/config/([a-z0-9]+)/del/load$ 					?cmd=AplConfigDelLoad&IdConfig=$1 [L]
RewriteRule ^thu-lao/config/([a-z0-9]+)/del/exe$ 					?cmd=AplConfigDelExe&IdConfig=$1 [L]

RewriteRule ^thu-lao/report$ 										?cmd=AplReport [L]
RewriteRule ^thu-lao/report/trang/([0-9]+)$ 						?cmd=AplReport&Page=$1 [L]
RewriteRule ^thu-lao/report/ins/load$ 								?cmd=AplReportInsLoad [L]
RewriteRule ^thu-lao/report/ins/exe$ 								?cmd=AplReportInsExe [L]
RewriteRule ^thu-lao/report/([a-z0-9]+)/upd/load$ 					?cmd=AplReportUpdLoad&IdReport=$1 [L]
RewriteRule ^thu-lao/report/([a-z0-9]+)/upd/exe$ 					?cmd=AplReportUpdExe&IdReport=$1 [L]
RewriteRule ^thu-lao/report/([a-z0-9]+)/del/load$ 					?cmd=AplReportDelLoad&IdReport=$1 [L]
RewriteRule ^thu-lao/report/([a-z0-9]+)/del/exe$ 					?cmd=AplReportDelExe&IdReport=$1 [L]
RewriteRule ^thu-lao/report/([a-z0-9]+)/print/user$ 				?cmd=AplReportUser&IdReport=$1 [L]
RewriteRule ^thu-lao/report/([a-z0-9]+)/print/department$ 			?cmd=AplReportDepartment&IdReport=$1 [L]
RewriteRule ^thu-lao/report/([a-z0-9]+)/print/summary$ 			    ?cmd=AplReportSummary&IdReport=$1 [L]
RewriteRule ^thu-lao/report/([a-z0-9]+)/print/all$ 					?cmd=AplReportAll&IdReport=$1 [L]

RewriteRule ^thu-lao/manager$ 										?cmd=AplManager [L]
RewriteRule ^thu-lao/manager/ins/load$ 								?cmd=AplManagerInsLoad [L]
RewriteRule ^thu-lao/manager/ins/exe$ 								?cmd=AplManagerInsExe [L]
RewriteRule ^thu-lao/manager/([a-z0-9]+)/upd/load$ 					?cmd=AplManagerUpdLoad&IdCategory=$1 [L]
RewriteRule ^thu-lao/manager/([a-z0-9]+)/upd/exe$ 					?cmd=AplManagerUpdExe&IdCategory=$1 [L]
RewriteRule ^thu-lao/manager/([a-z0-9]+)/del/load$ 					?cmd=AplManagerDelLoad&IdCategory=$1 [L]
RewriteRule ^thu-lao/manager/([a-z0-9]+)/del/exe$ 					?cmd=AplManagerDelExe&IdCategory=$1 [L]

RewriteRule ^thu-lao/search$ 										?cmd=AplSearch [L]
RewriteRule ^thu-lao/search/category/([a-z0-9]+)/([a-z0-9]+)$ 		?cmd=AplSearchCategory&IdCategory=$1&Month=$2 [L]


RewriteRule ^thu-lao/changepass$ 									?cmd=AplChangePass [L]
RewriteRule ^thu-lao/changepass/exe$ 								?cmd=AplChangePassExe [L]


#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 													?cmd=App [L]

RewriteRule ^app/category/paid$ 									?cmd=AppCategoryPaid [L]
RewriteRule ^app/category/paid/trang/([0-9]+)$ 						?cmd=AppCategoryPaid&Page=$1 [L]
RewriteRule ^app/category/paid/ins/load$ 							?cmd=AppCategoryPaidInsLoad [L]
RewriteRule ^app/category/paid/ins/exe$ 							?cmd=AppCategoryPaidInsExe [L]
RewriteRule ^app/category/paid/([0-9]+)/upd/load$ 					?cmd=AppCategoryPaidUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/paid/([0-9]+)/upd/exe$ 					?cmd=AppCategoryPaidUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/paid/([0-9]+)/del/load$ 					?cmd=AppCategoryPaidDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/paid/([0-9]+)/del/exe$ 					?cmd=AppCategoryPaidDelExe&IdCategory=$1 [L]

RewriteRule ^app/config$ 											?cmd=AppConfig [L]
RewriteRule ^app/config/trang/([0-9]+)$ 							?cmd=AppConfig&Page=$1 [L]
RewriteRule ^app/config/ins/load$ 									?cmd=AppConfigInsLoad [L]
RewriteRule ^app/config/ins/exe$ 									?cmd=AppConfigInsExe [L]
RewriteRule ^app/config/([a-z0-9]+)/upd/load$ 						?cmd=AppConfigUpdLoad&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/upd/exe$ 						?cmd=AppConfigUpdExe&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/del/load$ 						?cmd=AppConfigDelLoad&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/del/exe$ 						?cmd=AppConfigDelExe&IdConfig=$1 [L]

RewriteRule ^app/album$ 										?cmd=AppLibraryAlbum [L]
RewriteRule ^app/album/trang/([0-9]+)$ 							?cmd=AppLibraryAlbum&Page=$1 [L]
RewriteRule ^app/album/ins/load$ 								?cmd=AppLibraryAlbumInsLoad [L]
RewriteRule ^app/album/ins/exe$ 								?cmd=AppLibraryAlbumInsExe [L]
RewriteRule ^app/album/([0-9]+)/upd/load$ 						?cmd=AppLibraryAlbumUpdLoad&IdAlbum=$1 [L]
RewriteRule ^app/album/([0-9]+)/upd/exe$ 						?cmd=AppLibraryAlbumUpdExe&IdAlbum=$1 [L]
RewriteRule ^app/album/([0-9]+)/del/load$ 						?cmd=AppLibraryAlbumDelLoad&IdAlbum=$1 [L]
RewriteRule ^app/album/([0-9]+)/del/exe$ 						?cmd=AppLibraryAlbumDelExe&IdAlbum=$1 [L]


RewriteRule ^app/category/news$ 								?cmd=AppCategoryNews [L]
RewriteRule ^app/category/news/trang/([0-9]+)$ 					?cmd=AppCategoryNews&Page=$1 [L]
RewriteRule ^app/category/news/ins/load$ 						?cmd=AppCategoryNewsInsLoad [L]
RewriteRule ^app/category/news/ins/exe$ 						?cmd=AppCategoryNewsInsExe [L]
RewriteRule ^app/category/news/([0-9]+)/upd/load$ 				?cmd=AppCategoryNewsUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/upd/exe$ 				?cmd=AppCategoryNewsUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/del/load$ 				?cmd=AppCategoryNewsDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/del/exe$ 				?cmd=AppCategoryNewsDelExe&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/auto/load$ 				?cmd=AppCategoryNewsAutoLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/auto/exe$ 				?cmd=AppCategoryNewsAutoExe&IdCategory=$1 [L]

RewriteRule ^app/category/news/([0-9]+)/profile$ 					?cmd=AppProfileNews&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/ins/load$ 			?cmd=AppProfileNewsInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/ins/exe$ 			?cmd=AppProfileNewsInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/upd/load$ 	?cmd=AppProfileNewsUpdLoad&IdCategory=$1&IdProfile=$2 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/upd/exe$ 	?cmd=AppProfileNewsUpdExe&IdCategory=$1&IdProfile=$2 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/del/load$ 	?cmd=AppProfileNewsDelLoad&IdCategory=$1&IdProfile=$2 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/del/exe$ 	?cmd=AppProfileNewsDelExe&IdCategory=$1&IdProfile=$2 [L]

RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/detail$ 	?cmd=AppProfileNewsDetail&IdCategory=$1&IdProfile=$2 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/updateall/exe$ 	?cmd=AppProfileNewsDetailUpdateAllExe&IdCategory=$1&IdProfile=$2 [L]

RewriteRule ^app/news$ 											?cmd=AppNews [L]
RewriteRule ^app/news/([0-9]+)$ 								?cmd=AppNews&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/trang/([0-9]+)$ 					?cmd=AppNews&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/news/([0-9]+)/ins/load$ 						?cmd=AppNewsInsLoad&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/ins/exe$ 						?cmd=AppNewsInsExe&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/upd/load$ 				?cmd=AppNewsUpdLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/upd/exe$ 				?cmd=AppNewsUpdExe&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/del/load$ 				?cmd=AppNewsDelLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/del/exe$ 				?cmd=AppNewsDelExe&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/update/all$ 								?cmd=AppNewsUpdateAll [L]

RewriteRule ^app/category/video$ 								?cmd=AppCategoryVideo [L]
RewriteRule ^app/category/video/trang/([0-9]+)$ 				?cmd=AppCategoryVideo&Page=$1 [L]
RewriteRule ^app/category/video/ins/load$ 						?cmd=AppCategoryVideoInsLoad [L]
RewriteRule ^app/category/video/ins/exe$ 						?cmd=AppCategoryVideoInsExe [L]
RewriteRule ^app/category/video/([0-9]+)/upd/load$ 				?cmd=AppCategoryVideoUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/upd/exe$ 				?cmd=AppCategoryVideoUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/del/load$ 				?cmd=AppCategoryVideoDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/del/exe$ 				?cmd=AppCategoryVideoDelExe&IdCategory=$1 [L]

RewriteRule ^app/category/video/([0-9]+)$ 						?cmd=AppCategoryVideoDetail&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/youtube/upd/load$ 		?cmd=AppCategoryVideoDetailYoutubeUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/youtube/upd/exe$ 		?cmd=AppCategoryVideoDetailYoutubeUpdExe&IdCategory=$1 [L]

RewriteRule ^app/category/video/([0-9]+)/trang/([0-9]+)$ 		?cmd=AppCategoryVideoDetail&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/ins/load$ 				?cmd=AppCategoryVideoDetailInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/ins/exe$ 				?cmd=AppCategoryVideoDetailInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/upd/load$ 	?cmd=AppCategoryVideoDetailUpdLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/upd/exe$ 		?cmd=AppCategoryVideoDetailUpdExe&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/del/load$ 	?cmd=AppCategoryVideoDetailDelLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/del/exe$ 		?cmd=AppCategoryVideoDetailDelExe&IdCategory=$1&IdVideoLibrary=$2 [L]

RewriteRule ^app/video/update/all$ 								?cmd=AppVideoUpdateAll [L]


