Options +FollowSymlinks
RewriteEngine on

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------



RewriteRule ^signin/load$ 											?cmd=SigninLoad [L]
RewriteRule ^signin/exe$ 											?cmd=SigninExe [L]
RewriteRule ^signout/load$ 											?cmd=SignoutLoad [L]
RewriteRule ^signout/exe$ 											?cmd=SignoutExe [L]

RewriteRule ^trang-chu$ 											?cmd=Home [L]

RewriteRule ^gioi-thieu$ 											?cmd=Introduction [L]
RewriteRule ^to-chuyen-mon/kt-dung$ 								?cmd=Introduction0 [L]
RewriteRule ^to-chuyen-mon/kt-am-thanh$ 							?cmd=Introduction1 [L]
RewriteRule ^to-chuyen-mon/do-hoa$ 									?cmd=Introduction2 [L]
RewriteRule ^gioi-thieu/3$ 											?cmd=Introduction3 [L]
RewriteRule ^gioi-thieu/4$ 											?cmd=Introduction4 [L]

RewriteRule ^task$ 													?cmd=Task [L]
RewriteRule ^lien-he$ 												?cmd=Contact [L]

RewriteRule ^so-vang$ 												?cmd=Sponsor [L]
RewriteRule ^so-vang/([a-z0-9_-]+)$ 								?cmd=SponsorDetail&KSponsor=$1 [L]
RewriteRule ^so-vang/([a-z0-9_-]+)/video/([a-z0-9_-]+)$ 			?cmd=SponsorDetailVideo&KSponsor=$1&KVideoSponsor=$2 [L]
RewriteRule ^report/([a-z0-9_-]+)$ 									?cmd=Report&IdTracking=$1 [L]

RewriteRule ^psn-hay/1$											?cmd=LibraryVideo&KBType=$1 [L]
RewriteRule ^psn-hay/danh-muc/([a-z0-9_-]+)$					?cmd=LibraryVideoCategory&KCategory=$1 [L]
RewriteRule ^psn-hay/danh-muc/([a-z0-9_-]+)/trang/([0-9]+)$		?cmd=LibraryVideoCategory&KCategory=$1&Page=$2 [L]
RewriteRule ^psn-hay/danh-muc/([a-z0-9_-]+)/([a-z0-9_-]+)$		?cmd=LibraryVideoCategoryPlay&KCategory=$1&KVideoLibrary=$2 [L]

RewriteRule ^psn-hay/([a-z0-9_-]+)/giang-su/([a-z0-9_-]+)$					?cmd=LibraryVideoMonk&KBType=$1&KMonk=$2 [L]
RewriteRule ^psn-hay/([a-z0-9_-]+)/giang-su/([a-z0-9_-]+)/trang/([0-9]+)$	?cmd=LibraryVideoMonk&KBType=$1&KMonk=$2&Page=$3 [L]
RewriteRule ^psn-hay/([a-z0-9_-]+)/giang-su/([a-z0-9_-]+)/([a-z0-9_-]+)$	?cmd=LibraryVideoMonkPlay&KBType=$1&KMonk=$2&KVideo=$3 [L]

RewriteRule ^library/video/pagoda/([a-z0-9]+)$						?cmd=LibraryVideoPagoda&IdPagoda=$1 [L]

RewriteRule ^thu-vien-anh$											?cmd=LibraryAlbum [L]
RewriteRule ^thu-vien-anh/([a-z0-9_-]+)$							?cmd=LibraryAlbum&KAlbum=$1 [L]

RewriteRule ^su-kien$ 												?cmd=Event [L]
RewriteRule ^su-kien/([a-z0-9_-]+)$ 								?cmd=EventDetail&KEvent=$1 [L]

RewriteRule ^tin-tuc$ 												?cmd=ReadCategory [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)$ 								?cmd=ReadCategory&Key1=$1 [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)/trang/([a-z0-9_-]+)$ 			?cmd=ReadCategory&Key1=$1&Page=$2 [L]
RewriteRule ^tin-tuc/([a-z0-9_-]+)/([a-z0-9_-]+)$ 					?cmd=ReadCategoryDetail&Key1=$1&Key2=$2 [L]

RewriteRule ^chua-ban$ 												?cmd=Pagoda [L]
RewriteRule ^chua-ban/([a-z0-9_-]+)$ 								?cmd=Pagoda&KPagoda=$1 [L]
RewriteRule ^chua-ban/([a-z0-9_-]+)/video/([a-z0-9_-]+)$ 			?cmd=PagodaVideo&KPagoda=$1&KVideoPagoda=$2 [L]

RewriteRule ^hoi-dap$ 												?cmd=Ask [L]
RewriteRule ^hoi-dap/dat-cau-hoi$ 									?cmd=AskInsLoad [L]
RewriteRule ^hoi-dap/dat-cau-hoi/exe$ 								?cmd=AskInsExe [L]
RewriteRule ^hoi-dap/([a-z0-9_-]+)$ 								?cmd=Ask&KCategory=$1 [L]
RewriteRule ^hoi-dap/([a-z0-9_-]+)/([a-z0-9_-]+)$ 					?cmd=Ask&KCategory=$1&KAsk=$2 [L]

RewriteRule ^dao-tao$ 												?cmd=Course [L]
RewriteRule ^dao-tao/([a-z0-9_-]+)$ 								?cmd=CourseDetail&KCourse=$1 [L]
RewriteRule ^dao-tao/([a-z0-9_-]+)/([a-z0-9_-]+)$ 					?cmd=CourseLession&KCourse=$1&KLession=$2 [L]

#---------------------------------------------------------------------------------------------------------------------------
# APP
#---------------------------------------------------------------------------------------------------------------------------
RewriteRule ^app$ 													?cmd=App [L]

RewriteRule ^app/category/paid$ 									?cmd=AppCategoryPaid [L]
RewriteRule ^app/category/paid/trang/([0-9]+)$ 						?cmd=AppCategoryPaid&Page=$1 [L]
RewriteRule ^app/category/paid/ins/load$ 							?cmd=AppCategoryPaidInsLoad [L]
RewriteRule ^app/category/paid/ins/exe$ 							?cmd=AppCategoryPaidInsExe [L]
RewriteRule ^app/category/paid/([0-9]+)/upd/load$ 					?cmd=AppCategoryPaidUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/paid/([0-9]+)/upd/exe$ 					?cmd=AppCategoryPaidUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/paid/([0-9]+)/del/load$ 					?cmd=AppCategoryPaidDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/paid/([0-9]+)/del/exe$ 					?cmd=AppCategoryPaidDelExe&IdCategory=$1 [L]

RewriteRule ^app/paid/([0-9]+)$ 									?cmd=AppPaid&IdCategory=$1 [L]
RewriteRule ^app/paid/([0-9]+)/trang/([0-9]+)$						?cmd=AppPaid&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/paid/([0-9]+)/ins/load$ 							?cmd=AppPaidInsLoad&IdCategory=$1 [L]
RewriteRule ^app/paid/([0-9]+)/ins/exe$ 							?cmd=AppPaidInsExe&IdCategory=$1 [L]
RewriteRule ^app/paid/([0-9]+)/([0-9]+)/upd/load$ 					?cmd=AppPaidUpdLoad&IdCategory=$1&IdPaid=$2 [L]
RewriteRule ^app/paid/([0-9]+)/([0-9]+)/upd/exe$ 					?cmd=AppPaidUpdExe&IdCategory=$1&IdPaid=$2 [L]
RewriteRule ^app/paid/([0-9]+)/([0-9]+)/del/load$ 					?cmd=AppPaidDelLoad&IdCategory=$1&IdPaid=$2 [L]
RewriteRule ^app/paid/([0-9]+)/([0-9]+)/del/exe$ 					?cmd=AppPaidDelExe&IdCategory=$1&IdPaid=$2 [L]

RewriteRule ^app/category/task$ 									?cmd=AppCategoryTask [L]
RewriteRule ^app/category/task/trang/([0-9]+)$ 						?cmd=AppCategoryTask&Page=$1 [L]
RewriteRule ^app/category/task/ins/load$ 							?cmd=AppCategoryTaskInsLoad [L]
RewriteRule ^app/category/task/ins/exe$ 							?cmd=AppCategoryTaskInsExe [L]
RewriteRule ^app/category/task/([0-9]+)/upd/load$ 					?cmd=AppCategoryTaskUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/task/([0-9]+)/upd/exe$ 					?cmd=AppCategoryTaskUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/task/([0-9]+)/del/load$ 					?cmd=AppCategoryTaskDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/task/([0-9]+)/del/exe$ 					?cmd=AppCategoryTaskDelExe&IdCategory=$1 [L]

RewriteRule ^app/task/([0-9]+)$ 									?cmd=AppTask&IdCategory=$1 [L]
RewriteRule ^app/task/([0-9]+)/trang/([0-9]+)$ 						?cmd=AppTask&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/task/([0-9]+)/ins/load$ 							?cmd=AppTaskInsLoad&IdCategory=$1 [L]
RewriteRule ^app/task/([0-9]+)/ins/exe$ 							?cmd=AppTaskInsExe&IdCategory=$1 [L]
RewriteRule ^app/task/([0-9]+)/([0-9]+)/upd/load$ 					?cmd=AppTaskUpdLoad&IdCategory=$1&IdTask=$2 [L]
RewriteRule ^app/task/([0-9]+)/([0-9]+)/upd/exe$ 					?cmd=AppTaskUpdExe&IdCategory=$1&IdTask=$2 [L]
RewriteRule ^app/task/([0-9]+)/([0-9]+)/del/load$ 					?cmd=AppTaskDelLoad&IdCategory=$1&IdTask=$2 [L]
RewriteRule ^app/task/([0-9]+)/([0-9]+)/del/exe$ 					?cmd=AppTaskDelExe&IdCategory=$1&IdTask=$2 [L]

RewriteRule ^app/config$ 											?cmd=AppConfig [L]
RewriteRule ^app/config/trang/([0-9]+)$ 							?cmd=AppConfig&Page=$1 [L]
RewriteRule ^app/config/ins/load$ 									?cmd=AppConfigInsLoad [L]
RewriteRule ^app/config/ins/exe$ 									?cmd=AppConfigInsExe [L]
RewriteRule ^app/config/([a-z0-9]+)/upd/load$ 						?cmd=AppConfigUpdLoad&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/upd/exe$ 						?cmd=AppConfigUpdExe&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/del/load$ 						?cmd=AppConfigDelLoad&IdConfig=$1 [L]
RewriteRule ^app/config/([a-z0-9]+)/del/exe$ 						?cmd=AppConfigDelExe&IdConfig=$1 [L]

RewriteRule ^app/course$ 											?cmd=AppCourse [L]
RewriteRule ^app/course/trang/([0-9]+)$ 							?cmd=AppCourse&Page=$1 [L]
RewriteRule ^app/course/ins/load$ 									?cmd=AppCourseInsLoad [L]
RewriteRule ^app/course/ins/exe$ 									?cmd=AppCourseInsExe [L]
RewriteRule ^app/course/([a-z0-9]+)/upd/load$ 						?cmd=AppCourseUpdLoad&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/upd/exe$ 						?cmd=AppCourseUpdExe&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/del/load$ 						?cmd=AppCourseDelLoad&IdCourse=$1 [L]
RewriteRule ^app/course/([a-z0-9]+)/del/exe$ 						?cmd=AppCourseDelExe&IdCourse=$1 [L]

RewriteRule ^app/course/([0-9]+)$ 							?cmd=AppCourseLession&IdCourse=$1 [L]
RewriteRule ^app/course/([0-9]+)/trang/([0-9]+)$ 			?cmd=AppCourseLession&IdCourse=$1&Page=$2 [L]
RewriteRule ^app/course/([0-9]+)/ins/load$ 					?cmd=AppCourseLessionInsLoad&IdCourse=$1 [L]
RewriteRule ^app/course/([0-9]+)/ins/exe$ 					?cmd=AppCourseLessionInsExe&IdCourse=$1 [L]
RewriteRule ^app/course/([0-9]+)/([0-9]+)/upd/load$ 		?cmd=AppCourseLessionUpdLoad&IdCourse=$1&IdLession=$2 [L]
RewriteRule ^app/course/([0-9]+)/([0-9]+)/upd/exe$ 			?cmd=AppCourseLessionUpdExe&IdCourse=$1&IdLession=$2 [L]
RewriteRule ^app/course/([0-9]+)/([0-9]+)/del/load$ 		?cmd=AppCourseLessionDelLoad&IdCourse=$1&IdLession=$2 [L]
RewriteRule ^app/course/([0-9]+)/([0-9]+)/del/exe$ 			?cmd=AppCourseLessionDelExe&IdCourse=$1&IdLession=$2 [L]

RewriteRule ^app/album$ 										?cmd=AppLibraryAlbum [L]
RewriteRule ^app/album/trang/([0-9]+)$ 							?cmd=AppLibraryAlbum&Page=$1 [L]
RewriteRule ^app/album/ins/load$ 								?cmd=AppLibraryAlbumInsLoad [L]
RewriteRule ^app/album/ins/exe$ 								?cmd=AppLibraryAlbumInsExe [L]
RewriteRule ^app/album/([0-9]+)/upd/load$ 						?cmd=AppLibraryAlbumUpdLoad&IdAlbum=$1 [L]
RewriteRule ^app/album/([0-9]+)/upd/exe$ 						?cmd=AppLibraryAlbumUpdExe&IdAlbum=$1 [L]
RewriteRule ^app/album/([0-9]+)/del/load$ 						?cmd=AppLibraryAlbumDelLoad&IdAlbum=$1 [L]
RewriteRule ^app/album/([0-9]+)/del/exe$ 						?cmd=AppLibraryAlbumDelExe&IdAlbum=$1 [L]

RewriteRule ^app/monk$ 											?cmd=AppMonk [L]
RewriteRule ^app/monk/trang/([0-9]+)$ 							?cmd=AppMonk&Page=$1 [L]
RewriteRule ^app/monk/ins/load$ 								?cmd=AppMonkInsLoad [L]
RewriteRule ^app/monk/ins/exe$ 									?cmd=AppMonkInsExe [L]
RewriteRule ^app/monk/([0-9]+)/upd/load$ 						?cmd=AppMonkUpdLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/upd/exe$ 						?cmd=AppMonkUpdExe&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/del/load$ 						?cmd=AppMonkDelLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/del/exe$ 						?cmd=AppMonkDelExe&IdMonk=$1 [L]
RewriteRule ^app/monk/update/all$ 								?cmd=AppMonkUpdateAll [L]

RewriteRule ^app/monk/([0-9]+)/video$ 							?cmd=AppMonkVideo&IdMonk=$1 [L]																	 
RewriteRule ^app/monk/([0-9]+)/video/youtube/upd/load$ 			?cmd=AppMonkVideoYoutubeUpdLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/video/youtube/upd/exe$ 			?cmd=AppMonkVideoYoutubeUpdExe&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/video/trang/([0-9]+)$ 			?cmd=AppMonkVideo&IdMonk=$1&Page=$2 [L]
RewriteRule ^app/monk/([0-9]+)/video/ins/load$ 					?cmd=AppMonkVideoInsLoad&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/video/ins/exe$ 					?cmd=AppMonkVideoInsExe&IdMonk=$1 [L]
RewriteRule ^app/monk/([0-9]+)/video/([0-9]+)/upd/load$ 		?cmd=AppMonkVideoUpdLoad&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([0-9]+)/video/([0-9]+)/upd/exe$ 			?cmd=AppMonkVideoUpdExe&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([0-9]+)/video/([0-9]+)/del/load$ 		?cmd=AppMonkVideoDelLoad&IdMonk=$1&IdVideoMonk=$2 [L]
RewriteRule ^app/monk/([0-9]+)/video/([0-9]+)/del/exe$ 			?cmd=AppMonkVideoDelExe&IdMonk=$1&IdVideoMonk=$2 [L]

RewriteRule ^app/category/news$ 								?cmd=AppCategoryNews [L]
RewriteRule ^app/category/news/trang/([0-9]+)$ 					?cmd=AppCategoryNews&Page=$1 [L]
RewriteRule ^app/category/news/ins/load$ 						?cmd=AppCategoryNewsInsLoad [L]
RewriteRule ^app/category/news/ins/exe$ 						?cmd=AppCategoryNewsInsExe [L]
RewriteRule ^app/category/news/([0-9]+)/upd/load$ 				?cmd=AppCategoryNewsUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/upd/exe$ 				?cmd=AppCategoryNewsUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/del/load$ 				?cmd=AppCategoryNewsDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/del/exe$ 				?cmd=AppCategoryNewsDelExe&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/auto/load$ 				?cmd=AppCategoryNewsAutoLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/auto/exe$ 				?cmd=AppCategoryNewsAutoExe&IdCategory=$1 [L]

RewriteRule ^app/category/news/([0-9]+)/profile$ 					?cmd=AppProfileNews&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/ins/load$ 			?cmd=AppProfileNewsInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/ins/exe$ 			?cmd=AppProfileNewsInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/upd/load$ 	?cmd=AppProfileNewsUpdLoad&IdCategory=$1&IdProfile=$2 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/upd/exe$ 	?cmd=AppProfileNewsUpdExe&IdCategory=$1&IdProfile=$2 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/del/load$ 	?cmd=AppProfileNewsDelLoad&IdCategory=$1&IdProfile=$2 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/del/exe$ 	?cmd=AppProfileNewsDelExe&IdCategory=$1&IdProfile=$2 [L]

RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/detail$ 	?cmd=AppProfileNewsDetail&IdCategory=$1&IdProfile=$2 [L]
RewriteRule ^app/category/news/([0-9]+)/profile/([0-9]+)/updateall/exe$ 	?cmd=AppProfileNewsDetailUpdateAllExe&IdCategory=$1&IdProfile=$2 [L]

RewriteRule ^app/news$ 											?cmd=AppNews [L]
RewriteRule ^app/news/([0-9]+)$ 								?cmd=AppNews&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/trang/([0-9]+)$ 					?cmd=AppNews&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/news/([0-9]+)/ins/load$ 						?cmd=AppNewsInsLoad&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/ins/exe$ 						?cmd=AppNewsInsExe&IdCategory=$1 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/upd/load$ 				?cmd=AppNewsUpdLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/upd/exe$ 				?cmd=AppNewsUpdExe&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/del/load$ 				?cmd=AppNewsDelLoad&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/([0-9]+)/([0-9]+)/del/exe$ 				?cmd=AppNewsDelExe&IdCategory=$1&IdNews=$2 [L]
RewriteRule ^app/news/update/all$ 								?cmd=AppNewsUpdateAll [L]

RewriteRule ^app/category/video$ 								?cmd=AppCategoryVideo [L]
RewriteRule ^app/category/video/trang/([0-9]+)$ 				?cmd=AppCategoryVideo&Page=$1 [L]
RewriteRule ^app/category/video/ins/load$ 						?cmd=AppCategoryVideoInsLoad [L]
RewriteRule ^app/category/video/ins/exe$ 						?cmd=AppCategoryVideoInsExe [L]
RewriteRule ^app/category/video/([0-9]+)/upd/load$ 				?cmd=AppCategoryVideoUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/upd/exe$ 				?cmd=AppCategoryVideoUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/del/load$ 				?cmd=AppCategoryVideoDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/del/exe$ 				?cmd=AppCategoryVideoDelExe&IdCategory=$1 [L]

RewriteRule ^app/category/video/([0-9]+)$ 						?cmd=AppCategoryVideoDetail&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/youtube/upd/load$ 		?cmd=AppCategoryVideoDetailYoutubeUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/youtube/upd/exe$ 		?cmd=AppCategoryVideoDetailYoutubeUpdExe&IdCategory=$1 [L]

RewriteRule ^app/category/video/([0-9]+)/trang/([0-9]+)$ 		?cmd=AppCategoryVideoDetail&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/ins/load$ 				?cmd=AppCategoryVideoDetailInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/ins/exe$ 				?cmd=AppCategoryVideoDetailInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/upd/load$ 	?cmd=AppCategoryVideoDetailUpdLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/upd/exe$ 		?cmd=AppCategoryVideoDetailUpdExe&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/del/load$ 	?cmd=AppCategoryVideoDetailDelLoad&IdCategory=$1&IdVideoLibrary=$2 [L]
RewriteRule ^app/category/video/([0-9]+)/([0-9]+)/del/exe$ 		?cmd=AppCategoryVideoDetailDelExe&IdCategory=$1&IdVideoLibrary=$2 [L]

RewriteRule ^app/video/update/all$ 								?cmd=AppVideoUpdateAll [L]

RewriteRule ^app/category/ask$ 										?cmd=AppCategoryAsk [L]
RewriteRule ^app/category/ask/trang/([0-9]+)$ 						?cmd=AppCategoryAsk&Page=$1 [L]
RewriteRule ^app/category/ask/update/all$ 							?cmd=AppCategoryAskUpdateAll [L]
RewriteRule ^app/category/ask/ins/load$ 							?cmd=AppCategoryAskInsLoad [L]
RewriteRule ^app/category/ask/ins/exe$ 								?cmd=AppCategoryAskInsExe [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/upd/load$ 				?cmd=AppCategoryAskUpdLoad&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/upd/exe$ 					?cmd=AppCategoryAskUpdExe&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/del/load$ 				?cmd=AppCategoryAskDelLoad&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([a-z0-9]+)/del/exe$ 					?cmd=AppCategoryAskDelExe&IdCategory=$1 [L]

RewriteRule ^app/category/ask/([0-9]+)$ 							?cmd=AppCategoryAskDetail&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([0-9]+)/trang/([0-9]+)$ 				?cmd=AppCategoryAskDetail&IdCategory=$1&Page=$2 [L]
RewriteRule ^app/category/ask/([0-9]+)/ins/load$ 					?cmd=AppCategoryAskDetailInsLoad&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([0-9]+)/ins/exe$ 					?cmd=AppCategoryAskDetailInsExe&IdCategory=$1 [L]
RewriteRule ^app/category/ask/([0-9]+)/([0-9]+)/upd/load$ 			?cmd=AppCategoryAskDetailUpdLoad&IdCategory=$1&IdAsk=$2 [L]
RewriteRule ^app/category/ask/([0-9]+)/([0-9]+)/upd/exe$ 			?cmd=AppCategoryAskDetailUpdExe&IdCategory=$1&IdAsk=$2 [L]
RewriteRule ^app/category/ask/([0-9]+)/([0-9]+)/del/load$ 			?cmd=AppCategoryAskDetailDelLoad&IdCategory=$1&IdAsk=$2 [L]
RewriteRule ^app/category/ask/([0-9]+)/([0-9]+)/del/exe$ 			?cmd=AppCategoryAskDetailDelExe&IdCategory=$1&IdAsk=$2 [L]

RewriteRule ^app/pagoda$ 											?cmd=AppPagoda [L]
RewriteRule ^app/pagoda/trang/([0-9]+)$ 							?cmd=AppPagoda&Page=$1 [L]
RewriteRule ^app/pagoda/ins/load$ 									?cmd=AppPagodaInsLoad [L]
RewriteRule ^app/pagoda/ins/exe$ 									?cmd=AppPagodaInsExe [L]
RewriteRule ^app/pagoda/([0-9]+)/upd/load$ 							?cmd=AppPagodaUpdLoad&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([0-9]+)/upd/exe$ 							?cmd=AppPagodaUpdExe&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([0-9]+)/del/load$ 							?cmd=AppPagodaDelLoad&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([0-9]+)/del/exe$ 							?cmd=AppPagodaDelExe&IdPagoda=$1 [L]

RewriteRule ^app/pagoda/([0-9]+)/video$ 							?cmd=AppPagodaVideo&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([0-9]+)/video/trang/([0-9]+)$ 				?cmd=AppPagodaVideo&IdPagoda=$1&Page=$2 [L]
RewriteRule ^app/pagoda/([0-9]+)/video/ins/load$ 					?cmd=AppPagodaVideoInsLoad&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([0-9]+)/video/ins/exe$ 					?cmd=AppPagodaVideoInsExe&IdPagoda=$1 [L]
RewriteRule ^app/pagoda/([0-9]+)/video/([0-9]+)/upd/load$ 			?cmd=AppPagodaVideoUpdLoad&IdPagoda=$1&IdVideoPagoda=$2 [L]
RewriteRule ^app/pagoda/([0-9]+)/video/([0-9]+)/upd/exe$ 			?cmd=AppPagodaVideoUpdExe&IdPagoda=$1&IdVideoPagoda=$2 [L]
RewriteRule ^app/pagoda/([0-9]+)/video/([0-9]+)/del/load$ 			?cmd=AppPagodaVideoDelLoad&IdPagoda=$1&IdVideoPagoda=$2 [L]
RewriteRule ^app/pagoda/([0-9]+)/video/([0-9]+)/del/exe$ 			?cmd=AppPagodaVideoDelExe&IdPagoda=$1&IdVideoPagoda=$2 [L]

RewriteRule ^app/event$ 											?cmd=AppEvent [L]
RewriteRule ^app/event/trang/([0-9]+)$ 								?cmd=AppEvent&Page=$1 [L]
RewriteRule ^app/event/ins/load$ 									?cmd=AppEventInsLoad [L]
RewriteRule ^app/event/ins/exe$ 									?cmd=AppEventInsExe [L]
RewriteRule ^app/event/([0-9]+)/upd/load$ 							?cmd=AppEventUpdLoad&IdEvent=$1 [L]
RewriteRule ^app/event/([0-9]+)/upd/exe$ 							?cmd=AppEventUpdExe&IdEvent=$1 [L]
RewriteRule ^app/event/([0-9]+)/del/load$ 							?cmd=AppEventDelLoad&IdEvent=$1 [L]
RewriteRule ^app/event/([0-9]+)/del/exe$ 							?cmd=AppEventDelExe&IdEvent=$1 [L]

RewriteRule ^app/sponsor$ 											?cmd=AppSponsor [L]
RewriteRule ^app/sponsor/trang/([0-9]+)$ 							?cmd=AppSponsor&Page=$1 [L]
RewriteRule ^app/sponsor/ins/load$ 									?cmd=AppSponsorInsLoad [L]
RewriteRule ^app/sponsor/ins/exe$ 									?cmd=AppSponsorInsExe [L]
RewriteRule ^app/sponsor/([0-9]+)/upd/load$ 						?cmd=AppSponsorUpdLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/upd/exe$ 							?cmd=AppSponsorUpdExe&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/del/load$ 						?cmd=AppSponsorDelLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/del/exe$ 							?cmd=AppSponsorDelExe&IdSponsor=$1 [L]

RewriteRule ^app/sponsor/([0-9]+)$ 									?cmd=AppSponsorPerson&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/trang/([0-9]+)$ 					?cmd=AppSponsorPerson&IdSponsor=$1&Page=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/ins/load$ 						?cmd=AppSponsorPersonInsLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/ins/exe$ 							?cmd=AppSponsorPersonInsExe&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/([0-9]+)/upd/load$ 				?cmd=AppSponsorPersonUpdLoad&IdSponsor=$1&IdPerson=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/([0-9]+)/upd/exe$ 				?cmd=AppSponsorPersonUpdExe&IdSponsor=$1&IdPerson=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/([0-9]+)/del/load$ 				?cmd=AppSponsorPersonDelLoad&IdSponsor=$1&IdPerson=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/([0-9]+)/del/exe$ 				?cmd=AppSponsorPersonDelExe&IdSponsor=$1&IdPerson=$2 [L]

RewriteRule ^app/sponsor/([0-9]+)/video$ 							?cmd=AppSponsorVideo&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/trang/([0-9]+)$ 			?cmd=AppSponsorVideo&IdSponsor=$1&Page=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/ins/load$ 					?cmd=AppSponsorVideoInsLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/ins/exe$ 					?cmd=AppSponsorVideoInsExe&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/([0-9]+)/upd/load$ 			?cmd=AppSponsorVideoUpdLoad&IdSponsor=$1&IdVideo=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/([0-9]+)/upd/exe$ 			?cmd=AppSponsorVideoUpdExe&IdSponsor=$1&IdVideo=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/([0-9]+)/del/load$ 			?cmd=AppSponsorVideoDelLoad&IdSponsor=$1&IdVideo=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/video/([0-9]+)/del/exe$ 			?cmd=AppSponsorVideoDelExe&IdSponsor=$1&IdVideo=$2 [L]

RewriteRule ^app/sponsor/([0-9]+)/paid$ 							?cmd=AppSponsorPaid&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/paid/trang/([0-9]+)$ 				?cmd=AppSponsorPaid&IdSponsor=$1&Page=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/paid/ins/load$ 					?cmd=AppSponsorPaidInsLoad&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/paid/ins/exe$ 					?cmd=AppSponsorPaidInsExe&IdSponsor=$1 [L]
RewriteRule ^app/sponsor/([0-9]+)/paid/([0-9]+)/upd/load$ 			?cmd=AppSponsorPaidUpdLoad&IdSponsor=$1&IdPaid=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/paid/([0-9]+)/upd/exe$ 			?cmd=AppSponsorPaidUpdExe&IdSponsor=$1&IdPaid=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/paid/([0-9]+)/del/load$ 			?cmd=AppSponsorPaidDelLoad&IdSponsor=$1&IdPaid=$2 [L]
RewriteRule ^app/sponsor/([0-9]+)/paid/([0-9]+)/del/exe$ 			?cmd=AppSponsorPaidDelExe&IdSponsor=$1&IdPaid=$2 [L]

RewriteRule ^app/panel/ads$ 										?cmd=AppPanelAds [L]
RewriteRule ^app/panel/ads/trang/([0-9]+)$ 							?cmd=AppPanelAds&Page=$1 [L]
RewriteRule ^app/panel/ads/ins/load$ 								?cmd=AppPanelAdsInsLoad [L]
RewriteRule ^app/panel/ads/ins/exe$ 								?cmd=AppPanelAdsInsExe [L]
RewriteRule ^app/panel/ads/([0-9]+)/del/load$ 						?cmd=AppPanelAdsDelLoad&IdPanelAds=$1 [L]
RewriteRule ^app/panel/ads/([0-9]+)/del/exe$ 						?cmd=AppPanelAdsDelExe&IdPanelAds=$1 [L]

RewriteRule ^app/panel/news$ 										?cmd=AppPanelNews [L]
RewriteRule ^app/panel/news/trang/([0-9]+)$ 						?cmd=AppPanelNews&Page=$1 [L]
RewriteRule ^app/panel/news/ins/load$ 								?cmd=AppPanelNewsInsLoad [L]
RewriteRule ^app/panel/news/ins/exe$ 								?cmd=AppPanelNewsInsExe [L]
RewriteRule ^app/panel/news/([0-9]+)/del/load$ 						?cmd=AppPanelNewsDelLoad&IdPanelNews=$1 [L]
RewriteRule ^app/panel/news/([0-9]+)/del/exe$ 						?cmd=AppPanelNewsDelExe&IdPanelNews=$1 [L]

RewriteRule ^app/panel/category/video$ 								?cmd=AppPanelCategoryVideo [L]
RewriteRule ^app/panel/category/video/trang/([0-9]+)$ 				?cmd=AppPanelCategoryVideo&Page=$1 [L]
RewriteRule ^app/panel/category/video/ins/load$ 					?cmd=AppPanelCategoryVideoInsLoad [L]
RewriteRule ^app/panel/category/video/ins/exe$ 						?cmd=AppPanelCategoryVideoInsExe [L]
RewriteRule ^app/panel/category/video/([0-9]+)/upd/load$ 			?cmd=AppPanelCategoryVideoUpdLoad&IdPanelCategoryVideo=$1 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/upd/exe$ 			?cmd=AppPanelCategoryVideoUpdExe&IdPanelCategoryVideo=$1 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/del/load$ 			?cmd=AppPanelCategoryVideoDelLoad&IdPanelCategoryVideo=$1 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/del/exe$ 			?cmd=AppPanelCategoryVideoDelExe&IdPanelCategoryVideo=$1 [L]

RewriteRule ^app/panel/category/video/([0-9]+)$ 					?cmd=AppPanelCategoryVideoDetail&IdPanelCategoryVideo=$1 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/trang/([0-9]+)$ 		?cmd=AppPanelCategoryVideoDetail&IdPanelCategoryVideo=$1&Page=$2 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/ins/load$ 			?cmd=AppPanelCategoryVideoDetailInsLoad&IdPanelCategoryVideo=$1 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/ins/exe$ 			?cmd=AppPanelCategoryVideoDetailInsExe&IdPanelCategoryVideo=$1 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/([0-9]+)/upd/load$ 	?cmd=AppPanelCategoryVideoDetailUpdLoad&IdPanelCategoryVideo=$1&IdCategoryVideo=$2 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/([0-9]+)/upd/exe$ 	?cmd=AppPanelCategoryVideoDetailUpdExe&IdPanelCategoryVideo=$1&IdCategoryVideo=$2 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/([0-9]+)/del/load$ 	?cmd=AppPanelCategoryVideoDetailDelLoad&IdPanelCategoryVideo=$1&IdCategoryVideo=$2 [L]
RewriteRule ^app/panel/category/video/([0-9]+)/([0-9]+)/del/exe$ 	?cmd=AppPanelCategoryVideoDetailDelExe&IdPanelCategoryVideo=$1&IdCategoryVideo=$2 [L]

RewriteRule ^app/popup$ 											?cmd=AppPopup [L]
RewriteRule ^app/popup/trang/([0-9]+)$ 								?cmd=AppPopup&Page=$1 [L]
RewriteRule ^app/popup/ins/load$ 									?cmd=AppPopupInsLoad [L]
RewriteRule ^app/popup/ins/exe$ 									?cmd=AppPopupInsExe [L]
RewriteRule ^app/popup/([0-9]+)/upd/load$ 							?cmd=AppPopupUpdLoad&IdPopup=$1 [L]
RewriteRule ^app/popup/([0-9]+)/upd/exe$ 							?cmd=AppPopupUpdExe&IdPopup=$1 [L]
RewriteRule ^app/popup/([0-9]+)/del/load$ 							?cmd=AppPopupDelLoad&IdPopup=$1 [L]
RewriteRule ^app/popup/([0-9]+)/del/exe$ 							?cmd=AppPopupDelExe&IdPopup=$1 [L]