<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sim số đẹp giá rẻ</title>
	<link  rel="stylesheet" type="text/css" href="../Template/css/main2.css"/>
	<link rel="stylesheet" type="text/css" href="../Template/css/datatable.css"/>
	<link rel="stylesheet" type="text/css" href="../Template/css/jquery-ui-1.8.11.custom.css"/>
	<script type="text/javascript" language="javascript" src="../Template/script/main.js"/>
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.js"/>
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.dataTables.js"/>	
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.init.dataTables.js"/>	
	
</head>
<script>
/*<![CDATA[*/
$(document).ready(function() {	
			
			
			
});	
	function CheckSubmit()
	{
		var check = false;
		check = checkTextNull($('#ordername'), $('#error'), "Điền thiếu thông tin xin vui lòng ghi thêm mục này!");	
		if(check ==true)
		{
			check = checkPhoneNumber($('#paydienthoai'), $('#error'), "Điền thiếu thông tin xin vui lòng ghi thêm mục này!");
			if(check ==true)
			{
				check = checkEmail($('#payemail'), $('#error'), "Điền thiếu thông tin xin vui lòng ghi thêm mục này!");
				if(check ==true)
				{
					check = checkTextNull($('#cboQuanHuyen'), $('#error'), "Điền thiếu thông tin xin vui lòng ghi thêm mục này!");
					if(check ==true)
					{
						check = checkTextNull($('#DiaChiGiaoHang'), $('#error'), "Điền thiếu thông tin xin vui lòng ghi thêm mục này!");
						if(check ==true)
						{
							check = checkTextNull($('#txtCaptcha'), $('#error'), "Điền thiếu thông tin xin vui lòng ghi thêm mục này!");
							return check;
						}
						else{ return check;}
					}else{ return check;}
				}else{ return check;}
			}else{ return check;}
		}else{ return check;}
	}
/*]]>*/
</script>
<body>
	<div id="frame">
		<div id="header"></div>
			<span metal:use-macro="macros.xhtml/MenuDatsim"/>
		<div id="main">
			<div id="main3_of1">
				<span metal:use-macro="macros.xhtml/Main3of1"/>
			</div>
			<div id="main3_of2" style="height:1297px;">					
				<table width="100%">
					<tr>
						<td align="center">
							<form id="form_LH" method="post" action="../Command/addcustomer.php" name="curtomerform">
								<input type="hidden" name="IdNumber" tal:attributes="value CartId" />
								<h1>Đặt mua sim:</h1>
								<span id="simcart">
									<table width="100%" cellpadding="3" bordercolor="#C0C0C0" border="1" style="border-collapse: collapse;">
										<input name="paynumber" type="hidden" tal:attributes="value CartNumber" />										
										<tr class="title" align="center">
											<td>Mã</td>
											<td>Số sim</td>
											<td>Giá</td>			
											<td>Xóa</td>
										</tr>
										<tr >
											<td align="center" tal:content="CartId" ></td>
											<td align="center" class="sim" tal:content="CartFormatNumber">xxxx</td>							
											<td align="center"><span tal:content="CartPrice"></span><sup>vnđ</sup>											
											</td>							
											<td id="remove16573" align="center">
												<a tal:attributes="href CartDeleteLinked" title="Xóa sim này">
													<img alt="Xóa sim này" src="../Template/images/cartremove.png"/>
												</a>
											</td>
										</tr>
										<tr style="font-weight:bold;color:red">
											<td align="right" colspan="3">Tổng cộng: </td>
											<td align="center" >								
												<span tal:content="CartPrice"></span><sup>vnđ</sup>
											</td>											
										</tr>
									</table>
								</span>								
								<span id="cartaction">
									<div id="formTieude">Thông tin:</div>
									<div style='color:red' id='error' ></div>
									<ol>
										
										<li>
											<label>Họ tên:</label>
											<input id="ordername" type="text" value="" name="payhoten" />&nbsp;<font color="red">(*)</font>
										</li>
										
										<li>
											<label>Số điện thoại:</label>
											<input id="paydienthoai" type="text" value="" name="paydienthoai" />&nbsp;<font color="red">(*)</font>
										</li>
										
										<li>
											<label>Email:</label>
											<input id="payemail" type="text" value="" name="payemail" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</li>
										
									</ol>
									
									<div id="formTieude">Địa chỉ:</div>
									
									<ol>
										<li>
												<label>Tỉnh thành:</label>
												<select style="width: 210px;" name="cboTinhThanh" id="cboTinhThanh">
													<option label="Hồ Chí Minh" value="Hồ Chí Minh">Hồ Chí Minh</option>
													<option label="Hà Nội" value="Hà Nội">Hà Nội</option>
													<option label="Hải Phòng" value="Hải Phòng">Hải Phòng</option>
													<option label="Thừa Thiên-Huế" value="Thừa Thiên-Huế">Thừa Thiên-Huế</option>
													<option label="Đà Nẵng" value="Đà Nẵng">Đà Nẵng</option>
													<option label="Cần Thơ" value="Cần Thơ">Cần Thơ</option>
													<option label="An Giang" value="An Giang">An Giang</option>
													<option label="BR - Vũng Tàu" value="BR - Vũng Tàu">BR - Vũng Tàu</option>
													<option label="Bắc Cạn" value="Bắc Cạn">Bắc Cạn</option>
													<option label="Bắc Giang" value="Bắc Giang">Bắc Giang</option>
													<option label="Bạc Liêu" value="Bạc Liêu">Bạc Liêu</option>
													<option label="Bắc Ninh" value="Bắc Ninh">Bắc Ninh</option>
													<option label="Bến Tre" value="Bến Tre">Bến Tre</option>
													<option label="Bình Định" value="Bình Định">Bình Định</option>
													<option label="Bình Dương" value="Bình Dương">Bình Dương</option>
													<option label="Bình Phước" value="Bình Phước">Bình Phước</option>
													<option label="Bình Thuận" value="Bình Thuận">Bình Thuận</option>
													<option label="Cà Mau" value="Cà Mau">Cà Mau</option>
													<option label="Cao Bằng" value="Cao Bằng">Cao Bằng</option>
													<option label="Đắk Lắk" value="Đắk Lắk">Đắk Lắk</option>
													<option label="Đắk Nông" value="Đắk Nông">Đắk Nông</option>
													<option label="Điện Biên" value="Điện Biên">Điện Biên</option>
													<option label="Đồng Nai" value="Đồng Nai">Đồng Nai</option>
													<option label="Đồng Tháp" value="Đồng Tháp">Đồng Tháp</option>
													<option label="Gia Lai" value="Gia Lai">Gia Lai</option>
													<option label="Hà Giang" value="Hà Giang">Hà Giang</option>
													<option label="Hà Nam" value="Hà Nam">Hà Nam</option>
													<option label="Hà Tĩnh" value="Hà Tĩnh">Hà Tĩnh</option>
													<option label="Hải Dương" value="Hải Dương">Hải Dương</option>
													<option label="Hậu Giang" value="Hậu Giang">Hậu Giang</option>
													<option label="Hòa Bình" value="Hòa Bình">Hòa Bình</option>
													<option label="Hưng Yên" value="Hưng Yên">Hưng Yên</option>
													<option label="Khánh Hòa" value="Khánh Hòa">Khánh Hòa</option>
													<option label="Kiên Giang" value="Kiên Giang">Kiên Giang</option>
													<option label="Kon Tum" value="Kon Tum">Kon Tum</option>
													<option label="Lai Châu" value="Lai Châu">Lai Châu</option>
													<option label="Lâm Đồng" value="Lâm Đồng">Lâm Đồng</option>
													<option label="Lạng Sơn" value="Lạng Sơn">Lạng Sơn</option>
													<option label="Lào Cai" value="Lào Cai">Lào Cai</option>
													<option label="Long An" value="Long An">Long An</option>
													<option label="Nam Định" value="Nam Định">Nam Định</option>
													<option label="Nghệ An" value="Nghệ An">Nghệ An</option>
													<option label="Ninh Bình" value="Ninh Bình">Ninh Bình</option>
													<option label="Ninh Thuận" value="Ninh Thuận">Ninh Thuận</option>
													<option label="Phú Thọ" value="Phú Thọ">Phú Thọ</option>
													<option label="Phú Yên" value="Phú Yên">Phú Yên</option>
													<option label="Quảng Bình" value="Quảng Bình">Quảng Bình</option>
													<option label="Quảng Nam" value="Quảng Nam">Quảng Nam</option>
													<option label="Quảng Ngãi" value="Quảng Ngãi">Quảng Ngãi</option>
													<option label="Quảng Ninh" value="Quảng Ninh">Quảng Ninh</option>
													<option label="Quảng Trị" value="Quảng Trị">Quảng Trị</option>
													<option label="Sóc Trăng" value="Sóc Trăng">Sóc Trăng</option>
													<option label="Sơn La" value="Sơn La">Sơn La</option>
													<option label="Tây Ninh" value="Tây Ninh">Tây Ninh</option>
													<option label="Thái Bình" value="Thái Bình">Thái Bình</option>
													<option label="Thái Nguyên" value="Thái Nguyên">Thái Nguyên</option>
													<option label="Thanh Hóa" value="Thanh Hóa">Thanh Hóa</option>
													<option label="Tiền Giang" value="Tiền Giang">Tiền Giang</option>
													<option label="Trà Vinh" value="Trà Vinh">Trà Vinh</option>
													<option label="Tuyên Quang" value="Tuyên Quang">Tuyên Quang</option>
													<option label="Vĩnh Long" value="Vĩnh Long">Vĩnh Long</option>
													<option label="Vĩnh Phúc" value="Vĩnh Phúc">Vĩnh Phúc</option>
													<option label="Yên Bái" value="Yên Bái">Yên Bái</option>
												</select>&nbsp;<font color="red">(*)</font>
											</li>
										
											<li>
												<label>Quận/Huyện:</label>
												<input type="text" name="cboQuanHuyen" id="cboQuanHuyen"/>&nbsp;<font color="red">(*)</font>
											</li>
																																	
											<li>
												<label>Số nhà – tên đường:</label>
												<input type="text" name="DiaChiGiaoHang" id="DiaChiGiaoHang" />&nbsp;<font color="red">(*)</font>
											</li>										
										<li>
											<label>Tin nhắn của bạn:</label>
											<textarea rows="7" cols="30" name="payghichu" ></textarea>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</li>
										
										<li>
											<label>Mã xác nhận:</label>
											<img align='left' id="imgCaptcha" src="create_image.php" />
											<input id="txtCaptcha" type="text" name="txtCaptcha" value="" maxlength="10" size="32" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;																						
										</li>
										
										<li id="send">
											<button class="send1" type="submit" onclick="return CheckSubmit();" >Đặt hàng</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="send2" type="reset">Nhập lại</button>
										</li>
									
									</ol>
								</span>
							</form>
						</td>
					</tr>
				</table>
				<div style="text-align: left; margin: 0 15px 0 15px; color: blue;">
					<p style="padding-bottom: 5px;"><b><u>Ghi chú</u>:</b></p><br/>
					<p style="padding-bottom: 5px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- (Quý khách chú ý !) Những đơn đặt hàng cần phải điền đầy đủ thông tin cần thiết <font color="red">(*)</font> và được viết bằng tiếng việt có dấu là những đơn đặt hàng chính xác.</p><br/>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Việc đặt hàng qua website gặp khó khăn quý khách hãy gọi <font color="red"><b>0989.88.78.78 - 0977.666.098</b></font> để đặt mua sim qua điện thoại !</p><br/>
				</div>
			</div>
			<div id="main3_of3">
				<span metal:use-macro="macros.xhtml/Main3of3"/> 
				<div style="border: 1px solid #999; height: 242px;">
					<a href="http://tkpc.vn/" target="_blank" ><img width="100%" height="50%" border="0" src="../Template/images/tinkhoa.gif" alt="Quang Cao"/></a><br/>
					<a href="http://sncpc.com/home/" target="_blank" ><img width="100%" height="50%" border="0" src="../Template/images/snc.gif" alt="Quang Cao"/></a><br/>
				</div>
			</div>
			<div class="vide"></div>
		</div>
		<div id="line"></div>
		<div metal:use-macro="macros.xhtml/Footer"/>			
		<div class="vide"></div>
	</div>
</body>
</html>