<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sim số đẹp giá rẻ</title>
	<link rel="stylesheet" type="text/css" href="../Template/css/main2.css"/>
	<link rel="stylesheet" type="text/css" href="../Template/css/datatable.css"/>
	<link rel="stylesheet" type="text/css" href="../Template/css/jquery-ui-1.8.11.custom.css"/>
	
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.js"/>
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.dataTables.js"/>	
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.init.dataTables.js"/>	
</head>
<script>
	$(document).ready(function() {
	var ct = new Date();
	var year = ct.getFullYear();
	var month = ct.getMonth()+1;
	var day = ct.getDate();		
	var sUS = year+"/"+month+"/"+day;	
	$("#orderdate").val(sUS);
	
});		
</script>
<body>
	<div id="frame">
		<div id="header"></div>
			<span metal:use-macro="macros.xhtml/MenuMuasim"/>
		<div id="main">
			<div id="main3_of1">
				<span metal:use-macro="macros.xhtml/Main3of1"/>
			</div>			
			<div id="main3_of2_height">		
				<div id="tieude_main" tal:content="title">Thông tin đặt hàng</div>				
				<div id="Table" style="padding-top:05px;padding-right:15px">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
						<thead>
						<tr class="title" align="center">							
							<td style="font-weight:bold" align="center">Stt</td>
							<td style="font-weight:bold" align="center">Tên Khách hàng</td>
							<td style="font-weight:bold" align="center">Sim Số</td>														
							<td style="font-weight:bold" align="center">Ngày đặt</td>							
							<td style="font-weight:bold" align="center">Xóa</td>
						</tr>
						</thead>
						<tbody>
						<tr tal:repeat='order ViewOrder'>
							<td></td>
							<td align="center" style="font-size:15px;color:#319EFF" class="sim"  ><a tal:attributes="href order/getViewOrderDetailIndexLinked" ><span tal:content="order/name"></span></a></td>
							<td align="center" style="font-size:15px;color:#319EFF" tal:content="order/idsim"></td>							
							<td align="center" tal:content="order/date"></td>
							<td align="center" ><a tal:attributes="href order/getDeleteLinked">Xóa</a></td>
						</tr>											
						</tbody>
					</table>
				</div>
			</div>
			<div id="main3_of3">
				<span metal:use-macro="macros.xhtml/Main3of3Admin"/>  
				<div style="border: 1px solid #999; height: 242px;">
					<a href="http://tkpc.vn/" target="_blank" ><img width="100%" height="50%" border="0" src="../Template/images/tinkhoa.gif" alt="Quang Cao"/></a><br/>
					<a href="http://sncpc.com/home/" target="_blank" ><img width="100%" height="50%" border="0" src="../Template/images/snc.gif" alt="Quang Cao"/></a><br/>
				</div>
			</div>
			<div class="vide"></div>
		</div>
		<div id="line"></div>
		<div metal:use-macro="macros.xhtml/Footer"/>
		<div class="vide"></div>
	</div>
</body>
</html>