<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mApplication.xhtml/IncludeMETA"/>
		<span metal:use-macro="mApplication.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mApplication.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
				$(document).ready(function() {
					
					$(".bg_manager").hover(function(){
							$(this).css('opacity', 1);
						}, function(){
							$(this).css('opacity', 0.25);
					});
				});
				
		/*]]>*/
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mApplication.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<span metal:use-macro="mApplication.xhtml/Menu"/>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mApplication.xhtml/LocationBar"/>							
							<center><img class="bg_manager" src="/data/images/bg/bg_manager.jpg" width="50%" style="opacity:.25;"/></center>
							<form class="form-horizontal" tal:attributes="action 'thu-lao/app/changetime'" method="post">								
								<div class="control-group">
									<label class="control-label" for="mMonth">Chọn Tháng</label>
									<div class="controls">
										<select name="mMonth">
											<option value="1" >
												<span>Tháng 01</span>
											</option>										
											<option value="2" >
												<span>Tháng 02</span>
											</option>										
											<option value="3" >
												<span>Tháng 03</span>
											</option>										
											<option value="4" >
												<span>Tháng 04</span>
											</option>
											<option value="5" >
												<span>Tháng 05</span>
											</option>
											<option value="6" >
												<span>Tháng 06</span>
											</option>										
											<option value="7" >
												<span>Tháng 07</span>
											</option>										
											<option value="8" >
												<span>Tháng 08</span>
											</option>										
											<option value="9" >
												<span>Tháng 09</span>
											</option>
											<option value="10" >
												<span>Tháng 10</span>
											</option>
											<option value="11" >
												<span>Tháng 11</span>
											</option>
											<option value="12" >
												<span>Tháng 12</span>
											</option>
										</select>
									</div>
									<label class="control-label" for="mYear">Chọn Năm</label>
									<div class="controls">
										<select name="mYear">
											<option value="2013" >
												<span>Năm 2013</span>
											</option>
											<option value="2014" >
												<span>Năm 2014</span>
											</option>
											<option value="2015" >
												<span>Năm 2015</span>
											</option>
											<option value="2016" >
												<span>Năm 2016</span>
											</option>
											<option value="2017" >
												<span>Năm 2017</span>
											</option>
											<option value="2018" >
												<span>Năm 2018</span>
											</option>
											<option value="2019" >
												<span>Năm 2019</span>
											</option>
											<option value="2020" >
												<span>Năm 2020</span>
											</option>
										</select>
									</div>
								</div>								
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn" value="submit-value">Thay Đổi</button>
									</div>
								</div>						
							</form>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mApplication.xhtml/Footer"/>
		</div>		
	</body>
</html>