<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mApplication.xhtml/IncludeMETA"/>
		<span metal:use-macro="mApplication.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mApplication.xhtml/IncludeJS"/>
		<script type="text/javascript">
		/*<![CDATA[*/
				$(document).ready(function() {
					
					$(".bg_manager").hover(function(){
							$(this).css('opacity', 1);
						}, function(){
							$(this).css('opacity', 0.25);
					});
				});
				
		/*]]>*/
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mApplication.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<span metal:use-macro="mApplication.xhtml/Menu"/>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mApplication.xhtml/LocationBar"/>
							<center><img src="/data/images/bg_manager.png" width="50%" style="opacity:.25;"/></center>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mApplication.xhtml/Footer"/>
		</div>		
	</body>
</html>