<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mApplication.xhtml/IncludeMETA"/>
		<span metal:use-macro="mApplication.xhtml/IncludeCSS"/>			
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mApplication.xhtml/Header"/>
			<div metal:use-macro="mApplication.xhtml/Menu"/>
			<div id="content">
				<div metal:use-macro="mApplication.xhtml/ContentHeader"/>
				<div metal:use-macro="mApplication.xhtml/LocationBar"/>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<a href="#DialogChangeTime" data-toggle="modal" class="btn btn-primary btn-ins">
								<i class="glyphicons-plus"/> Thay Đổi Tháng/Năm
							</a>
						</div>
					</div>
				</div>
			</div>			
		</div>	
		<span metal:use-macro="mApplication.xhtml/Footer"/>
		<span metal:use-macro="mApplication.xhtml/IncludeJS"/>
		
		<span metal:use-macro="mApplication.xhtml/DialogChangeTime"/>
		 <script type="text/javascript">
		/*<![CDATA[*/
			$('#URLChangeTimeButton').click(function(e){
				
				var mYear 	= $("#mYear").val();
				var mMonth 	= $("#mMonth").val();				
				URL = "thu-lao/app/changetime/"+mMonth+"/"+mYear;				
				
				$.ajax({
					type: "POST", 
					async: false,
					url: URL,
					dataType: 'json',
					success: function(data){						
					}
				});
				location.reload(true);
			});
		/*]]>*/
		</script>
	</body>
</html>