<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mApplication.xhtml/IncludeMETA"/>
		<span metal:use-macro="mApplication.xhtml/IncludeCSS"/>		
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mApplication.xhtml/Header"/>
			<div metal:use-macro="mApplication.xhtml/Menu"/>
			<div id="content">
				<div metal:use-macro="mApplication.xhtml/ContentHeader"/>
				<div metal:use-macro="mApplication.xhtml/LocationBar"/>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<form style="color:white;" class="form-horizontal" tal:attributes="action Employee/getURLUpdExe" method="post">
								<div class="control-group">
									<label class="control-label" for="IdPosition">Thuộc Tổ</label>									
									<div class="controls">
										<select name="IdPosition" >
											<option tal:repeat="Position PositionAll" tal:attributes="value Position/getId; selected php:Position->getId()==Employee->getIdPosition()?true:false" >
												<span tal:content="Position/getName"/>
											</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Name">Họ và Tên</label>
									<div class="controls">
										<input id="Note" name="Note" type="text" tal:attributes="value Employee/getNote" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="User">Tài khoản</label>
									<div class="controls">
										<input id="User" name="User" type="text" tal:attributes="value Employee/getUser"/>
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="Pass">Mật Khẩu</label>
									<div class="controls">
										<input id="Pass" name="Pass" type="password" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Gender">Giới tính</label>									
									<div class="controls">
										<select name="Gender">
											<option value="1" tal:attributes="selected php:1==Employee->getGender()?true:false">Nam</option>
											<option value="0" tal:attributes="selected php:0==Employee->getGender()?true:false">Nữ</option>
										</select>
									</div>
								</div>	
								<div class="control-group">
									<label class="control-label" for="Rule">Điểm ABC/ngày</label>									
									<div class="controls">
										<select name="Rule">
											<option value="5" tal:attributes="selected php:5==Employee->getRule()?true:false">Đại Học</option>
											<option value="2" tal:attributes="selected php:2==Employee->getRule()?true:false">12/12</option>											
											<option value="3" tal:attributes="selected php:3==Employee->getRule()?true:false">Trung Cấp</option>
											<option value="4" tal:attributes="selected php:4==Employee->getRule()?true:false">Cao Đẳng</option>
										</select>
									</div>
								</div>	
								<div class="control-group">
									<label class="control-label" for="Type">Quyền truy cập</label>									
									<div class="controls">
										<select name="Type">
											<option value="0" tal:attributes="selected php:0==Employee->getType()?true:false">Người dùng</option>											
											<option value="3" tal:attributes="selected php:3==Employee->getType()?true:false">Quản lý</option>
											<option value="4" tal:attributes="selected php:4==Employee->getType()?true:false">Administrator</option>
										</select>
									</div>
								</div>					
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary btn-ins" value="submit-value">Cập nhật</button>
									</div>
								</div>						
							</form>							
						</div>
					</div>
				</div>
			</div>			
		</div>	
		<span metal:use-macro="mApplication.xhtml/Footer"/>
		<span metal:use-macro="mApplication.xhtml/IncludeJS"/>
	</body>
</html>