<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mApplication.xhtml/IncludeMETA"/>
		<span metal:use-macro="mApplication.xhtml/IncludeCSS"/>	
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mApplication.xhtml/Header"/>
			<div metal:use-macro="mApplication.xhtml/Menu"/>
			<div id="content">
				<div metal:use-macro="mApplication.xhtml/ContentHeader"/>
				<div metal:use-macro="mApplication.xhtml/LocationBar"/>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<form style="color:white;" class="form-horizontal" tal:attributes="action 'thu-lao/manager/ins/exe'" method="post">
								<div class="control-group">
									<label class="control-label" for="IdPosition">Thuộc Tổ</label>									
									<div class="controls">
										<select name="IdPosition">
											<option tal:repeat="Position PositionAll"  tal:attributes="value Position/getId" >
												<span tal:content="Position/getName"/>
											</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Name">Tên Chương trình</label>
									<div class="controls">
										<input id="Name" name="Name" type="text" />
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="Factory">Hệ số</label>
									<div class="controls">
										<input id="Factory" name="Factory" type="text" />
									</div>
								</div>	
															
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary btn-ins" value="submit-value">Thêm mới</button>
									</div>
								</div>						
							</form>							
						</div>
					</div>
				</div>
			</div>			
		</div>	
		<span metal:use-macro="mApplication.xhtml/Footer"/>
		<span metal:use-macro="mApplication.xhtml/IncludeJS"/>	
	</body>
</html>