<body>	
	<table width="100%" border="0" cellpadding="2" >
		<tr>			
			<td width="100%" align="center"><B>PHÒNG KỸ THUẬT THỀ HIỆN</B></td>
		</tr>
		<tr>			
			<td width="100%" align="center"><B tal:content="User/getPosition/getName" /></td>
		</tr>
		<tr>			
			<td width="100%" align="center">Từ <span  tal:content="Report/getDateStartPrint" /> đến <span  tal:content="Report/getDateEndPrint" /></td>
		</tr>
						
	</table>	
	<table width="100%" border="1" cellpadding="2" style="border-style:solid;">
		<tr >
			<th width="5%"><B>STT</B></th>			
			<th width="60%" align="center"><B>HỌ VÀ TÊN</B></th>
			<th width="10%" align="center" ><B>ĐIỂM CM</B></th>
			<th width="10%" align="center"><B>ĐIỂM ABC</B></th>
			<th width="10%" align="center"><B>ĐỊNH MỨC</B></th>			
		</tr>
		<tr tal:repeat="User Users">
			<td align="center" 	tal:content="repeat/User/number" />
			<td align="left" 	tal:content="User/getNote" />
			<td align="right" 	tal:content="User/getNTotalPrint/formatCurrency" />			
			<td align="right" 	tal:content="User/getNTotalABC/formatCurrency" />
			<td align="right" 	tal:content="User/getRulePrint" />
		</tr>		
	</table>	
</body>