<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mApplication.xhtml/IncludeMETA"/>
		<span metal:use-macro="mApplication.xhtml/IncludeCSS"/>
		<span metal:use-macro="mApplication.xhtml/IncludeJS"/>
		
	</head>
	<body>		
		<div class="container-fluid">
			<span metal:use-macro="mApplication.xhtml/Header"/>
			<div metal:use-macro="mApplication.xhtml/Menu"/>
			<div id="content">
				<div metal:use-macro="mApplication.xhtml/ContentHeader"/>
				<div metal:use-macro="mApplication.xhtml/LocationBar"/>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">							
							<div class="control-group">
									<label align="center" style="color:blue;" tal:content="User/getNote" >Tên Chương trình</label>
									Điểm CM: <b style="color:red;" tal:content="php:NTotal->formatCurrency()"/>							
							  - Điểm ABC: <b style="color:red;" tal:content="php:NTotalABC->formatCurrency()"/>
							</div>				
							<form style="color:white;" class="form-horizontal" tal:attributes="action 'thu-lao/reward/ins/exe'" method="post">														
								<div class="control-group">
									<label class="control-label">Tên Chương trình</label>
									<div class="controls">
										<select name="IdCategory" >
											<option tal:repeat="CategoryPrograme CategoryProgrameAll" tal:attributes="value CategoryPrograme/getId" >
												<span  tal:content="CategoryPrograme/getName"/>
											</option>
										</select>
									</div>								
									<label class="control-label">Ngày làm</label>									
									<div class='controls'>
										<input style="width:30%;" type='text' class="form-control" name="DateStart"  id='DateStart'/>
									</div>
									
									<label class="control-label">Số lượng</label>
									<div class="controls">										
										<select name="Count">
											<option value = "1" >
												<span>1 Lần/ngày</span>
											</option>
											<option value = "2" >
												<span>2 Lần/ngày</span>
											</option>
											<option value = "3" >
												<span>3 Lần/ngày</span>
											</option>
											<option value = "4" >
												<span>4 Lần/ngày</span>
											</option>
											<option value = "5" >
												<span>5 Lần/ngày</span>
											</option>
										</select>
									</div>								
									<label class="control-label" for="Content">Nội dung</label>
									<div class="controls">
										<textarea style="width:50%;" id="Content" name="Content" />
									</div>	
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn btn-primary btn-ins" value="submit-value">Thêm mới</button>
									</div>
								</div>						
							</form>
							<div metal:use-macro="mApplication.xhtml/PageBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="30px">STT</th>										
										<th align="left">Tên Chương Trình</th>
										<th align="left">Ngày Làm CT</th>
										<th width="30px">SL</th>
										<th align="left">Nội dung</th>										
										<th width="30px">Xóa</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Salarydaily SalarydailyAll">
										<td width="32" align="center">
											<div tal:content="repeat/Salarydaily/number" />
										</td>
										<td>
											<a tal:attributes="href Salarydaily/getURLRewardUpdateLoad">
												<div tal:content="Salarydaily/getCategory/getName" />
											</a>
										</td>
										<td tal:content="Salarydaily/getDateWorkPrint" />
										<td tal:content="Salarydaily/getCount" />
										<td tal:content="structure Salarydaily/getContent" />
										<td>
											<a tal:attributes="href Salarydaily/getURLRewardDeleteLoad"><span class="icon-remove"/></a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="2">
											<a class="btn" tal:attributes="href string:thu-lao/">
												<span class="icon-plus"/> Thêm mới
											</a>
										</td>										
									</tr>
								</tfoot>
							</table>					
							<div metal:use-macro="mApplication.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>			
		</div>
		<span metal:use-macro="mApplication.xhtml/Footer"/>		
		<span metal:use-macro="mApplication.xhtml/DialogChangeTime"/>
		<script type="text/javascript">
		/*<![CDATA[*/	
			$(function () {
                $('#DateStart').datetimepicker();
            });
			$(function () {                
				$('#DateStart1').datetimepicker({
					pickTime: false,                 
					useMinutes: false,              
					useSeconds: false,
					language:'en'
                });
            });
			$('#URLChangeTimeButton').click(function(e){
				
				var mYear 	= $("#mYear").val();
				var mMonth 	= $("#mMonth").val();				
				URL = "thu-lao/app/changetime/"+mMonth+"/"+mYear;				
				
				$.ajax({
					type: "POST", 
					async: false,
					url: URL,
					dataType: 'json',
					success: function(data){						
					}
				});
				location.reload(true);
			});
		/*]]>*/
		</script>		
	</body>
</html>