<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mApplication.xhtml/IncludeMETA"/>
		<span metal:use-macro="mApplication.xhtml/IncludeCSS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/jquery-ui-1.8.11.custom.css" />
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/jquery-ui-timepicker-addon.css" />
		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-1.7.1.min.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.countdown.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/theme/bootstrap/js/bootstrap.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/base.js"/>
		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-1.8.11.custom.min.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-addon.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.ui.datepicker-vi.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-vi.js" />		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
		/*<![CDATA[*/
				$(document).ready(function() {
					$(function() {$('#DateStart').datetimepicker({ dateFormat: 'yy-mm-dd' });});
					
				});				
		/*]]>*/
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mApplication.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<span metal:use-macro="mApplication.xhtml/Menu"/>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mApplication.xhtml/LocationBar"/>								
							<div class="control-group"> <b tal:content="User/getNote"/>						
							 Điểm CM: <span tal:content="php:NTotal->formatCurrency()"/>							
							 Điểm ABC: <span tal:content="php:NTotalABC->formatCurrency()"/>
							 </div>							
							<form class="form-horizontal" tal:attributes="action 'thu-lao/reward/ins/exe'" method="post">														
								<div class="control-group">
									<label class="control-label" for="IdCategory">Tên Chương trình</label>
									<div class="controls">
										<select name="IdCategory" >
											<option tal:repeat="CategoryPrograme CategoryProgrameAll" tal:attributes="value CategoryPrograme/getId" >
												<span style="width:100%;" tal:content="CategoryPrograme/getName"/>
											</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="DateStart">Ngày làm</label>
									<div class="controls">
										<input id="DateStart" readonly="true" name="DateStart" type="text" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Count">Số lượng</label>
									<div class="controls">										
										<select name="Count">
											<option value = "1" >
												<span>1 Lần/ngày</span>
											</option>
											<option value = "2" >
												<span>2 Lần/ngày</span>
											</option>
											<option value = "3" >
												<span>3 Lần/ngày</span>
											</option>
											<option value = "4" >
												<span>4 Lần/ngày</span>
											</option>
											<option value = "5" >
												<span>5 Lần/ngày</span>
											</option>
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="Content">Nội dung</label>
									<div class="controls">
										<textarea class="ckeditor" name="Content" />
									</div>
								</div>
								<div hidden="true" class="control-group">
									<label class="control-label" for="Note">Ghi chú</label>
									<div class="controls">										
										<textarea id="Note" name="Note" />
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button type="submit" class="btn" value="submit-value">Thêm mới</button>
									</div>
								</div>						
							</form>
							<div metal:use-macro="mApplication.xhtml/PageBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="30px">STT</th>										
										<th align="left">Tên Chương Trình</th>
										<th align="left">Ngày Làm CT</th>
										<th width="30px">SL</th>
										<th align="left">Nội dung</th>										
										<th width="30px">Xóa</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Salarydaily SalarydailyAll">
										<td width="32" align="center">
											<div tal:content="repeat/Salarydaily/number" />
										</td>
										<td>
											<a tal:attributes="href Salarydaily/getURLRewardUpdateLoad">
												<div tal:content="Salarydaily/getCategory/getName" />
											</a>
										</td>
										<td tal:content="Salarydaily/getDateWorkPrint" />
										<td tal:content="Salarydaily/getCount" />
										<td tal:content="structure Salarydaily/getContent" />
										<td>
											<a tal:attributes="href Salarydaily/getURLRewardDeleteLoad"><span class="icon-remove"/></a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="2">
											<a class="btn" tal:attributes="href string:thu-lao/">
												<span class="icon-plus"/> Thêm mới
											</a>
										</td>										
									</tr>
								</tfoot>
							</table>					
							<div metal:use-macro="mApplication.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mApplication.xhtml/Footer"/>
		</div>		
	</body>
</html>