<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mApplication.xhtml/IncludeMETA"/>
		<span metal:use-macro="mApplication.xhtml/IncludeCSS"/>
		<span metal:use-macro="mApplication.xhtml/IncludeJS"/>		
	</head>
	<body>		
		<div class="container-fluid">
			<span metal:use-macro="mApplication.xhtml/Header"/>
			<div metal:use-macro="mApplication.xhtml/Menu"/>
			<div id="content">
				<div metal:use-macro="mApplication.xhtml/ContentHeader"/>
				<div metal:use-macro="mApplication.xhtml/LocationBar"/>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">							
							<div align="center" class="well">
									<label id="IdUser" tal:attributes="alt User/getId" align="center" tal:content="User/getNote" ></label>
									Điểm CM: <b style="color:red;" tal:content="php:NTotal->formatCurrency()"/>							
									- Điểm ABC: <b style="color:red;" tal:content="php:NTotalABC->formatCurrency()"/>
									 - <a align="center" class="brand" data-toggle="modal" href="#DialogChangeTime" > <i class="glyphicon glyphicon-time" style="margin-top:-5px;margin-right:5px;"/> Tháng <span tal:content="php: @\MVC\Base\SessionRegistry::instance()->getCurrentMonth()"/> Năm <span tal:content="php: @\MVC\Base\SessionRegistry::instance()->getCurrentYear()"/></a>
							</div>				
							
								<div style="color:white;" class="control-group">
									<label class="control-label">Tên Chương trình</label>
									<div class="controls">
										<select id="IdCategory" name="IdCategory" >
											<option tal:repeat="CategoryPrograme CategoryProgrameAll" tal:attributes="value CategoryPrograme/getId" >
												<span  tal:content="CategoryPrograme/getName"/>
											</option>
										</select>
									</div>								
									<label class="control-label">Ngày làm</label>									
									<div class='controls'>
										<input style="width:30%;" type='text' class="form-control" name="DateStart"  id='DateStart'/>
									</div>
									
									<label class="control-label">Số lượng</label>
									<div class="controls">										
										<select id="Count" name="Count">
											<option value = "1" >
												<span>1 Lần/ngày</span>
											</option>
											<option value = "2" >
												<span>2 Lần/ngày</span>
											</option>
											<option value = "3" >
												<span>3 Lần/ngày</span>
											</option>
											<option value = "4" >
												<span>4 Lần/ngày</span>
											</option>
											<option value = "5" >
												<span>5 Lần/ngày</span>
											</option>
										</select>
									</div>								
									<label class="control-label" for="Content">Nội dung</label>
									<div class="controls">
										<textarea style="width:50%;" id="Content" name="Content" />
									</div>	
								</div>
								<div class="control-group">
									<div class="controls">
										<button id="BtnAddReward" class="btn btn-primary btn-ins" value="submit-value">Thêm mới</button>
									</div>
								</div>						
							
							<div id="RewardLoad" />							
						</div>
					</div>
				</div>
			</div>			
		</div>
		<span metal:use-macro="mApplication.xhtml/Footer"/>		
		<span metal:use-macro="mDialog.xhtml/DialogDelSelected"/>
		<span metal:use-macro="mApplication.xhtml/DialogChangeTime"/>
		<!-- DIALOG EDIT	-->
					<div id="DialogUpdateReward" class="modal fade">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3><i class="glyphicons-fast_food modal-icon"/>CẬP NHẬT THÔNG TIN</h3>
								</div>								
								<form id="FormSDUpdate" action="#" class="form-horizontal" novalidate="novalidate">									
									<div class="form-group">
										<label class="control-label">Tên chương trình</label>
										<div class="controls">
											<select id="IdCategory1" name="IdCategory1" >
												<option tal:repeat="CategoryPrograme CategoryProgrameAll" tal:attributes="value CategoryPrograme/getId" >
													<span  tal:content="CategoryPrograme/getName"/>
												</option>
											</select>										
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Ngày làm</label>
										<div class="controls">
											<input id="DateWork" name="DateWork" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Số lượng</label>
										<div class="controls">
											<input id="NCount" name="NCount" type="text" class="form-control input-small"/>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label">Nội dung</label>
										<div class="controls">
											<textarea id="ContentEdit" name="ContentEdit" type="text" class="form-control"/>
										</div>
									</div>
									<div class="form-actions">										
										<button id="URLUpdateReward" class="btn btn-primary btn-small" value="Validate"><i class="glyphicons-download_alt"/> Lưu</button>
										<button data-dismiss="modal" class="btn btn-default btn-small"><i class="glyphicons-undo"/> Hủy</button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<!-- END DIALOG EDIT -->
		<script type="text/javascript">
		/*<![CDATA[*/		
            //var Name 		= $(this).val();										
			$("#RewardLoad").load("/thu-lao/reward/trang", { Page: 1 });
			
			$('#DateStart').datetimepicker();
			$('#DateWork').datetimepicker();
			
			$('#URLChangeTimeButton').click(function(e){				
				var mYear 	= $("#mYear").val();
				var mMonth 	= $("#mMonth").val();				
				URL = "thu-lao/app/changetime/"+mMonth+"/"+mYear;
				$.ajax({
					type: "POST", 
					async: false,
					url: URL,
					dataType: 'json',
					contentType:"application/json; charset=utf-8",	
					success: function(data){						
					}
				});
				location.reload(true);
			});
			
			$('#BtnAddReward').click(function(e){				
				var Data = [];
				Data[0] 	= 'null';
				Data[1] 	= $("#IdCategory").val();
				Data[2] 	= $("#IdUser").attr('alt');					
				Data[3] 	= $("#Content").val();	
				Data[4] 	= $("#Count").val();	
				Data[5] 	= $("#DateStart").val();	
				Data[6] 	= 'null';	
				Data[7] 	= '';	
				
				var URL = "/object/ins/Salarydaily";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,						
						success: function(msg){
							$("#RewardLoad").load("/thu-lao/reward/trang", { Page: 1 });
						}
					});
			});	
			
			$('.update-item').click(function(){
				//Load dữ liệu JSON về
				var url = "/object/load/Salarydaily/" + $(this).attr('data-id');
				
				//Load dữ liệu JSON lên FORM
				$.getJSON(url, function(data){
					$('#URLUpdateReward').attr('alt'	, data.id);
					$('#IdCategory1').select2('value'		, data.id_category);					
					$('#ContentEdit').attr('val'		, data.content);
					$('#NCount').attr('value'		, data.count);
					$('#DateWork').attr('value'		, data.date_work);
				});
			});
			
			$('#URLUpdateReward').click(function(e){				
				var IdTable = $("#CurrentTable").attr('alt');
				var Data = [];						
				Data[0] 	= $('#URLUpdateReward').attr('alt');
				Data[1] 	= $("#IdCategory1").val();
				Data[2] 	= $("#IdUser").attr('alt');					
				Data[3] 	= $("#ContentEdit").val();	
				Data[4] 	= $("#NCount").val();	
				Data[5] 	= $("#DateWork").val();	
				Data[6] 	= 'null';	
				Data[7] 	= '';
				
				$("#DialogSession").modal('hide');
									
				var URL = "/object/upd/Salarydaily";
				$.ajax({
					type: "POST",
					data: {Data:Data},
					url: URL,
					success: function(msg){
						$("#RewardLoad").load("/thu-lao/reward/trang", { Page: 1 });
					}
				});
			});	
			
			$('#URLDelSelectedButton').click(function(e){				
				var Data = [];
				Data[0] 	= 'null';
				Data[1] 	= $("#IdCategory").val();
				Data[2] 	= $("#IdUser").attr('alt');					
				Data[3] 	= $("#Content").val();	
				Data[4] 	= $("#Count").val();	
				Data[5] 	= $("#DateStart").val();	
				Data[6] 	= 'null';	
				Data[7] 	= '';	
				
				var URL = "/object/ins/Salarydaily";
					$.ajax({
						type: "POST",
						data: {Data:Data},
						url: URL,						
						success: function(msg){
							$("#RewardLoad").load("/thu-lao/reward/trang", { Page: 1 });
						}
					});
			});				
		/*]]>*/
		</script>		
	</body>
</html>