<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span12 main">
					<div class="signin-inner">
						<form class="form-horizontal" tal:attributes="action '/signout/exe'" method="post">
							Bạn chắc chắn thoát khỏi ứng dụng ?
							<fieldset>
								<button class="btn" type="submit" data-theme="b" name="submit" value="submit-value">Đăng Xuất</button>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>