<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<span metal:use-macro="mAdmin.xhtml/Menu"/>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped" >
								<thead>
									<tr>
										<th>STT</th>
										<th align="left">TÊN</th>
										<th align="left">CÂU HỎI</th>
										<th>XÓA</th>
									</tr>
								</thead>
								<tbody>
									<tr class="content-rows" tal:repeat="Category CategoryAll">
										<td width="32" align="center">
											<div tal:content="repeat/Category/number" />
										</td>
										<td>
											<a tal:attributes="href Category/getURLUpdLoad">
												<div tal:content="Category/getName" />
											</a>
										</td>
										<td align="left">
											<a tal:attributes="href Category/getURLView">
												<div>Câu hỏi (<span tal:content="Category/getAsks/count"/>)</div>
											</a>
										</td>
										<td width="32" align="center">
											<a tal:attributes="href Category/getURLDelLoad">
												<span class="icon-remove" />
											</a>
										</td>
									</tr>
								</tbody>
								<tfoot>																		
									<td colspan="2" align="center">
										<a class="btn" href="/app/category/ask/ins/load">
											<span class="icon-plus" /> Thêm mới
										</a>
									</td>
									<td colspan="2" align="center">
										<a class="btn" href="/app/category/ask/update/all">
											<span class="icon-edit" /> Cập nhật key
										</a>
									</td>
								</tfoot>
							</table>
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>