<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span3" />
				<div class="span9 main">
					<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
					<form class="form-horizontal" tal:attributes="action '/app/category/video/ins/exe'" method="post">
						<div class="control-group">
							<label class="control-label" for="Name">Tên</label>
							<div class="controls">
								<input id="Name" name="Name" type="text" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Type">Loại</label>
							<div class="controls">
								<input id="Type" type="checkbox" name="Type" />Đặc biệt
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="BType">Tông phái</label>
							<div class="controls">
								<select name="BType">
									<option tal:repeat="Category1 CategoryBTypeAll" tal:attributes="value Category1/getId" >
										<span tal:content="Category1/getName"/>
									</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Picture">URL hình ảnh</label>
							<div class="controls">
								<input id="Picture" name="Picture" type="text" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Order">Thứ tự</label>
							<div class="controls">
								<input id="Order" name="Order" type="text" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn" value="submit-value">Thêm mới</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>