<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span3" />
				<div class="span9 main">
					<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
					<form class="form-horizontal" tal:attributes="action Monk/getURLUpdExe" method="post">
						<div class="control-group">
							<label class="control-label" for="PreName">Chức sắc</label>
							<div class="controls">
								<input id="PreName" name="PreName" type="text" tal:attributes="value Monk/getPreName" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Type">Loại</label>
							<div class="controls">
								<input id="Type" type="checkbox" name="Type" tal:attributes="checked Monk/getType" /> Đặc biệt
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="BType">Tông phái</label>
							<div class="controls">
								<select name="BType">
									<option tal:repeat="Category CategoryBTypeAll" tal:attributes="value Category/getId;selected php:Category->getId()==Monk->getBType()?true:false" >
										<span tal:content="Category/getName"/>
									</option>
								</select>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Name">Tên</label>
							<div class="controls">
								<input id="Name" name="Name" type="text" tal:attributes="value Monk/getName" />
							</div>
						</div>														
						<div class="control-group">
							<label class="control-label" for="Pagoda">Chùa</label>
							<div class="controls">
								<input id="Pagoda" name="Pagoda" type="text" tal:attributes="value Monk/getPagoda" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Phone">Điện thoại</label>
							<div class="controls">
								<input id="Phone" name="Phone" type="text" tal:attributes="value Monk/getPhone" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Note">Ghi chú</label>
							<div class="controls">
								<input id="Note" name="Note" type="text" tal:attributes="value Monk/getNote" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="URLPic">URL Hình ảnh</label>
							<div class="controls">
								<input id="URLPic" name="URLPic" type="text" tal:attributes="value Monk/getURLPic" />
							</div>
						</div>														
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn" value="submit-value">Cập nhật</button>
							</div>
						</div>						
					</form>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>