<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">DANH MỤC</li>
								<li tal:repeat="Monk1 MonkAll" tal:attributes="class php:Monk->getId()==Monk1->getId()?'active':'disabled'">
									<a tal:attributes="href Monk1/getURLVideo">
										<span tal:content="Monk1/getName" /> <span class="badge badge-info pull-right" tal:content="Monk1/getVMs/count"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="30px">STT</th>
										<th align="left">TIÊU ĐỀ</th>
										<th width="80px" align="left">THỜI GIAN</th>
										<th width="30px">XÓA</th>
									</tr>
								</thead>
								<tbody>
									<tr class="content-rows" tal:repeat="VM VMAll">
										<td align="center"><div tal:content="repeat/VM/number" /></td>
										<td class="text-hightlight">
											<a tal:attributes="href VM/getURLUpdLoad">
												<div tal:content="VM/getVideo/getName" />
											</a>
										</td>
										<td>
											<div tal:content="VM/getVideo/getTimePrint" />
										</td>
										<td>
											<a tal:attributes="href VM/getURLDelLoad">
												<span class="icon-remove"/>
											</a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="2">
											<a class="btn" tal:attributes="href Monk/getURLVideoInsLoad"><span class="icon-plus"/>Thêm mới</a>
										</td>
										<td colspan="2">
											<a class="btn" tal:attributes="href Monk/getURLYoutubeUpdLoad"><span class="icon-facetime-video"/>Youtube</a>
										</td>
									</tr>
								</tfoot>
							</table>
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>