<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						
					</div>
					<div class="span9 main">
						<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
						<form class="form-actions" tal:attributes="action Paid/getURLDelExe" method="post">
							<p>Bạn có chắc chắn muốn xóa ?</p>
							<button type="submit" class="btn" value="submit-value"><span class="icon-remove"/>Xóa</button>
						</form>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>