<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/jquery-ui-1.8.11.custom.css" /> 
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/jquery-ui-timepicker-addon.css" />
		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-1.8.11.custom.min.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-addon.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.ui.datepicker-vi.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-vi.js" />
		
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function() {$('#Time').datetimepicker({ dateFormat: 'yy-mm-dd' });});
			/*]]>*/
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span3" />
				<div class="span9 main">
					<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
					<form class="form-horizontal" tal:attributes="action Sponsor/getURLPaidInsExe" method="post">
						<div class="control-group">
							<label class="control-label" for="Time">Thời điểm</label>
							<div class="controls">
								<input id="Time" name="Time" type="text" />
							</div>
						</div>																				
						<div class="control-group">
							<label class="control-label" for="Value">Giá trị</label>
							<div class="controls">								
								<input id="Value" name="Value" type="text"  />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Unit">Đơn vị</label>
							<div class="controls">
								<input id="Unit" name="Unit" type="text" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Note">Ghi chú</label>
							<div class="controls">
								<input id="Note" name="Note" type="text" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn" value="submit-value"><span class="icon-plus"/>Thêm mới</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>