<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="box radius">
						<div class="page-header pg-header pg-header-question reset-margin">
							<h4 class="reset-margin">Các câu hỏi</h4>
						</div>
						<div class="b-content padding-content news-content">
							<div tal:repeat="Ask AskAll" class="media img-polaroid new-list-polaroid-3">
								<a href="#" class="pull-left">
									<img src="/data/images/logo/question.png" class="media-object img-rounded"/>
								</a>
								<div class="media-body">
									<h4 class="media-heading"><span tal:content="repeat/Ask/number" />. Hỏi về <span tal:content="Ask/getCategory/getName" /></h4>
									<p tal:content="structure Ask/getQuestion"/>
									<i tal:content="Ask/getTimePrint"/>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<!-- <div metal:use-macro="base.xhtml/EventBox"/>
					<div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<!-- <div metal:use-macro="base.xhtml/Popup"/> -->
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>