<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/font-awesome.min.css"/>	
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyA2K377CdAYaYb89VbalhvSIIK7-MQSegY" type="text/javascript"></script>				
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/gps.jquery.js"/>
		
	</head>

	<body onload="$('#map').googleMap().load()" onunload="GUnload()">
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div metal:use-macro="base.xhtml/CallendarBar"/>
			<div class="row reset-margin main">				
				<div class="span8 fix-width">					
					<div class="box radius">
						<div class="page-header pg-header reset-margin">							
							<div class="pg-header-location">Thông tin liên hệ</div>
						</div>
						<div class="b-content padding-content news-content">
							
							<div class="padding-content name-card">
								<center>
									<h2>Phòng Kỹ Thuật Thể Hiện </h2>
									<h2>Đài PTTH Vĩnh Long</h2>
									<p>Địa chỉ: tầng 3.5, 50 Phạm Thái Bường - Phường 4 - TP Vĩnh Long - tỉnh Vĩnh Long - Việt Nam</p>
									<hr/>
								</center>
								<p><i class="icon-user"/> Trưởng Phòng: Nguyễn Quang Phương</p>
								<p><i class="icon-phone"/> Điện thoại: 0913 71 81 56</p>
								<p><i class="icon-envelope"/> Email: quangphuong@thvl.vn</p>								
							</div>							
						</div>
					</div>
					
					<div class="box radius">						
						<div class="b-content padding-content news-content">
							<div id="map" class="img-polaroid" style="width:588px; height:700px;"/>							
						</div>
					</div>
						
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/CallendarBox"/>
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>									
					<!-- <div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<div metal:use-macro="base.xhtml/CourseBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					-->
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>			
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>