<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/font-awesome.min.css"/>
		<!--[if IE 7]>
			<link rel="stylesheet" href="/mvc/templates/theme/bootstrap/css/font-awesome-ie7.min.css">
		<![endif]-->
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true&amp;key=AIzaSyA2K377CdAYaYb89VbalhvSIIK7-MQSegY" type="text/javascript"></script>				
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/gps.jquery.js"/>
		<script type="text/javascript">
			$(function() {			
				$("#map").googleMap().load();				
			});
		</script>
	</head>

	<body onunload="GUnload()">
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="box radius">
						<div class="page-header pg-header pg-header-paper reset-margin">
							<h4 class="reset-margin">Thông tin liên hệ</h4>
						</div>
						<div class="b-content padding-content news-content">
							
							<div class="padding-content name-card">
								<center>
									<h2>Chùa Khải Tường</h2>
									<p>319B2 - Mỹ Phú - Mỹ Đức Đông - Cái Bè - Tiền Giang - Việt Nam</p>
									<hr/>
								</center>
								<p><i class="icon-user"/> Đại diện: Đại đức Thích Nhuận Tâm</p>
								<p><i class="icon-phone"/> Điện thoại: 0918 852 102</p>
								<p><i class="icon-envelope"/> Email: nhuantamkhaituong@gmail.com</p>
								<div class="txt-indent">
									<i class="icon-globe"/> Số tài khoản quốc tế:
									<p><b>VIETNAM TECHNOLOGICAL AND COMMERCIAL JOINT STOCK BANK</b></p>
									<p><b>SWIFT: VTCBVN VX</b></p>
									<p>- ACCOUNT NUMBER: 19027191461017</p>
									<p>- ACCOUNT NAME: LE NGOC EM</p>
								</div>
								<div class="txt-indent">
									<i class="icon-suitcase"/> Số tài khoản trong nước:
									<p><b>NGÂN HÀNG THƯƠNG MẠI CỔ PHẦN KỸ THƯƠNG VIỆT NAM (TECHCOMBANK)</b></p>
									<p><b>CHI NHÁNH VĨNH LONG</b></p>
									<p>- SỐ TÀI KHOẢN: 19027191461017</p>
									<p>- CHỦ TÀI KHOẢN: LÊ NGỌC EM</p>
								</div>
							</div>
							<div class="news-author">
								<div class="news-tools clearfix">
									<a class="btn btn-primary pull-right" href="/online"><i class="icon-info-sign icon-white"/> Liên hệ trực tuyến</a>
									<a class="btn btn-success pull-right" href="/ask/1"><i class="icon-question-sign icon-white"/> Đặt câu hỏi</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="box radius">
						<div class="page-header pg-header pg-header-location reset-margin">
							<h4 class="reset-margin">Hướng dẫn đường đi</h4>
						</div>
						<div class="b-content padding-content news-content">
							<div id="map" class="img-polaroid" style="width:588px; height:470px;"/>
							<br/>
							<div class="news-author">
								<div class="news-tools">
									<p>Tìm đường bằng cách chọn vị trí</p>
								</div>
							</div>
							<form class="form-horizontal" action="directions.php" method="POST">
								<div class="control-group">
									<label class="control-label" for="Name">Chọn vị trí</label>
									<div class="controls">
										<select name="cboTinhThanh" id="cboTinhThanh">
											<option label="Vĩnh Long" value="Vĩnh Long">Vĩnh Long</option>
											<option label="Hồ Chí Minh" value="Hồ Chí Minh">Hồ Chí Minh</option>
											<option label="Hà Nội" value="Hà Nội">Hà Nội</option>													
											<option label="Cần Thơ" value="Cần Thơ">Cần Thơ</option>
											<option label="An Giang" value="An Giang">An Giang</option>
											<option label="BR - Vũng Tàu" value="BR - Vũng Tàu">BR - Vũng Tàu</option>													
											<option label="Bạc Liêu" value="Bạc Liêu">Bạc Liêu</option>													
											<option label="Bến Tre" value="Bến Tre">Bến Tre</option>													
											<option label="Bình Dương" value="Bình Dương">Bình Dương</option>
											<option label="Bình Phước" value="Bình Phước">Bình Phước</option>
											<option label="Cà Mau" value="Cà Mau">Cà Mau</option>													
											<option label="Đồng Nai" value="Đồng Nai">Đồng Nai</option>
											<option label="Đồng Tháp" value="Đồng Tháp">Đồng Tháp</option>
											<option label="Kiên Giang" value="Kiên Giang">Kiên Giang</option>
											<option label="Long An" value="Long An">Long An</option>													
											<option label="Sóc Trăng" value="Sóc Trăng">Sóc Trăng</option>													
											<option label="Tiền Giang" value="Tiền Giang">Tiền Giang</option>
											<option label="Trà Vinh" value="Trà Vinh">Trà Vinh</option>
										</select>
									</div>
								</div>
							</form>
							<br/>
							<div class="news-author">
								<div class="news-tools">
									<p>Tìm đường bằng cách nhập vị trí</p>
								</div>
							</div>
							<form class="form-horizontal" action="directions.php" method="POST">
								<input id="end" type="hidden" value="Chua Khai Tuong, Cai Be, Tien Giang, Viet Nam"/>
								<div class="control-group">
									<label class="control-label" for="Name">Vị trí của bạn</label>
									<div class="controls">
										<input id="start" type="text" value="TP Vĩnh Long, Việt Nam"/>
										<button type="submit" id="getdirections" name="submit" value="submit-value" class="btn">Tìm đường</button>
									</div>
								</div>
							</form>
							<div id="directions" class="img-polaroid"></div>
						</div>
					</div>
						
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<!-- <div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>