<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content">Khóa học</div>
						</div>
						<div class="b-content padding-content">
							<div tal:repeat="CO Courses" class="media img-polaroid new-list-polaroid">
								<a tal:attributes="href CO/getURLRead" class="pull-left">
									<img tal:attributes="src CO/getImage" class="media-object img-rounded"/>
								</a>
								<div class="media-body">
									<h4 class="media-heading" tal:content="CO/getName"/>
									<p class="media-time">Bắt đầu: <i tal:content="CO/getDateStartPrint"/></p>
									<p class="media-time">Kết thúc: <i tal:content="CO/getDateEndPrint"/></p>
									<p class="media-reduce">Nội dung tóm tắt<br/>Nội dung tóm tắt<br/>Nội dung tóm tắt</p>
									<a tal:attributes="href CO/getURLRead" class="btn">Xem chi tiết</a>
								</div>
							</div>
							<!--
							<center>
								<div class="pagination page-number">
									<ul>
										<li tal:repeat="P PN/getPages">
											<a tal:attributes="href P/getURL" tal:content="P/getName" />
										</li>
									</ul>
								</div>
							</center>
							-->
						</div>
					</div>

				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<!-- <div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>