<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>		
			
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">				
				<div class="span8 fix-width">
					<div class="accordion accordion-fix" id="accordion2">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div class="b-t-icon-content">Truyền hình trực tuyến</div>								
								<table width="100%" height="325px" border="1" cellspacing="0" bgcolor="#C0C0C0">
									<tr>
										<td align="center" colspan="5" width="395px" height="325px" background="data/images/logo/tvonline.jpg">
											<div align="center" id='mediaspace' style="padding:0px 0px 0px 0px; border:0px solid; border-color: #dadadc; width:395px; height:325px;"></div>
										</td>									
										<td width="395px" background="#000">
											<div>lỊCH CHƯƠNG TRÌNH</div>
										</td>
									</tr>									
								</table>								
							</div>
							<div style="padding-left:65px;" id="collapseOne" class="accordion-body collapse in b-content">
								<a href="#" onclick="playit('rtmp://123.30.108.77/livepkgr/livestream1?adbe-live-event=liveevent','http://kythuathehien.com/data/images/logo/LG_THVL-1.gif');">
									<img src="data/images/logo/LG_THVL-1.gif" width="85" height="30" border="0" class="img-channel" />
								</a>
								<a href="#" onclick="playit('rtmp://123.30.108.77/livepkgr/livestream2?adbe-live-event=liveevent','http://kythuathehien.com/data/images/logo/LG_THVL-2.gif');">
									<img src="data/images/logo/LG_THVL-2.gif" width="85" height="30" border="0" class="img-channel" />
								</a>
								<a href="#" onclick="playit('rtmp://123.30.108.77/livepkgr/livestream3?adbe-live-event=liveevent','data/images/logo/LG_Radio.gif');">
									<img src="data/images/logo/LG_Radio.gif" width="85" height="30" border="0" class="img-channel" />
								</a> 
							</div>
						</div>
					</div>
					
					<div class="accordion accordion-fix" id="accordion3">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div class="b-t-icon-content">VIDEO CLIP HOT</div>
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" data-parent="#accordion3" href="#collapse3"/>
							</div>
							<div id="collapse3" class="accordion-body collapse in b-content">
								<ul class="thumbnails grid-item reset-margin">
									<li tal:repeat="VL VL8" class="span2">
										<div class="thumbnail">
											<a tal:attributes="href VL/getURLView">
												<img tal:attributes="src VL/getVideo/getURLImage"/>
												<p tal:content="VL/getVideo/getName"/>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/PictureBox"/>
					
					<div metal:use-macro="base.xhtml/CallendarBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<!-- <div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<div metal:use-macro="base.xhtml/CourseBox"/>
					
					
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
										
					-->
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<!--
			<div metal:use-macro="base.xhtml/Popup"/>
			
			
			-->
			<div id="fb-root"/>
		</div>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/swfobject.js"/>	

			<script type='text/javascript'>
		
			function playit2(url,myimg){
			  var so = new SWFObject('http://thvl.vn/vplayer.swf','mpl','395','325','9');

			  so.addParam('allowfullscreen','true');

			  so.addParam('allowscriptaccess','always');
			  so.addVariable('stretching','fill');
			  so.addParam('wmode','opaque');
			  
				if(url.indexOf('rtmp')>-1)
				{
					so.addVariable('streamer',url.substring(0,url.lastIndexOf("/")+1));
					so.addVariable('file',url.substring(url.lastIndexOf("/")+1));
					
					so.addVariable('file',url);
					so.addVariable('stretching','fill');
					so.addVariable('image','TV-Online.gif');
					so.addVariable('controlbar','bottom');
					so.addVariable('autostart','false');
					so.addVariable('volume','90');
					so.write('mediaspace');
					
				}else
				{
					so.addVariable('file',url);
					so.addVariable('stretching','fill');
					so.addVariable('image','TV-Online.gif');
					so.addVariable('controlbar','bottom');
					so.addVariable('autostart','false');
					so.addVariable('volume','90');
					so.write('mediaspace');
					document.getElementById('mediaspace2').innerHTML="";
				}
			}
			function playit(url,myimg){

			 
			  var so = new SWFObject('http://thvl.vn/vplayer.swf','mpl','395','325','9');

			  so.addParam('allowfullscreen','true');
			so.addVariable('stretching','fill');
			  so.addParam('allowscriptaccess','always');

			  so.addParam('wmode','opaque');
			if(url.indexOf('rtmp')>-1){
			  so.addVariable('streamer',url.substring(0,url.lastIndexOf("/")+1));
			  so.addVariable('file',url.substring(url.lastIndexOf("/")+1));
			}else
			  so.addVariable('file',url);
			  so.addVariable('image','TV-Online.gif');
			  so.addVariable('controlbar','bottom');
			  so.addVariable('volume','90');
			  so.addVariable('autostart','true');
			  so.write('mediaspace');

			document.getElementById('mediaspace2').innerHTML="";

			}

			function radioit(radio,url){

			playit(radio);
			return ;

			  var so = new SWFObject('player.swf','mpl','395','325','9');

			  so.addParam('allowfullscreen','true');
			  so.addParam('allowscriptaccess','always');
			  so.addParam('wmode','opaque');
			  so.addVariable('file',url);
			  so.addVariable('image','TV-Online.gif');
			  so.addVariable('controlbar','none');
			  so.addVariable('autostart','true');
			  so.addVariable('mute','true');
			  so.write('mediaspace');

			  var so2 = new SWFObject('_player.swf','mpl','0','0','9');

			  so2.addParam('allowfullscreen','true');
			  so2.addParam('allowscriptaccess','always');
			  so2.addParam('wmode','opaque');
			if(url.indexOf('rtmp')>-1){
			  so2.addVariable('streamer',radio.substring(0,radio.lastIndexOf("/")+1));
			  so2.addVariable('file',radio.substring(radio.lastIndexOf("/")+1));
			}else
			  so2.addVariable('file',radio);
			  so2.addVariable('controlbar','none');
			  so2.addVariable('autostart','true');
			  so2.write('mediaspace2'); 
			}
			</script>	
	</body>
</html>