<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div metal:use-macro="base.xhtml/CallendarBar"/>
			<div class="row reset-margin main">				
				<div class="span8 fix-width">
					<div class="accordion accordion-fix" id="accordion0">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div class="b-t-icon-content">Truyền hình trực tuyến</div>	
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" data-parent="#accordion0" href="#collapse0"/>
																
							</div>
							<table width="100%" height="325px" border="0" cellspacing="0" >
									<tr>
										<td align="center" colspan="5" width="100%" height="325px" background="data/images/logo/tvonline.jpg">
											<div align="center" id='mediaspace' style="padding:0px 0px 0px 0px; border:0px solid; border-color: #dadadc; width:100%; height:325px;">
												<iframe id="mediaTHVL" src="./data/tvonline/saved_resource.htm" width="100%" height="325px" style="overflow: hidden;" scrolling="no"></iframe>
											</div>											
										</td>										
									</tr>									
							</table>
							<div style="padding-left:65px;padding-top:5px;" id="collapseOne" class="accordion-body collapse in b-content">
								<a href="#" onclick="playit('rtmp','http://kythuathehien.com/data/images/logo/LG_THVL-1.gif');">
									<img src="data/images/logo/LG_THVL-1.gif" width="85" height="30" border="0" class="img-channel" />
								</a>
								<a href="#" onclick="playit('rtmp2','http://kythuathehien.com/data/images/logo/LG_THVL-2.gif');">
									<img src="data/images/logo/LG_THVL-2.gif" width="85" height="30" border="0" class="img-channel" />
								</a>
								<a href="#" onclick="playit('rtmp3','http://kythuathehien.com/data/images/logo/LG_Radio.gif');">
									<img src="data/images/logo/LG_Radio.gif" width="85" height="30" border="0" class="img-channel" />
								</a> 
							</div>
						</div>
					</div>
										
					<div tal:repeat="Category CategoryNewsAll" class="accordion accordion-fix" tal:attributes="id Category/getIdPrint">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div tal:content="Category/getName" class="b-t-icon-content"/>
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" tal:attributes="data-parent Category/getIdPrint; href php: '#collapse' . Category->getIdPrint()"/>
							</div>
							<div tal:attributes="id php: 'collapse' . Category->getIdPrint()" class="accordion-body collapse in b-content">
								<div class="row reset-margin">
									<div class="span4 reset-margin">
										<div class="carousel slide carousel-fade img-polaroid news-slide">
											<div class="carousel-inner">
												<div class="active item" tal:condition="Category/getNewsLimit1/current">													
													<a tal:attributes="href Category/getNewsLimit1/current/getURLRead">
														<img tal:attributes="src Category/getNewsLimit1/current/getImage"/>
														<div class="carousel-caption">
															<p tal:content="Category/getNewsLimit1/current/getTitleReduce" />
														</div>
													</a>
												</div>
												<div tal:repeat="News Category/getNewsLimit1" class="item" tal:condition="Category/getNewsLimit1">
													<a tal:attributes="href News/getURLRead">
														<img tal:attributes="src News/getImage"/>
														<div class="carousel-caption">
															<p tal:content="News/getTitleReduce" />
														</div>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="span4 reset-margin pull-right news-list">
										<ul class="nav nav-tabs nav-stacked">
											<li class="active news-list-title"><a>MỚI CẬP NHẬT</a></li>
											<li class="news-list-item" tal:repeat="News Category/getNewsLimit1">
												<a tal:attributes="href News/getURLRead" tal:content="News/getTitleReduce"/>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>					
					
					<div class="accordion accordion-fix" id="accordion3">
						<div class="accordion-group box radius">
							<div class="accordion-heading b-title clearfix">
								<div class="b-t-icon-content">VIDEO CLIP HOT</div>
								<a class="accordion-toggle pull-right hidden-accordion icon-chevron-up icon-white hidden-control" data-toggle="collapse" data-parent="#accordion3" href="#collapse3"/>
							</div>
							<div id="collapse3" class="accordion-body collapse in b-content">
								<ul class="thumbnails grid-item reset-margin">
									<li tal:repeat="VL VL8" class="span2">
										<div class="thumbnail" >
											<a tal:attributes="href VL/getURLView">
												<img tal:attributes="src VL/getVideo/getURLImage"/>
												<p style="color:#000000;" tal:content="VL/getVideo/getName"/>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/CallendarBox"/>
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>					
					<!-- <div metal:use-macro="base.xhtml/AskBox"/>					
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<div metal:use-macro="base.xhtml/CourseBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>										
					-->
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>			
			<div id="fb-root"/>
		</div>
		
		<script type='text/javascript' src='/mvc/templates/script/user/swfobject.js'></script>
<script type='text/javascript' src='http://thvl.vn/wp-includes/js/jquery/jquery.js?ver=1.3.2'></script>
<script type='text/javascript' src='http://thvl.vn/wp-content/plugins/admangler/js/jquery.validate.min.js?ver=2.9'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://thvl.vn/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://thvl.vn/wp-includes/wlwmanifest.xml" />
	

	<script type='text/javascript'>
		function playit2(url,myimg){			
			document.getElementById('mediaspace').innerHTML='<iframe src="http://thvl.vn/jwplayer/?l='+url+'&i='+myimg+'&w=615&h=325&a=0" width="615" height="325" style="overflow: hidden;" scrolling="no"></iframe>';
		}
		function playit(url,myimg){			
			document.getElementById('mediaspace').innerHTML='<iframe src="http://thvl.vn/jwplayer/?l='+url+'&i='+myimg+'&w=615&h=325&a=1" width="615" height="325" style="overflow: hidden;" scrolling="no"></iframe>';			
			$('#mediaTHVL').contentWindow.location.reload(true);
		}

		function radioit(radio,url){
			playit(radio);
		return ;
		}

		playit2('rtmp','http://thvl.vn/wp-content/uploads/logo/THVL1Online.jpg');

	</script>	
	</body>
</html>