<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="history-box">
						<div class="history-top">
							<h3>CHÙA KHẢI TƯỜNG</h3>
						</div>
						<div class="history-mid">
							<p align="justify"><small>Chùa Khải Tường là một ngôi cổ tự, trước đây tọa lạc trên một gò cao tại ấp Tân Lộc, thuộc Gia Định xưa; nay ở khoảng khu vực Bảo tàng Chứng tích chiến tranh, số 28, Võ Văn Tần, Quận 3, Thành phố Hồ Chí Minh, Việt Nam. Đây có thể được kể là ngôi già lam cổ nhất nhì ở vùng đất ấy, nhưng đã bị phá hủy dưới thời Pháp thuộc.</small></p><br/>
							<p align="center" style="text-indent:0px;"><img src="/data/images/history/0_2.jpg" width="500" /></p>
							<p align="center" style="text-indent:0px;"><i>Ảnh chùa Khải Tường do Emile Gsell chụp trong khoảng năm 1871-1874</i></p><br/>
							<h3 align="center">Lịch sử</h3>
							<p align="center">________________</p><br/>
							<p align="justify">Vào khoảng năm Giáp Ngọ (1744), Thiền sư Phật Ý-Linh Nhạc (1725-1821, là người đem chi phái Lâm Tế dòng đạo Bổn Nguyên vào miền Nam Việt Nam trước tiên), vâng lời thầy theo lớp người lưu dân từ Đồng Nai xuống phía Nam. Trên đường đi, nhà sư gặp một tăng sĩ không rõ họ tên, cùng lứa tuổi và họ đã kết thành huynh đệ. Đến nơi ở mới là làng Tân Lộc (có tư liệu viết là làng Hoạt Lộc hay xóm Chợ Đũi), hai nhà sư cùng khai phá rừng và dựng lên một am lá (khoảng năm 1744) thờ Phật. Vài năm sau, nhà sư vô danh kia tách ra lập am riêng, cách am cũ vài mươi mét, để tiện việc tu hành.</p><br/>
							<p align="justify">Đến năm Nhâm Thân (1752), Thiền sư Phật Ý-Linh Nhạc tu bổ am lá thành chùa, và đặt tên là chùa Từ Ân, với ngụ ý là "nhờ lòng từ bi và ân huệ của đức Phật mà bá tánh được bình an, tạo được cuộc sống ấm no và hạnh phúc nơi vùng đất mới". Cũng khoảng thời gian đó, nhà sư vô danh cũng tu bổ am lá trước đây thành chùa, và đặt tên là chùa Khải Tường, với ngụ ý là "mở rộng phước lành cho bá tánh". Vì thế khi thực dân Pháp tiến chiếm Gia Định, họ gọi chùa Khải Tường là chùa Trước (pagode Avancée, về sau còn gọi là pagode Barbé) còn chùa Từ Ân là chùa Sau.</p><br/>
							<p align="justify">Căn cứ một số tư liệu, thì vào ngày 23 tháng 4 năm Tân Hợi (25 tháng 5 năm 1791), thứ phi Trần Thị Đang (Thuận Thiên Cao Hoàng hậu) sinh Nguyễn Phúc Đảm (về sau là vua Minh Mạng) nơi hậu liêu chùa Khải Tường, khi chúa Nguyễn Phúc Ánh đến đây trốn tránh quân Tây Sơn. Năm 1804, để tạ ơn che chở, vua Gia Long (tức vị chúa trên) đã gửi vào dâng cúng một tượng Phật A-di-đà lớn, ngồi trên tòa sen, cao 2,5 m bằng gỗ mít, sơn son thếp vàng.</p><br/>
							<p align="center" style="text-indent:0px;"><img src="/data/images/history/0_1.jpg" width="500" /></p>
							<p align="center" style="text-indent:0px;"><i>Tượng Phật A-di-đà do vua Gia Long dâng cúng năm 1804</i></p><br/>
							<p align="justify">Năm 1832, kỷ niệm nơi cha mẹ ông từng ở, và cũng là nơi sinh ra ông, vua Minh Mạng sai xuất bạc trùng tu chùa, đồng thời cho "mộ sư đến ở, cấp ruộng tự điền" để lo việc lễ tiết hàng năm.</p><br/>
							<p align="justify">Năm 1858, quân Pháp đánh phá cửa Hàn (Đà Nẵng). Năm sau (1859) lại vào tấn công Gia Định, Pháp chia quân đóng rải rác tại Trường Thi, đền Hiển Trung (pagode aux Mares) và các chùa: Khải Tường (pagode Barbé), Kiểng Phước (pagode des Clochetons), Cây Mai (pagode des Pruniers).</p><br/>
							<p align="justify">Riêng chùa Khải Tường, Đại úy Thủy quân lục chiến Pháp tên Barbé nhận nhiệm vụ dẫn quân vào chiếm giữ. Barbé cho đem tượng Phật bỏ ngoài sân, cưỡng bức các sư phải rời chùa. Khi ấy, quan Kinh lược Nguyễn Tri Phương được triều đình cử vào Nam lập Đại đồn Chí Hòa chống Pháp, và chiều ngày 7 tháng 12 năm 1860, quân Việt phục kích giết chết Barbé, khi viên sĩ quan này cỡi ngựa đi tuần đêm từ chùa Khải Tường đến đền Hiển Trung (trong vòng thành Ô Ma).</p><br/>
							<p align="center" style="text-indent:0px;"><img src="/data/images/history/0_3.jpg" width="500" /></p>
							<p align="center" style="text-indent:0px;"><i>Bốn ngôi chùa bị quân Pháp chiếm làm đồn (màu vàng) nhằm tạo thành “chiến tuyến các ngôi chùa” (lignes des pagodes) để chuẩn bị tấn công Đại đồn Chí Hòa (màu cam) của quân Việt vào tháng 2 năm 1861.</i></p><br/>
							<p align="justify">Viên Trung úy Hải quân người Pháp là Léopold Pallu đã sang Sài Gòn tham chiến, sau này kể lại:</p>
							<p align="justify"><small><i>Buổi chiều hôm đó, Đại úy thủy quân Barbet cưỡi ngựa đi tuần tra như thường lệ. Bọn sát nhân rình rập trong một bụi cây...Ông bị đột kích bằng giáo té ngay xuống ngựa. Bọn An Nam liền cắt đầu, bò qua các bụi rậm và cỏ cao trở về giới tuyến cũ của thành Kỳ Hòa. Sáng hôm sau, người ta thấy phần thân thể còn lại (của Barbet) bị kéo bỏ bên vệ đường; con ngựa bị thương nằm bất động kế bên. Người ta kể lại rằng khi cái đầu ông Đại úy đem đến đặt bên khay trầu của vị tướng An Nam, thì ông này liền đếm tiền thưởng mà không nói gì, rồi sau đó mới thốt ra một lời tiếc thương. Đại úy Barbet có thân hình và một sức mạnh lực sĩ, nhiều người An Nam đều biết mặt ông...</i></small></p><br/>
							<p align="justify">Về sau, theo nhà văn Sơn Nam, thì "chùa Khải Tường trở thành trường học con trai nhằm đào tạo giáo viên. Năm 1880, chùa Khải Tường bị tháo dỡ, trường dời qua cơ sở mới là trường Chasseloup Laubat xây cất xong khoảng 1877". Khi tháo dỡ, tấm hoành phi “Quốc ân Khải Tường tự” được chuyển về chùa Từ Ân (nay ở đường Tân Hóa, thuộc quận 6, Thành phố Hồ Chí Minh) cất giữ, còn pho tượng Phật kể trên phải dời đi nhiều nơi, sau cùng được đem trưng bày trong Viện bảo tàng Quốc gia Sài Gòn, nay là Bảo tàng Lịch sử Việt Nam - Thành phố Hồ Chí Minh.</p><br/>
							<p align="justify">Thời gian sau nữa, trên nền chùa bỏ hoang này, Pháp cho xây cất một dinh thự dành cho quan chức trong bộ máy cai trị. Trước năm 1963, dùng làm Trường Đại học Y dược. Sau khi chế độ của Tổng thống Ngô Đình Diệm bị lật đổ, các tướng lãnh cho các cố vấn quân sự đến trú đóng.</p><br/>
							<p align="justify">Sau ngày 30 tháng 4 năm 1975, cơ sở trên được dùng làm Bảo tàng Chứng tích chiến tranh.</p><br/>
							<h3 align="center">Nàng Hai Bến Nghé</h3>
							<p align="center">________________</p><br/>
							<p align="justify">Tên tuổi của chùa Khải Tường cùng viên quan ba Pháp Barbé, còn được loan truyền qua câu chuyện Nàng Hai Bến Nghé:</p><br/>
							<i><p align="justify">Nàng Hai và Tri yêu thương nhau nhưng vì hoàn cảnh éo le nàng phải nhận lấy lãnh binh Sắc làm chồng. Một lần thua trận, Sắc bị quan trên khiển trách, sẵn mang tâm trạng buồn bực, nên khi nghe quân mật báo việc Tri thường có cử chỉ thân mật với vợ mình, Sắc rất ghen tức. Một hôm Sắc cho người giả danh vợ mời Tri tới nhà bàn công việc gắp. Khi hai người gặp nhau, Sắc rời khỏi nơi ẩn nấp bước ra tri hô, ghép họ vào tội lăng loàn và cho lính đóng bè thả trôi sông cả hai người.</p><br/>
							<p align="justify">Một hai hôm sau viên quan ba Barbé, đóng binh ở chùa Khải Tường đang đi săn, bất ngờ gặp một bè chuối trôi trên đó có một người đàn ông và một người đàn bà. Theo dòng, hai con sấu lớn hung hãn, quẫy đuôi bám riết đuổi theo bè. Barbé liền nổ súng, sấu sợ hãi lặn trốn mất. Khi bè được vớt lên, người con trai tức Tri bị sấu cắn cụt mất một chân, đã chết. Phần người con gái là nàng Hai còn thoi thóp thở. Sau khi được chăm sóc, thấy cô trẻ đẹp nên Barbé ép cô phải chung sống với mình. Nàng Hai ưng thuận với điều kiện là được trở về nhà để thu xếp việc riêng.</p><br/>
							<p align="justify">Gặp nàng Hai về, Lãnh binh Sắc cho bắt cô với lời cáo buộc: tội thông đồng, mãi dâm với đối phương. Sắc cho giam nàng Hai dưới hố sâu, cho ăn xương cá và cơm hẩm. Thời may Trương Định đi tuần ngang, lệnh cho đem cô lên và nghe hết mọi chuyện oan trái này...</p><br/>
							<p align="justify">Nơi chùa Khải Tường, hôm đó trời vừa sụp tối, nghe lính canh báo tin có Nàng Hai đến xin gặp. Barbé mừng rỡ phóng ngựa ra đón. Còn cách cô gái chừng mười thước, quân Việt mai phục hai bên đường ào ra. Ngựa bị giáo dài đâm ngã quỵ, hất Barbé ngã xuống và lập tức bị chém chết. Hôm đó là ngày 7 tháng 12 năm 1860.</p><br/>
							<p align="justify">Hơn hai tháng sau, viện binh của Pháp từ Thượng Hải kéo đến Sài Gòn rầm rộ. Sau vài trận chiến ác liệt, đại đồn Chí Hòa bị hạ. Sau những ngày mịt mù khói lửa ấy, không ai tìm thấy cô gái nơi đâu, chẳng biết sống hay đã chết. Nhưng trong dân gian còn truyền tụng mãi hình ảnh người thiếu phụ bị thả trôi sông và đã góp công chống Pháp.</p></i><br/>
							<p align="center" style="text-indent:0px;"><img src="/data/images/history/0_4.jpg" width="500" /></p>
							<p align="center" style="text-indent:0px;"><i>Bảo tàng Chứng tích chiến tranh</i></p><br/>
							<div style="background:#F8F8F8; border:1px solid #DDDDDD; padding:10px; color:#000000;"><small>
								<p align="justify">Viên sĩ quan Barbé chết, quân Pháp rất tức giận. Bởi vậy, họ chiếm lấy tấm bia đá (trên có khắc bi văn của Phan Thanh Giản soạn năm 1858) do vua Tự Đức sai chở từ Huế về Gò Công, để dựng nơi mộ ông ngoại mình là Đức Quốc công Phạm Đăng Hưng, làm bia mộ Barbé ở nghĩa trang Mạc Đĩnh Chi (cũ). Mãi cho đến năm 1999, tấm bia mới được dựng tại mộ ông Hưng, tính ra tấm bia đá mang tên hai người chết một Pháp một Việt này đã luân lạc đúng 140 năm (1859-1999).</p>
							</small></div>
						</div>
						<div class="history-bot">
							
						</div>
					</div>
					
					<div class="box no-border">
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin">
								<li class="active news-list-title"><a>Các bài giới thiệu khác</a></li>
								<li class="news-list-item"><a href="/gioi-thieu">Lịch Sử Chùa Khải Tường <i class="icon-chevron-right pull-right"/></a></li>
								<li class="news-list-item"><a href="/gioi-thieu/1">Số phận long đong của ngôi chùa Hoàng Tộc <i class="icon-chevron-right pull-right"/></a></li>
								<li class="news-list-item"><a href="/gioi-thieu/2">Ngôi chùa nơi vua Minh Mạng chào đời <i class="icon-chevron-right pull-right"/></a></li>
								<li class="news-list-item"><a href="/gioi-thieu/3">Một trăm ngày niệm Phật <i class="icon-chevron-right pull-right"/></a></li>
								<li class="news-list-item"><a href="/gioi-thieu/4">Chùa Khải Tường ... sắc tứ "QUỐC ÂN KHẢI TƯỜNG TỰ" cần được quan tâm <i class="icon-chevron-right pull-right"/></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<div metal:use-macro="base.xhtml/CourseBox"/>
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>