<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">				
				<div class="span3 fix-width-3">
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content">Video Clip hay</div>
						</div>
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin list-3">
								<li tal:repeat="Category1 CategoriesVideo" tal:attributes="class php:Category1->getId()==Category->getId()?'active news-list-item':'news-list-item'">
									<a tal:attributes="href Category1/getURLRead">
										<span class="label monk-label" tal:content="Category1/getVLs/count"/>
										<span tal:content="Category1/getName"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div metal:use-macro="base.xhtml/AskBox"/>					
					<div metal:use-macro="base.xhtml/ContactBox"/>
				</div>
				<div class="span6 fix-width-3">
					<div class="box radius">
						<div class="page-header pg-header pg-header-video reset-margin">
							<h4 class="reset-margin"><span tal:content="Video/getName"/></h4>
							<i class="pull-right">
								<span tal:content="php: 'PSN-Hay ' . Category->getName()"/> video)
							</i>
						</div>
						<div class="b-content news-content padding-content">
							<div class="img-polaroid">
								<iframe width="100%" height="400" 
									tal:attributes="src Video/getURL"
									frameborder="0"
									wmode="Opaque"
								/>
								<script>
									/*<![CDATA[*/
									$("iframe").each(function(){
										  var ifr_source = $(this).attr('src');
										  var wmode = "?wmode=transparent";
										  $(this).attr('src',ifr_source+wmode);
									});
									/*]]>*/
								</script>
							</div>
							<div class="alert alert-block clearfix reset-margin">
								<strong>Người dựng:</strong>
								<span> Chưa xác định</span>
								
								<span class="btn btn-danger pull-right disabled btn-small" >
									<i class="icon-hand-up icon-white"/>
									<span tal:content="Video/getCountPrint"/> lượt xem
								</span>
							</div>
							
							<div class="news-author monk-author"><p>
								<span class="btn btn-danger disabled btn-small">
									<i class="icon-tags icon-white"/> Cùng chủ đề
								</span>
							</p></div>
							<ul class="thumbnails grid-item-2 reset-margin">
								<li tal:repeat="VL VLs" class="span2">
									<div class="thumbnail">
										<a tal:attributes="href VL/getURLView">
											<img tal:attributes="src VL/getVideo/getURLImage"/>
											<p tal:content="VL/getVideo/getName"/>
										</a>
									</div>
								</li>
							</ul>

						</div>
					</div>
				</div>
				<div class="span3 fix-width-3">
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content">Đồng nghiệp khác</div>
						</div>
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin list-3">
								<li class="news-list-item" tal:repeat="User Users">
									<a tal:attributes="href ''">
										<span class="label" tal:content="User/getNote" />
										
										<i class="icon-star pull-right" tal:condition="User/isVIP"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div metal:use-macro="base.xhtml/PictureBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>			
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>