<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span3 fix-width-3">
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content">Chuyên Đề</div>
						</div>
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin list-3">
								<li class="news-list-item" tal:repeat="Category CategoryBType/getCategoryAll">
									<a tal:attributes="href Category/getURLRead">
										<span class="label monk-label" tal:content="Category/getVLs/count"/>
										<span tal:content="Category/getName"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
				</div>
				<div class="span6 fix-width-3">
					<div class="box radius">
						<div class="page-header pg-header pg-header-videos reset-margin">
							<h4 class="reset-margin">Giảng sư: <span tal:content="Monk/getName"/></h4>
							<i class="pull-right">
								<span tal:content="php: 'Phật âm ' . CategoryBType->getName() . ' (' . CategoryBType->getVideoAllCountPrint()"/> video)
							</i>
						</div>
						<div class="b-content news-content padding-content">
							<div tal:repeat="VM VMAll" class="media img-polaroid new-list-polaroid-3">
								<a tal:attributes="href VM/getURLView" class="pull-left">
									<img tal:attributes="src VM/getVideo/getURLImage" class="media-object img-rounded"/>
								</a>
								<div class="media-body">
									<h4 class="media-heading" tal:content="VM/getVideo/getName"/>
									<p class="media-reduce">Giảng sư: <span tal:content="Monk/getName"/></p>
									<a tal:attributes="href VM/getURLView" class="btn pull-right"><i class="icon-share"/> <span tal:content="VM/getVideo/getCount" /> xem</a>
								</div>
							</div>
							
							<div class="pagination page-number">
								<ul>
									<li tal:repeat="P PN/getPages" tal:attributes="class php:Page==P->getId()?'disabled':'active'">
										<a tal:attributes="href P/getURL" tal:content="P/getName" />
									</li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
				<div class="span3 fix-width-3">
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content">Giảng sư</div>
						</div>
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin list-3">
								<li tal:repeat="Monk1 CategoryBType/getMonkAll" tal:attributes="class php:Monk1->getId()==Monk->getId()?'active news-list-item':'news-list-item'">
									<a tal:attributes="href Monk1/getURLRead">
										<span class="label monk-label" tal:content="Monk1/getVMs/count"/>
										<span tal:content="Monk1/getName"/>
										<i class="icon-star pull-right" tal:condition="Monk1/isVIP"/>
									</a>
								</li>
							</ul>
						</div>
					</div>										
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>