<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sim số đẹp giá rẻ</title>
	<link  rel="stylesheet" type="text/css" href="../Template/css/main2.css"/>
	<link rel="stylesheet" type="text/css" href="../Template/css/datatable.css"/>
	<link rel="stylesheet" type="text/css" href="../Template/css/jquery-ui-1.8.11.custom.css"/>
	
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.js"/>
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.dataTables.js"/>	
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.init.dataTables.js"/>	
</head>
<body>
	<div id="frame">
		<div id="header"></div>
			<span metal:use-macro="macros.xhtml/MenuMuasim"/>
		<div id="main">
			<div id="main3_of1">
				<span metal:use-macro="macros.xhtml/Main3of1"/>
			</div>			
			<div id="main3_of2_height">
				<div id="tieude_main">Phương thức thanh toán và nhận sim</div>
				<div style="padding: 0 20px 0 20px; text-align: left; color: black;">
					<p style="text-indent:30px;">Quí Khách hãy gọi đến <font color="red" size="4"><b>0944.92.96.96 – 0977.666.098</b></font> để dược chúng tôi cung cấp thông tin về sim số quý khách đặt mua và tư vấn hình thức thanh toán thuận tiện nhất cho quý khách.<br/>
					<font size="4" style="line-height:30px;"><b>1. Nếu quý khách ở TP.Hồ Chí Minh:</b></font><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quý khách ở Thành Phố <font color="red">Hồ Chí Minh</font> chỉ cần đặt mua sim qua điện thoại hoặc tại website <a href="http://www.thegioisim24h.com">www.thegioisim24h.com</a> Chúng tôi sẽ gọi điện lại cho quí khách để xác nhận thông tin và Sim cần mua.Chúng tôi sẽ cho nhân viên mang sim tới tận nơi Quý khách yêu cầu trong thời gian sớm nhất ( miễn phí vận chuyển).<br/>
					<font size="4" style="line-height:30px;"><b>2. Nếu quý khách ở tỉnh xa:</b></font><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="blue"><u>Đơn giản, quý khách chỉ cần</u>:</font><br/>
					<font color="blue" style="line-height:25px;"><b>• Đặt mua sim số đẹp trên website.</b></font><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Để đặt mua <b>số đẹp</b> trên website <a href="http://www.thegioisim24h.com"> www.thegioisim24h.com</a> quý khách có thể nhấn vào chữ đặt mua bên cạnh sim tìm được điền đầy đủ thông tin đặt hàng và nhấn vào chữ đặt hàng hoặc quý khách có thể gọi điện trực tiếp đến số máy hỗ trợ của chúng tôi:<br/>
					<font color="red" size="4"><b>0944.92.96.96 – 0977.666.098</b></font>.<br/>
					<font color="blue" style="line-height:25px;"><b>• Đăng ký sử dụng sim số đẹp.</b></font><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Để đăng ký sử dụng số đẹp khi Quý khách nhận được sim ,Quý khách có thể gọi điện cho chúng tôi cung cấp thông tin cá nhân chúng tôi sẽ đăng ký thông tin sim cho Quý khách, Quý khách cũng có thể đem <b>sim số đẹp</b> nhận được và CMND ra văn phòng giao dịch của nhà mạng để đăng ký thông tin cá nhân hoặc nhờ nhân viên chuyển sim tới đăng ký (Nếu đó là nhân viên của chúng tôi mang sim tới).<br/>
					<font color="blue" style="line-height:25px;"><b>• Thanh toán và nhận sim số đẹp</b></font><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Thanh toán tiền  khi nhận Sim :  Quý khách  thanh toán trực tiếp cho nhân viên của chúng tôi khi mang sim tới giao cho Quý khách hoặc Nhân viên giao hàng bên chuyển phát nhanh mà chúng tôi nhờ giao sim và nhận tiền hộ.<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Nhân viên bưu điện tại địa phương sẽ giao hàng đến quí khách tại địa điểm mà quí khách đã đăng ký. Trong trường hợp quí khách đi vắng, vui lòng uỷ thác cho người khác nhận hàng và thanh toán tiền thay.<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Trong một số trường hợp nhân viên bưu điện đến phát mà không có người nhận, nhân viên bưu điện sẽ để lại tin nhắn mời khách hàng đến bưu điện nhận hàng.<br/>
					Quý khách cũng có thể thanh toán qua chuyển khoản theo số tài khoản trên website.<br/>
					<font color="blue" style="line-height:25px;"><b>• Tôi ở xa muốn mua sim số đẹp</b>?</font><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Dù quý khách ở bất kỳ nơi đâu chúng tôi cũng có thể giao sim tận tay và nhận tiền trực tiếp, đăng ký chính chủ thông tin cho quý khách. Quý khách chỉ cần đặt hàng trên website hoặc gọi điện cho chúng tôi  <font color="red" size="4"><b>0944.92.96.96 - 0977.666.098</b></font>.<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Sau 48h giờ quý khách không nhận được Sim sau khi đặt hàng và xác nhận thông tin hãy thông báo cho chúng tôi . Xin vui lòng gọi điện đến số hỗ trợ để yêu cầu kiểm tra đơn đặt hàng.<br/>
					<font size="4" style="line-height:30px;"><b>3. Thanh toán bằng thẻ ATM  hoặc qua ngân hàng:</b></font><br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Qúi khách vui lòng chuyển tiền vào một trong các tài  khoản dưới đây sau đó SMS cho chúng tôi địa chỉ nhận sim.<br/>
					
					<table border="0" width="100%" style="float: left; background: #DCE8FC; margin: 5px 0 5px 0; padding:  5px 0 5px 0;"><tr><td>
					<i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ Ngân Hàng Công Thương Việt Nam - VietinBank , Tp HCM<br/>
					<span style="padding-left: 90px;"><b>STK : </b><font color="red"> 711A.0650.3748 </font><br/></span>
					<span style="padding-left: 90px;">Chủ TK : Nguyễn Phước Hải<br/></span>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ Ngân Hàng Đông Á  - DongABank  ,CN Q 10,Tp HCM<br/>
					<span style="padding-left: 90px;"><b>STK  : </b><font color="red"> 0107.5933.27 </font><br/></span>
					<span style="padding-left: 90px;">Chủ TK : Nguyễn Phước Hải<br/></span>

					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ Ngân Hàng Xuất Nhập Khẩu Việt Nam – EXIMBANK – SGD 1<br/>
					<span style="padding-left: 90px;"><b>STK  : </b><font color="red"> 2000.14949.2454.62 </font><br/></span>
					<span style="padding-left: 90px;">Chủ TK : Nguyễn Phước Hải<br/></span></i>
					</td></tr></table>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Quí khách sẽ nhận được sim trong vòng 24h – 48h tại nhà từ khi chuyển tiền xong, mọi thất lạc trong quá trình chuyển sim chúng tôi hoàn toàn chịu trách nhiệm.<br/>
					<font color="blue" size="4">Lưu ý: Quý khách nên chuyển tiền trong cùng hệ thống ngân hàng để tránh mất thời gian chờ đợi.<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Rất hân hạnh được phục vụ quí khách!<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Quý khách cần được biết thêm thông tin, cánh thức mua <b><i>số đẹp</i></b>, cách thức thanh toán và nhận sim...<br/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Đừng ngần ngại hãy gọi qua số hỗ trợ khách hàng cho chúng tôi.</font><br/>
					<center><font color="blue"><b>SỐ MÁY HỖ TRỢ KHÁCH HÀNG</b></font><br/>
					<font color="red" size="4"><b>0944.92.96.96 – 0977.666.098</b></font></center>
					</p>
				</div>
			</div>
			<div id="main3_of3">
				<span metal:use-macro="macros.xhtml/Main3of3Admin"/> 
				<div style="border: 1px solid #999; height: 242px;">
					<a href="http://tkpc.vn/" target="_blank" ><img width="100%" height="50%" border="0" src="../Template/images/tinkhoa.gif" alt="Quang Cao"/></a><br/>
					<a href="http://sncpc.com/home/" target="_blank" ><img width="100%" height="50%" border="0" src="../Template/images/snc.gif" alt="Quang Cao"/></a><br/>
				</div>
			</div>
			<div class="vide"></div>
		</div>
		<div id="line"></div>
		<div metal:use-macro="macros.xhtml/Footer"/>
		<div class="vide"></div>
	</div>
</body>
</html>