<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sim số đẹp giá rẻ</title>
	<link  rel="stylesheet" type="text/css" href="../Template/css/main2.css"/>
	<link rel="stylesheet" type="text/css" href="../Template/css/datatable.css"/>
	<link rel="stylesheet" type="text/css" href="../Template/css/jquery-ui-1.8.11.custom.css"/>
	
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.js"/>
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.dataTables.js"/>	
	<script type="text/javascript" language="javascript" src="../Template/script/jquery.init.dataTables.js"/>	
</head>
<body>
	<div id="frame">
		<div id="header"></div>
			<span metal:use-macro="macros.xhtml/MenuDatsim"/>
		<div id="main">
			<div id="main3_of1">
				<span metal:use-macro="macros.xhtml/Main3of1"/>
			</div>
			<div id="main3_of2_height">
				<div id="tieude_main">Thông báo</div>
				<div id="Table">
					<h3><font color="blue" tal:content='txtthongbao'>X</font></h3>
				</div>
			</div>
			<div id="main3_of3">
				<span metal:use-macro="macros.xhtml/Main3of3"/>  
				<div style="border: 1px solid #999; height: 242px;">
					<a href="http://tkpc.vn/" target="_blank" ><img width="100%" height="50%" border="0" src="../Template/images/tinkhoa.gif" alt="Quang Cao"/></a><br/>
					<a href="http://sncpc.com/home/" target="_blank" ><img width="100%" height="50%" border="0" src="../Template/images/snc.gif" alt="Quang Cao"/></a><br/>
				</div>
			</div>
			<div class="vide"></div>
		</div>
		<div id="line"></div>
		<div metal:use-macro="macros.xhtml/Footer"/>	
		<div class="vide"></div>
	</div>
</body>
</html>