<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Thế giới sim 24h</title>
	<link  rel="stylesheet" type="text/css" href="../Template/css/main2.css"/>
</head>
<body>
	<div id="frame">
		<div id="header"></div>
			<span metal:use-macro="macros.xhtml/MenuGioithieu"/>
		<div id="main">
			<div id="main3_of1">
				<span metal:use-macro="macros.xhtml/Main3of1"/>

			</div>
			<div id="main3_of2">
					<div id="tieude_main">Tìm hiểu về sim số!</div>
					<div align="justify" style="margin-bottom: 430px; padding: 0 20px 0 20px;">
						<p style="text-indent:30px;"><b>* Sim tứ quý - ngũ quý - lục quí:</b> ví dụ 0913796666, 0918899999, 0919888888</p><br/>
						<p style="text-indent:30px;"><b>* Sim tam hoa:</b> như số 01x.66.888.999 hoặc 094x.666.888</p><br/>
						<p style="text-indent:30px;"><b>* Sim lộc phát - phát tài:</b> ví dụ như số 09x5868686, 0916168168 (nhất lộc phát , nhất lộc phát) số lộc phát là cặp số 68, ngược lại 86 là phát lộc.</p><br/>
						<p style="text-indent:30px;"><b>* Sim lộc phát vĩnh cửu:</b> ví dụ như số 09xxxxx6899, số lộc phát là cặp số 68, tiếp theo là vĩnh cửu 99</p><br/>
						<p style="text-indent:30px;"><b>* Sim năm sinh:</b> ví dụ một người sinh ngày 11 tháng 7 năm 1987 có thể đặt mua sim 012x1171987, để ý thấy rằng 6 số cuối của sim là 11.7.1987</p><br/>
						<p style="text-indent:30px;"><b>* Sim thần tài - ông địa:</b> ví dụ như số 097.368.79.79, 091.353.79.79, 0979797979</p><br/>
						<p style="text-indent:30px;"><b>* Sim taxi:</b> ví dụ như số 091x.86.86.86, đặc biệt như số 09.19.19.19.19 có tên gọi này là vì các hãng taxi thường dùng</p><br/>
						<p style="text-indent:30px;"><b>* Sim tiến:</b> ví dụ như số 0126x.70.71.72 hoặc 09x.3456789 cả cụm số sau theo thứ tự tăng dần, nên được gọi là tiến người nhà giàu và đại gia thừơng rất chuộng những sim như thế này vì theo quan niệm là cuộc sống, công danh, sự nghiệp tiến mãi không ngừng.</p><br/>
						<p style="text-indent:30px;"><b>* Sim kép 2 - Kép 3 - Kép 4:</b> ví dụ như số 0933778899 và dạng độc đáo như số 0944556677</p><br/>
						<p style="text-indent:30px;"><b>* Sim gánh đảo:</b> ví dụ như số 0126866.6886</p><br/>
						<p style="text-indent:30px;"><b>* Sim lặp:</b> ví dụ 0909.12.66.12</p><br/>
						<p style="text-indent:30px;"><b>* Sim dể nhớ độc đáo:</b> là các sim có số đứng chung với nhau có thể dể nhìn dể đọc.</p><br/>
						<p style="text-indent:30px;">Sự phân loại là tương đối, một số có thể ở vài loại khác nhau do tính đặc biệt của nó. Nói chung số đẹp thường là những số dễ nhớ vì tính quy luật của chúng (sim tiến, sim taxi) hoặc gắn chặt với thông tin cá nhân của người dùng (sim năm sinh).</p><br/>
						<p style="text-indent:30px;">Trong khi tồn tại số đẹp thì ngược lại cũng có những sim bị coi là xấu chẳng hạn như số 13 theo quan niệm của phương Tây là số đen đủi, còn cặp 78 thì lại bị gán cho cái tên thất bát, ngoài ra những số khó đọc khó nhớ cũng bị xếp vào dạng này. Điều này gây ra tình trạng trái chiều, sim đẹp thì dễ bán còn sim xấu thì lại ế hàng, và là một trong các nguyên nhân gây "cháy số" ở các hãng di động.</p><br/>
					</div>
					<span metal:use-macro="macros.xhtml/MenuXemThem"/>  
					<br/>
			</div>
			
			<div id="main3_of3">
				<span metal:use-macro="macros.xhtml/Main3of3"/>  
				<div style="border: 1px solid #999; height: 240px;">
					<img width="190" height="240" border="0" src="../Template/images/imgInoxTinta.gif" alt="Inox Tinta" />
				</div>
			</div>
			<div class="vide"></div>
		</div>
		<div id="line"></div>
		<div metal:use-macro="macros.xhtml/Footer"/>	
		<div class="vide"></div>	
	</div>
</body>
</html>