<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Sim Số Đẹp</title>
	<link  rel="stylesheet" type="text/css" href="../Template/css/main2.css"/>
</head>
<body>
	<div id="frame">
		<div id="header"></div>
			<span metal:use-macro="macros.xhtml/MenuGioithieu"/>
		<div id="main">
			<div id="main3_of1">
				<span metal:use-macro="macros.xhtml/Main3of1"/>
				<div style="margin-top: 10px; border: 1px solid #999; height: 180px;">quang cáo</div>
			</div>
			<div id="main3_of2">
					<div id="tieude_main">Bí ẩn các con số!</div>
					<div align="justify" style="margin-bottom: 1440px; padding: 0 20px 0 20px;">
						<p style="text-indent:30px;"><i>Các con số không chỉ đơn thuần là những chữ số vô hồn, là khoa học và tính toán mà chúng còn tiết lộ một phần tính cách, tương lai, nghề nghiệp, sức khỏe của bạn…</i></p>
						<p style="text-indent:30px;">Đầu tiên, mời mọi người hãy cùng khám phá bí ẩn ngày sinh của mỗi chúng ta nhé, chỉ ngày sinh thôi (không tính đến tháng và năm sinh).Bắt đầu! </p>
						<p><b>Số 1. Dành cho những bạn có ngày sinh vào các ngày: 1, 10, 19 và 28</b></p>
						<p style="text-indent:30px;">- Tính cách: Sáng tạo, mạnh mẽ, bướng bỉnh, kiên định, tham vọng, quan điểm rõ ràng, không thích sự gò bó, thành công trong nghề nghiệp, có tài lãnh đạo.</p>
						<p style="text-indent:30px;">- Màu sắc may mắn: màu vàng và màu đồng.</p>
						<p style="text-indent:30px;">- Ngày may mắn: Chủ nhật và thứ hai.</p>
						<p style="text-indent:30px;">- Đá quý may mắn: đá topaz, hổ phách và kim cương vàng. </p>
						<p><b>Số 2: Dành cho những bạn có ngày sinh vào các ngày: 2, 11, 20 và 29 </b></p>
						<p style="text-indent:30px;">- Tính cách: Giàu trí tưởng tượng, có óc nghệ thuật và lãng mạn, dịu dàng và giản dị, có tinh thần hợp tác và thân thiện, quá nhạy cảm, thiếu sự tự tin, dễ nản lòng, có tài ngoại giao, dễ thích nghi.</p>
						<p style="text-indent:30px;">- Màu sắc may mắn: xanh lá cây, màu kem và trắng.</p>
						<p style="text-indent:30px;">- Ngày may mắn: Chủ nhật, thứ hai và thứ sáu.</p>
						<p style="text-indent:30px;">- Đá quý may mắn: ngọc trai, ngọc bích và đá mặt trăng.</p>
						<p><b>Số 3: Dành cho những bạn có ngày sinh vào các ngày: 3, 12, 21 và 30</b></p>
						<p style="text-indent:30px;">- Tính cách: Tham vọng, độc lập, độc tài, tham quyền lực, chu đáo, luôn vui vẻ, lạc quan, có óc sáng tạo và nghệ thuật, thông minh, tháo vát.</p>
						<p style="text-indent:30px;">- Màu sắc may mắn: màu tím.</p>
						<p style="text-indent:30px;">- Ngày may mắn: thứ ba, thứ năm và thứ sáu.</p>
						<p style="text-indent:30px;">- Đá quý may mắn : thạch anh tím.</p>
						<p><b>Số 4: Dành cho những bạn có ngày sinh vào các ngày: 4, 13, 22 và 31</b></p>
						<p style="text-indent:30px;">- Tính cách: Cẩn trọng, cứng đầu và kiên quyết, rất thực tế, chăm chỉ và có tinh thần trách nhiệm, thích sự ngăn nắp, có hệ thống, chân thành, luôn hướng về khoa học.</p>
						<p style="text-indent:30px;">- Màu sắc may mắn: xanh dương và xám.</p>
						<p style="text-indent:30px;">- Ngày may mắn : thứ bảy, chủ nhật và thứ hai.</p>
						<p style="text-indent:30px;">- Đá quý may mắn: sa-phia</p>
						<p><b>Số 5: Dành cho những bạn có ngày sinh vào các ngày: 5, 14 và 23</b></p>
						<p style="text-indent:30px;">- Tính cách: Thân thiện, bốc đồng, đầy nghị lực, thông minh, dễ nổi cáu, suy nghĩ và quyết định mau lẹ, thích sự tự do và các trò tiêu khiển.</p>
						<p style="text-indent:30px;">- Màu sắc may mắn: xám, trắng và màu nhạt</p>
						<p style="text-indent:30px;">- Ngày may mắn: thứ tư và thứ sáu</p>
						<p style="text-indent:30px;">- Đá quý may mắn: kim cương, bạch kim và bạc</p>
						<p><b>Số 6: Dành cho những bạn có ngày sinh vào các ngày: 6, 15 và 24 </b></p>
						<p style="text-indent:30px;">- Tính cách: Thân thiện và hào phóng, kiên định, có tinh thần trách nhiệm và ngay thẳng, lương thiện và thích sự công bằng, trung thành và đáng tin cậy, có quan điểm rõ ràng.</p>
						<p style="text-indent:30px;">- Màu sắc may mắn: xanh dương và hồng</p>
						<p style="text-indent:30px;">- Ngày may mắn: thứ ba, thứ năm và thứ sáu</p>
						<p style="text-indent:30px;">- Đá quý may mắn: ngọc lam và ngọc lục bảo</p>
						<p><b>Số 7: Dành cho những bạn có ngày sinh vào các ngày: 7, 16 và 25</b></p>
						<p style="text-indent:30px;">- Tính cách: Độc lập, có óc phân tích và luôn suy về nguồn gốc, thích du lịch và sự đổi mới, hay mơ mộng và hơi thần bí, có phẩm cách và khả năng thấu hiểu, có kiến thức rộng và quan sát tốt, duyên dáng và có sức quyến rũ, có tâm hồn nghệ thuật.</p>
						<p style="text-indent:30px;">- Màu sắc may mắn: xanh lá cây, trắng và vàng</p>
						<p style="text-indent:30px;">- Ngày may mắn: Chủ nhật và thứ hai</p>
						<p style="text-indent:30px;">- Đá quý may mắn: đá mắt mèo và ngọc trai</p>
						<p><b>Số 8: Dành cho những bạn có ngày sinh vào các ngày: 8, 17 và 26 </b></p>
						<p style="text-indent:30px;">- Tính cách: Thích suy luận, ương ngạnh, kiên cường, có tinh thần hy sinh, sâu sắc và cảm xúc luôn mãnh liệt, hay ghen tị và có tham vọng, cuồng tín, có quyền lực.</p>
						<p style="text-indent:30px;">– Màu sắc may mắn : xám, đen, xanh đậm và màu tím (hoa sim) </p>
						<p style="text-indent:30px;">– Ngày may mắn : thứ ba, thứ năm và thứ sáu.</p>
						<p style="text-indent:30px;">– Đá quý may mắn: thạch anh tím, ngọc trai đen và sa-phia đen </p>
						<p><b>Số 9: Dành cho những bạn có ngày sinh vào các ngày: 9, 18 và 27</b></p>
						<p style="text-indent:30px;">- Tính cách: Hấp tấp, can đảm, ý chí mạnh mẽ, kiên định, khoáng đạt, nóng tính, vị tha và dễ thông cảm.</p>
						<p style="text-indent:30px;">– Màu sắc may mắn: đỏ thẫm, đỏ và hồng</p>
						<p style="text-indent:30px;">– Ngày may mắn: thứ ba, thứ năm và thứ sáu</p>
						<p style="text-indent:30px;">– Đá quý may mắn: ruby và ngọc hồng lựu</p>
						<br/>
					</div>
					<span metal:use-macro="macros.xhtml/MenuXemThem"/>  
					<br/>
			</div>
			<div id="main3_of3">
				<span metal:use-macro="macros.xhtml/Main3of3Admin"/>  
				<div style="border: 1px solid #999; height: 240px;">
					<img width="190" height="240" border="0" src="../Template/images/imgInoxTinta.gif" alt="Inox Tinta" />
				</div>
			</div>
			<div class="vide"></div>
		</div>
		<div id="line"></div>
		<div metal:use-macro="macros.xhtml/Footer"/>	
		<div class="vide"></div>
	</div>
</body>
</html>