/*#container{
	display:block;
	width:20%;
	max-height:100%;
	position:relative;
	top:0px;
	right:2px;
	font-family:Arial, Helvetica, sans-serif;
}/*************chuan bi thao bo**************/
#playblock{
	background: transparent;
	margin:0px auto;
	max-width: 450px;
	padding: 90px 50px 0px 50px;
	height:100%;
}

.PopupPanel{
	background:url("../../images/bg_trans.png") transparent;
	width:525px;
	height:300px;
	position:absolute;
	display:none;
}

.BoxPopupId{
	text-align:center;
	color:#fff;
	font-size:25px;
	font-family:Arial, "Time New Roman", sans-serif;
	position:relative;
	top:3px;
}

.BoxPopupPanelPicture{
	width:128px;
	height:128px;
	margin:auto;
}

.BoxPopupPanelName{
	padding:3px;
	text-align:center;
	color:#fff;
	font-family:Arial, "Time New Roman", sans-serif;
	font-size:16px;
	font-weight:bold;
	
}

.BoxPopupPanelPrice{
	color:#fff;
	text-align:center;
	font-size:16px;
	font-family:Arial, "Time New Roman", sans-serif;
}

.BoxCourse{
	border:1px solid #777;
	background:#cdcdcd url("images/app/bg_icon_menu.jpg") repeat-x;
	width:94%;
	height:20px;
	margin-left:2%;
	margin-bottom:2%;
	float:left;
	padding:0.2%;
	cursor:pointer;
	text-align:center;
	font-family: "Arial", "Time New Roman", "sans-serif";
}

.BoxCourseHover{
	background: #4d90fe;
	font-weight:bold;
	color:#fff;
}

.BoxCourseShortName{
	display:block;
	padding-top:0px;
	padding-bottom:2px;
	font-size:14px;
	font-family: "Arial", "Time New Roman", "sans-serif";
}

.ButtonMinus{
	position:absolute;
	top:90px;
	left:20px;
}

.ButtonPlus{
	position:absolute;
	top:90px;
	right:20px;
}