table{
	border-collapse:collapse;
	margin:10px auto;
}

table#title_info{
	background:#4d90fe;
	color:#fff;
	position:absolute;
	top:126px;
	left:48px;
}

div#line{
	background:#45b6f5;
	height:5px;
}

.sub_title{
	font-size:18px;
	position:absolute;
	top:92px;
	left:8px;
}

div#Display{
	width:794px;
	height:auto;
	margin:auto;
	padding:10px;
	border:1px solid #4d90fe;
	position:absolute;
	top:60px;
	left:15px;
	right:60px;
}

.icon_button_header{
	position:absolute;
	top:88px;
	right:13px;
}

.icon_button_header2{
	position:absolute;
	top:88px;
	right:270px;
}

.icon_button_table{
	display:block;
	background:#f00;
	position:relative;
	top:0px;
	right:-45px;
}
.table_n a {
	border: 1px solid #999;
	float:left;
	padding: 20px 10px 10px 12px;
	margin: 5px;
	width: 60px;
	height: 40px;
	background: url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	color: #222222;
	font-size: 14px;
	text-decoration: none;
}
.table_n a:hover {
	border: 1px solid #999;
	float:left;
	padding: 20px 10px 10px 12px;
	margin: 5px;
	width: 60px;
	height: 40px;
	background: url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
	color: blue;
	font-size: 15px;
	text-decoration: underline;
}