<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<span metal:use-macro="mAdmin.xhtml/Menu"/>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>STT</th>
										<th />
										<th>DANH MỤC</th>
										<th>VIDEO</th>
										<th>XÓA</th>
									</tr>
								</thead>
								<tbody>
									<tr class="content-rows" tal:repeat="Category CategoryAll">
										<td width="32" align="center">
											<div tal:content="repeat/Category/number" />
										</td>
										<td width="32" align="center">
											<span tal:condition="Category/isVIP" class="icon-star"/>												
										</td>
										<td>
											<a tal:attributes="href Category/getURLUpdLoad">
												<div tal:content="Category/getNameReduce2" />
											</a>
										</td>
										<td>
											<a tal:attributes="href Category/getURLVideo">
												<div>
													<span tal:content="Category/getBTypeName" />
													(<span tal:content="Category/getVLs/count" />)
												</div>
											</a>
										</td>
										<td width="32">
											<a tal:attributes="href Category/getURLDelLoad">
												<span class="icon-remove" />
											</a>
										</td>
									</tr>
								</tbody>
								<tfoot>																		
									<td colspan="5" align="center">
										<a class="btn" href="/app/category/video/ins/load">
											<span class="icon-plus" /> Thêm mới
										</a>
										<a class="btn" href="/app/video/update/all">
											<span class="icon-edit" /> Cập nhật video
										</a>
									</td>									
								</tfoot>
							</table>
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>