<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/HeaderAdmin" />
			<div id="main">
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="box-editor">
					<div class="box-title">
						<img src="/data/images/icon.png" width="30" />
						<span tal:content="Title" />
						<a href="/app/category/ask">&#8629; Trở lại</a>
					</div>
					<div class="box-editor-left">
						<form class="form-editor" id="FormAppCategoryDelLoad" tal:attributes="action Category/getURLDelExe" method="post">
							<div class="row">
								<h3>Bạn có chắc chắn muốn xóa danh mục hỏi đáp này hay không ?</h3>
							</div>							
							<div class="row">
								<div class="button" >
									<button type="submit" name="submit" value="submit-value">Xóa</button>
								</div>
							</div>
						</form>
					</div>
					<div class="box-editor-right">
						
					</div>
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>