<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">

			<div metal:use-macro="macros.xhtml/HeaderAdmin" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="box-editor">
					<div class="box-title">
						<img src="/data/images/icon.png" width="30" />
						<span tal:content="Title" />
						<a tal:attributes="href Monk/getURLVideo">&#8629; Trở lại</a>
					</div>
					<div class="box-editor-left">
						<form class="form-editor" id="FormAppMonkVideoInsLoad" tal:attributes="action Monk/getURLVideoInsExe" method="post">
							<div class="row">
								<div for="Name" class="label">Tên</div>
								<div class="textbox" >
									<input id="Name" name="Name" type="text" />
								</div>
								<div class="clear" />
							</div>							
							<div class="row">
								<div for="URL" class="label">URL nhúng</div>
								<div class="textbox" >
									<input id="URL" name="URL" type="text" class="form-textbox" />
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Note" class="label">Ghi chú</div>
								<div class="textbox" >
									<input id="Note" name="Note" type="text" class="form-textbox" />
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Count" class="label">Lượt xem</div>
								<div class="textbox" >
									<input id="Count" name="Count" type="text" class="form-textbox" />
								</div>
								<div class="clear" />
							</div>							
							<div class="row">
								<div class="button" >
									<button type="submit" name="submit" value="submit-value">Thêm mới</button>
								</div>
							</div>
						</form>
					</div>
					<div class="box-editor-right">
						<div style="margin-top:15px;">
							<iframe width="300" height="260" tal:attributes="src '#'" frameborder="0"></iframe>
						</div>
					</div>
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>