<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/HeaderAdmin" />	
			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="box-editor">
					<div class="box-title">
						<img src="/data/images/icon.png" width="30" />
						<span tal:content="Title" />
						<a href="/app/monk">&#8629; Trở lại</a>
					</div>
					<div class="box-editor-left">
						<form class="form-editor" id="FormAppCategoryInsLoad" tal:attributes="action Monk/getURLUpdExe" method="post">
							<div class="row">
								<div for="PreName" class="label">Chức sắc</div>
								<div class="textbox" >
									<input id="PreName" name="PreName" type="text" tal:attributes="value Monk/getPreName" />
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Type" class="label">Loại</div>
								<div class="checkbox" >
									<input id="Type" type="checkbox" name="Type" tal:attributes="checked Monk/getType" /> Đặc biệt
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="BType" class="label">Tông phái</div>
								<div class="textbox" >
									<select name="BType">
										<option tal:repeat="Category CategoriesBType" tal:attributes="value Category/getId;selected php:Category->getId()==Monk->getBType()?true:false" >
											<span tal:content="Category/getName"/>
										</option>
									</select>
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Name" class="label">Tên</div>
								<div class="textbox" >
									<input id="Name" name="Name" type="text" tal:attributes="value Monk/getName" />
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Pagoda" class="label">Chùa</div>
								<div class="textbox" >
									<input id="Pagoda" name="Pagoda" type="text" tal:attributes="value Monk/getPagoda" />
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Phone" class="label">Điện thoại</div>
								<div class="textbox" >
									<input id="Phone" name="Phone" type="text" tal:attributes="value Monk/getPhone" />
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div for="Note" class="label">Ghi chú</div>
								<div class="textbox" >
									<input id="Note" name="Note" type="text" tal:attributes="value Monk/getNote" />
								</div>
								<div class="clear" />
							</div>
							<div class="row">
								<div class="button" >
									<button type="submit" name="submit" value="submit-value">Cập Nhật</button>
								</div>
							</div>
						</form>
					</div>
					<div class="box-editor-right">
						
					</div>
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>