<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/jquery-ui-1.8.11.custom.css" /> 
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/jquery-ui-timepicker-addon.css" />
		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-1.8.11.custom.min.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-addon.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.ui.datepicker-vi.js" />
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-vi.js" />
		
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/ckeditor/ckeditor.js"/>
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function() {$('#Date').datetimepicker({ dateFormat: 'yy-mm-dd' });});
			/*]]>*/
		</script>
		
	</head>	
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="span3" />
				<div class="span9 main">
					<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
					<form class="form-horizontal" tal:attributes="action News/getURLUpdExe" method="post">						
						<div class="control-group">
							<label class="control-label" for="Title">Tiêu đề</label>
							<div class="controls">
								<input type="text" id="Title" name="Title" placeholder="Name" tal:attributes="value News/getTitle" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Type">Loại tin</label>
							<div class="controls">									
								 <input type="checkbox" id="Type" name="Type" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Date">Thời gian</label>
							<div class="controls">
								<input type="text" id="Date" name="Date" placeholder="Thời gian" tal:attributes="value News/getDate" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Author">Tác giả</label>
							<div class="controls">
								<input type="text" id="Author" name="Author" placeholder="Tác giả" tal:attributes="value News/getAuthor" />
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="Author">Nội dung</label>
							<div class="controls">
								<textarea id="Content" class="ckeditor" name="Content" placeholder="Nội dung" tal:content="News/getContent" />
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn" value="submit-value">Cập nhật</button>
							</div>
						</div>
					</form>
				</div>				
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>