<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/jquery-ui-1.8.11.custom.css"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/jquery-ui-timepicker-addon.css"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-1.8.11.custom.min.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-addon.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery.ui.datepicker-vi.js"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-ui-timepicker-vi.js"/>
		<script type="text/javascript">
			/*<![CDATA[*/
			$(function() {$('#Date').datetimepicker({ dateFormat: 'yy-mm-dd' });});
			/*]]>*/
		</script>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						
					</div>
					<div class="span9 main">
						<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
						<form class="form-horizontal" tal:attributes="action Category/getURLPaidInsExe" method="post">
							<div class="control-group">
								<label class="control-label" for="IdCategory">Loại chi</label>
								<div class="controls">
									<select id="IdCategory" name="IdCategory">
										<option tal:repeat="Category1 CategoriesPaid" tal:attributes="value Category1/getId">
											<span tal:content="Category1/getName" />
										</option>
									</select>
								</div>														
							</div>						
							<div class="control-group">
								<label class="control-label" for="Date">Thời gian</label>
								<div class="controls">
									<input id="Date" name="Date" type="text" />
								</div>														
							</div>
							<div class="control-group">
								<label class="control-label" for="Description">Mô tả</label>
								<div class="controls">
									<input id="Description" name="Description" type="text" />
								</div>														
							</div>
							<div class="control-group">
								<label class="control-label" for="Value">Giá trị</label>
								<div class="controls">
									<input id="Value" name="Value" type="text" />
								</div>														
							</div>						
							<div class="control-group">
								<div class="controls">
									<button type="submit" class="btn" value="submit-value"><span class="icon-plus"/>Thêm mới</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>