<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<span metal:use-macro="mAdmin.xhtml/Menu"/>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped" >
								<thead>
									<tr>
										<th width="30px">STT</th>
										<th>LỆNH</th>
										<th>TÌNH TRẠNG</th>
										<th>LIÊN KẾT</th>
										<th  width="30px">XÓA</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Popup PopupAll1">
										<td><div tal:content="repeat/Popup/number" /></td>
										<td>
											<a tal:attributes="href Popup/getURLUpdLoad">
												<div tal:content="Popup/getCommand" />
											</a>
										</td>
										<td>
											<span tal:content="Popup/getEnablePrint"/>
										</td>
										<td>
											<span tal:content="Popup/getURL"/>
										</td>
										<td><a tal:attributes="href Popup/getURLDelLoad"><span class="icon-remove"/></a></td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5" align="center">
											<a class="btn" href="/app/popup/ins/load"><span class="icon-plus"/>Thêm mới</a>
										</td>
									</tr>
								</tfoot>
							</table>
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>