<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">DANH MỤC</li>
								<li tal:repeat="Pagoda1 PagodaAll" tal:attributes="class php:Pagoda->getId()==Pagoda1->getId()?'active':'disabled'">
									<a tal:attributes="href Pagoda1/getURLViewVideo">
										<span tal:content="Pagoda1/getName" /> <span class="badge badge-info pull-right" tal:content="Pagoda1/getVPs/count"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>STT</th>
										<th align="left">TIÊU ĐỀ</th>
										<th>XÓA</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="VP VPAll">
										<td>
											<div tal:content="repeat/VP/number" />
										</td>
										<td>
											<a tal:attributes="href VP/getURLUpdLoad">
												<div tal:content="VP/getVideo/getName" />
											</a>
										</td>
										<td width="32" align="center">
											<a tal:attributes="href VP/getURLDelLoad">
												<span class="icon-remove"/>
											</a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="4" align="center">
											<a class="btn" tal:attributes="href Pagoda/getURLVideoInsLoad"><span class="icon-plus"/>Thêm mới</a>
										</td>
									</tr>
								</tfoot>
							</table>
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>							
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>