<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<div class="menu">
							<ul class="nav nav-list">
								<li class="nav-header">DANH MỤC</li>
								<li tal:repeat="Category1 CategoriesPaid" tal:attributes="class php:Category->getId()==Category1->getId()?'active':'disabled'">
									<a tal:attributes="href Category1/getURLView">
										<span tal:content="Category1/getName"/> <span class="badge badge-info pull-right" tal:content="Category1/getPaidAll/count"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="30px">STT</th>
										<th>DIỄN GIẢI</th>
										<th>GIÁ TRỊ</th>
										<th width="30px">XÓA</th>
									</tr>
								</thead>
								<tbody>
									<tr tal:repeat="Paid PaidAll">
										<td>
											<div tal:content="repeat/Paid/number" />
										</td>
										<td>
											<a tal:attributes="href Paid/getURLUpdLoad">
												<div tal:content="Paid/getDescription" />
											</a>
										</td>
										<td>											
											<div tal:content="Paid/getValuePrint" />											
										</td>
										<td>
											<a tal:attributes="href Paid/getURLDelLoad"><span class="icon-remove"/></a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5" align="center">
											<a class="btn" tal:attributes="href Category/getURLPaidInsLoad">
												<span class="icon-plus"/>Thêm mới
											</a>								
										</td>
									</tr>									
								</tfoot>
							</table>
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>