<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<a class="btn btn-primary" tal:attributes="href Profile/getURLUpdateAllExe"><span class="icon-star" /> Cập nhật vào CSDL</a>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th width="32">STT</th>
										<th>TIÊU ĐỀ</th>
										<th width="200">XEM</th>										
									</tr>
								</thead>
								<tbody>									
									<tr class="content-rows" tal:repeat="Post PostAll">										
										<td><div tal:content="php:Post[0]" /></td>
										<td><div tal:content="php:Post[1]" /></td>
										<td><a target="blank" tal:attributes="href php:Post[2]">Xem</a></td>
									</tr>
								</tbody>																			
							</table>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>
	</body>
</html>