<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/HeaderAdmin" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="content">
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span tal:content="Title"/>
							<a href="/app">&#8629; Trở lại</a>
						</div>						
						<div style="padding:10px;">
							<b tal:content="php:@\MVC\Library\Statistic::getCountPrint()"/> truy cập 
							<a href="#">Click vào </a> để thiết lập lại số lần truy cập.
						</div>
						<div class="clear" />
					</div>
				</div>
				
				<div id="sidebar">										
					<div class="sidebar-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span><a href="/app">Admin</a></span>
							<a href="/signout/load">&#8629; Thoát</a>
						</div>
						<div metal:use-macro="macros.xhtml/AdminMenu" />
					</div>
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>