<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="mAdmin.xhtml/IncludeMETA"/>
		<span metal:use-macro="mAdmin.xhtml/IncludeCSS"/>		
		<span metal:use-macro="mAdmin.xhtml/IncludeJS"/>
	</head>
	<body>
		<div class="container-fluid">
			<span metal:use-macro="mAdmin.xhtml/Header"/>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="span3">
						<span metal:use-macro="mAdmin.xhtml/Menu"/>
					</div>
					<div class="span9">
						<div class="content">
							<span metal:use-macro="mAdmin.xhtml/LocationBar"/>
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>STT</th>
										<th align="left">TÊN</th>
										<th align="left">ỦNG HỘ</th>
										<th align="left">KHOẢN CHI</th>
										<th align="left">VIDEO</th>
										<th>XÓA</th>
									</tr>
								</thead>
								<tbody>
									<tr class="content-rows" tal:repeat="Sponsor SponsorAll1">
										<td width="32" align="center">
											<div tal:content="repeat/Sponsor/number" />
										</td>
										<td>
											<a tal:attributes="href Sponsor/getURLUpdLoad">
												<div tal:content="Sponsor/getName" />
											</a>
										</td>
										<td>
											<a tal:attributes="href Sponsor/getURLSetting">
												Ủng hộ (<span tal:content="Sponsor/getPersonAll/count" />)
											</a>
										</td>
										<td>
											<a tal:attributes="href Sponsor/getURLPaid">
												Khoản chi (<span tal:content="Sponsor/getPaidAll/count" />)
											</a>
										</td>
										<td>
											<a tal:attributes="href Sponsor/getURLVideo">
												Video (<span tal:content="Sponsor/getVideoAll/count" />)
											</a>
										</td>
										<td class="text-hightlight" width="32" align="center">
											<a tal:attributes="href Sponsor/getURLDelLoad">
												<span class="icon-remove"/>
											</a>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="6" align="center">
											<a class="btn" href="/app/sponsor/ins/load">
												<span class="icon-plus"/> Thêm mới
											</a>
										</td>
									</tr>
								</tfoot>
							</table>
							<span metal:use-macro="mAdmin.xhtml/PageBar"/>
						</div>
					</div>
				</div>
			</div>
			<span metal:use-macro="mAdmin.xhtml/Footer"/>
		</div>		
	</body>
</html>