<!DOCTYPE html> 
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/bootstrap/css/gate.css"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/library/jquery-1.7.1.min.js"/>
		<script>
		/*<![CDATA[*/
		$(document).ready(function(){
			$(".poe").hide();
			$(".cover-inner").hover(function(){
				$(".top-poe").slideDown();
				$(".bottom-poe").slideDown();
			}, function(){
				$(".top-poe").slideUp();
				$(".bottom-poe").slideUp();
			});
		});
		/*]]>*/
		</script>
	</head>
	
	<body>
		<div class="cover-inner">
			<a href="/trang-chu">
				<img class="move" src="/data/images/logo/buddha.gif"/>
				<p><span class="link">Vào Trang chủ</span></p>
			</a>
		</div>
		
		<div class="poe top-poe"><p>Mỗi giây mỗi phút không rời</p></div>
		<div class="poe bottom-poe"><p>Nhất tâm niệm phật đời đời yên vui!</p></div>
	</body>
</html>