<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
		<link rel="stylesheet" type="text/css" href="/mvc/templates/theme/base/boxright.css"/>
	</head>	
	<body>
		<div id="wrapper">
			<div metal:use-macro="macros.xhtml/Header" />
			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div metal:use-macro="macros.xhtml/TextGo"/>
				<div id="content">																									

					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span>Tiêu điểm</span>							
						</div>
						<div align="center" style="padding:10px;">
							<div class="picture-banner parent" tal:condition="Course">
								<a tal:attributes="href Course/getURLRead">
									<img width="100%" tal:attributes="src Course/getImage"/>
									<div class="child" tal:content="php: 'CLICK XEM ' . Course->getName()"/>
								</a>
							</div>
							<div class="picture-banner parent" tal:condition="not: Course">
								<a>
									<img width="100%" tal:attributes="src string:/data/images/temp.jpg"/>									
								</a>
							</div>
							<div class="list-picture" tal:condition="Course">																
								<div class="grid-left parent" tal:condition="Course/getLessionNear">
									<a tal:attributes="href Course/getLessionNear/getURLRead">
										<img width="280" height="86" tal:attributes="src Course/getLessionNear/getImage" />
									</a>									
									<div style="margin-top:-25px;">
										<h3 style="margin-bottom:5px; color:#FF0000; text-align:left; padding-left:15px; margin-top:30px;">
											LỚP ĐÃ
										</h3>
										<div id="class1Countdown" style="margin-left:5px;" tal:attributes="alt Course/getLessionNear/getDateEnd" />
										<h3 style="position:absolute; right:15px; bottom:5px; color:#FF0000;">
											KẾT THÚC
										</h3>
									</div>
									<script type="text/javascript">
										/*<![CDATA[*/
										$(function() {
											var d1 = $("#class1Countdown").attr('alt');
											var parts = d1.match(/(\d+)/g);										
											var d2 = new Date(parts[0], parts[1]-1, parts[2]); 										
											$('#class1Countdown').countdown({until: d2});											
										});
										/*]]>*/
									</script>
									<div class="child" tal:content="Course/getLessionNear/getName" />
								</div>
								<div class="grid-left parent" tal:condition="not:Course/getLessionNear">									
									<span >
										<img width="280" height="86" tal:attributes="src string:/data/images/temp.jpg" />
									</span>
								</div>
								<div class="grid-right parent" tal:condition="Course/getLessionNext">									
									<a tal:attributes="href Course/getLessionNext/getURLRead">
										<img width="280" height="86" tal:attributes="src Course/getLessionNext/getImage" />
									</a>									
									<div style="margin-top:-25px;" tal:condition="Course/getLessionNext">

										<span tal:condition="Course/getLessionNext">
											<h3 style="margin-bottom:5px; color:#0000FF; text-align:left; padding-left:15px; margin-top:30px;">
												CÒN
											</h3>
											<div id="class2Countdown" style="margin-left:5px;" tal:attributes="alt Course/getLessionNext/getDateStart" />
											<h3 style="position:absolute; right:15px; bottom:5px; color:#0000FF;">
												LỚP BẮT ĐẦU
											</h3>
										</span>
									</div>
									<script type="text/javascript">
										/*<![CDATA[*/
										$(function() {
											var d1 = $("#class2Countdown").attr('alt');											
											var parts = d1.match(/(\d+)/g);											
											var d2 = new Date(parts[0], parts[1]-1, parts[2]);
											$('#class2Countdown').countdown({until: d2});
										});
										/*]]>*/
									</script>
									<div  class="child" tal:content="Course/getLessionNext/getName"/>
								</div>
								
								<div class="clear" />
							</div>
							<div class="list-title">VIDEO NỘI BỘ</div>
							<ul class="list-video">							
								<li tal:repeat="VL VL8">
									<a tal:attributes="href VL/getURLView; title VL/getVideo/getName">
										<img tal:attributes="src VL/getVideo/getURLImage" width="140px" height="110px" />
										<div class="name" tal:content="VL/getVideo/getName" />
									</a>
								</li>
							</ul>														
							<div class="clear" />
						</div>
					</div>

					<div class="news-box" tal:repeat="Category CategoryNewsAll">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span tal:content="Category/getName"/>
						</div>
						<div class="slider">							
							<div class="slider-wrap">
								<ul>
									<li tal:repeat="News Category/getNewsLimit1">
										<img tal:attributes="src News/getImage" width="385" height="300" />
										<a tal:attributes="href News/getURLRead">
											<div tal:content="News/getTitleReduce" />
										</a>
									</li>
								</ul>
							</div>							
						</div>
						<div class="top-list">
							<div class="list-title">TIN MỚI CẬP NHẬT</div>							
							<ul>
								<a tal:repeat="News Category/getNewsLimit1" tal:attributes="href News/getURLRead">
									<li tal:content="News/getTitleReduce" />
								</a>
							</ul>							
						</div>
						<div class="clear" />
					</div>
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span>Bài giảng mới nhất</span>
						</div>
						<div align="center" style="padding:10px;">
							<ul class="list-video">
								<li tal:repeat="VM VM24">
									<a tal:attributes="href VM/getURLView; title VM/getVideo/getName">
										<img tal:attributes="src VM/getVideo/getURLImage" width="140px" height="110px" />
										<div class="monk" tal:content="VM/getMonk/getName" />
										<div class="name" tal:content="VM/getVideo/getName" />
									</a>
								</li>								
							</ul>
							<div class="clear" />
						</div>
					</div>
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span>Chuyên đề mới nhất</span>
						</div>
						<div align="center" style="padding:10px;">
							<ul class="list-video">
								<li tal:repeat="VL VL24">
									<a tal:attributes="href VL/getURLView; title VL/getVideo/getName">
										<img tal:attributes="src VL/getVideo/getURLImage" width="140px" height="110px" />
										<div class="monk" tal:content="VL/getCategory/getName" />
										<div class="name" tal:content="VL/getVideo/getName" />
									</a>
								</li>
							</ul>
							<div class="clear" />
						</div>
					</div>
				</div>				
				<div id="sidebar">
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/TopPictureBox"/>
					<div metal:use-macro="macros.xhtml/NorthBox"/>
					<div metal:use-macro="macros.xhtml/SouthBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/TopVideoBox"/>					
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/CountBox"/>					
					<div metal:use-macro="macros.xhtml/SponsorBox"/>
					<div metal:use-macro="macros.xhtml/BoxAds"/>
					<div metal:use-macro="macros.xhtml/ContactBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
				</div>				
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>