<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="content">
					<div class="history-box">
						<div class="history-top">
							<h2 align="center">CHÙA KHẢI TƯỜNG VÙNG SÂU GẮN LIỀN VỚI </h2>
							<h4 align="center">SẮC TỨ "QUỐC ÂN KHẢI TƯỜNG TỰ" CẦN PHẢI ĐƯỢC QUAN TÂM</h4>
						</div>
						<div class="history-mid">
							<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr>
								<td width="50%">
									<p align="left"><img src="/data/images/history/4_1.jpg" width="98%" /></p>
									<p style="font-size:12px;" align="center"><i>Thầy Nhuận Tâm trước chùa Khải Tường</i></p><br/>
								</td>
								<td width="50%" style="text-indent:20px; font-size:12px; line-height:15px;">
									<p align="justify">Quyền công nhận cấp sổ đỏ trên đất đình là 1.109m<sup>2</sup></p>
									<p align="justify">Bởi vậy dân gian có câu "ông Phật ở đậu đất ông Thần", qua bao nỗi thăng trầm trên 200 năm, ngôi chùa mang tên Khải Tường gắn liền với lịch sử văn hóa Việt Nam vẫn tồn tại và hoằng dương Chánh pháp ở vùng sông nước Tiền Giang xa xôi hẻo lánh, ít người biết đến. Rất mong sự quan tâm của quý Hòa thượng, Thượng tọa và chư tôn thiền đức Tăng Ni và Phật tử gần xa viếng thăm, trợ duyên giúp đỡ...</p><br/>
									<b><p align="center">Vui lòng liên hệ với thầy</p>
									<p align="center">Thích Nhuận Tâm, Trụ trì chùa Khải Tường</p>
									<p align="center">ĐT: 0773.600.943 - DĐ: 0918.852.102</p></b>
									<br/>
								</td>
							</tr></table>
							<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr>
								<td width="60%" style="text-indent:20px; font-size:12px; line-height:15px;">
									<p align="justify">Vào năm 1725 - 1821, Thiền sư Phật Ý Linh Nhạc theo di dân đến thôn Tân Lộc (nay thuộc khu chợ Đũi, quận 3, TP.HCM) lập hai thảo am và sau đó trở thành: chùa Từ Ân và chùa Khải Tường. Hai chùa này là nơi trú ngụ của vua quan Nguyễn Ánh khi bị quân Tây Sơn - Nguyễn Huệ đuổi đánh, lúc đó vào tháng 4/1791, Vương phi họ Trần hạ sinh Hoàng tử Nguyễn Phước Đảm tại chùa Khải Tường. Về sau, Hoàng tử Đảm lên ngôi lấy hiệu là Minh Mạng và nhớ cội nguồn nên vua đã sắc tứ cho hai chùa ở Gia Định: chùa Khải Tường (chùa trước) là Quốc Ân Khải Tường Tự là nơi đức vua sinh ra và trụ trì là Thiền sư Thiệt Thành Liễu Đạt (sau phong Hòa thượng Liên Hoa), chùa Từ Ân (chùa sau) cũng được phong sắc tứ.</p><br/>
									<p align="justify">Năm 1860, Quốc Ân Khải Tường Tự bị giặc chiếm đóng và thu giữ tượng thờ quý giá (sau này Viện bảo tàng TP.HCM đang trưng bày; địa điểm chùa nay thuộc khu vực Trường Lê Quý Đôn và Bảo tàng Chứng tích chiến tranh), chùa Từ Ân dời về Tân Hóa (Quận 11), còn một số tượng Phật như Chuẩn Đề, tượng Giám Trai, Thập Điện, Địa Tạng, Thích Ca Đản Sanh,... đem về Cái Thia, Mỹ Tho, tỉnh Tiền Giang và được các chư Tăng là đệ tử chùa Khải Tường, chùa Từ Ân thành lập chùa Khải Tường tại Cái Thia vào năm 1862. Lúc đó, quý chư Tăng đã đúc tượng Phật A Di Đà bằng đồng nặng 1 - 1.5 tấn. Năm 1945, thực dân Pháp đến chiếm chùa và sử dụng tượng Phật Di Đà làm túc đạn nhưng không thành công nên ban Hương lễ của đình Ông Lữ đến thỉnh Phật về thờ tại đình thuộc ấp Phú Mỹ, xã Mỹ Đức Đông, huyện Cái Bè, tỉnh Tiến Giang. Năm 1948, chùa Khải Tường được dời về xây dựng trên đất đình cùng với một số di tích tượng Phật cổ có nguồn gốc từ Sắc tứ Quốc Ân Khải Tường.</p><br/>
									<p align="justify">Trải qua nhiều đời trụ trì, Đại dức Thích Nhuận Tâm (thế danh Lê Ngọc Em) được Ban Trị sự Tỉnh hội Tiền Giang bổ nhiệm Trụ trì chùa Khải Tường vào 12/1/2009. Thầy Nhuận Tâm đang từng bước sửa chữa chánh điện đã xây lâu đời thành mới trong thời gian tới (chiều dài 30m, chiều ngang 12m) và đã thành lập Phòng thuốc Nam từ thiện (tương lai trở thành Văn phòng thuốc Nam từ thiện Hội Chữ thập đỏ huyện Cái Bè).</p><br/>
								</td>
								<td width="40%">
									<p align="right"><img src="/data/images/history/4_2.jpg" width="97%" /></p>
									<p style="font-size:12px;" align="center"><i>Phật tử về tu tập</i></p><br/><br/>
									<p align="right"><img src="/data/images/history/4_3.jpg" width="97%" /></p>
									<p style="font-size:12px;" align="center"><i>Phòng thuốc Nam từ thiện</i></p><br/><br/>
									<p align="right"><img src="/data/images/history/4_4.jpg" width="97%" /></p>
									<p style="font-size:12px;" align="center"><i>Thông bạch sơ lược chùa Khải Tường</i></p><br/><br/>
								</td>
							</tr></table>
						</div>
						<div class="history-bot">
							<b><h3 align="right">Thích Nhuận Tâm, Trụ trì chùa Khải Tường</h3>
							<p align="right">ĐT: 0773.600.943 - DĐ: 0918.852.102</p></b>
						</div>
						<div class="news-box-sub-title">Bài giới thiệu khác</div>
						<ul class="news-box-list">
							<li><a href="/intro/0">Chùa Khải Tường</a></li>
							<li><a href="/intro/1">Số phận long đong của ngôi chùa Hoàng Tộc</a></li>
							<li><a href="/intro/2">Ngôi chùa nơi vua Minh Mạng chào đời</a></li>
							<li><a href="/intro/3">Một trăm ngày niệm Phật</a></li>
							<li><a href="/intro/4">Chùa Khải Tường ... sắc tứ "QUỐC ÂN KHẢI TƯỜNG TỰ" cần được quan tâm</a></li>
						</ul>
						<br/>
					</div>
				</div>				
				<div id="sidebar">
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/TopPictureBox"/>
					<div metal:use-macro="macros.xhtml/NorthBox"/>
					<div metal:use-macro="macros.xhtml/SouthBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/TopVideoBox"/>					
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/CountBox"/>					
					<div metal:use-macro="macros.xhtml/SponsorBox"/>
					<div metal:use-macro="macros.xhtml/ContactBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
					
				</div>				
				<div class="clear"/>
			</div>

			<div metal:use-macro="macros.xhtml/Footer" />

		</div>
	</body>
</html>