<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="history-box">
						<div class="history-top">
							<h4 align="center">Số phận long đong của "ngôi chùa hoàng tộc" miền Tây</h4>
						</div>
						<div class="history-mid">
							<p align="justify"><small>Ngôi chùa Sắc tứ Khải Tường ở vùng đất Mỹ Phú, xã Mỹ Đức Đông, huyện Cái Bè, tỉnh Tiền Giang nằm trong số những di tích quý hiếm đang phải "ở đậu" đất Đình Ông Lữ. Điều đặc biệt nhất ít ai biết đến đó là nơi vương phi Nguyễn Ánh đã hạ sinh hoàng tử Nguyễn Phước Đảm, sau này lên ngôi lấy vương hiệu là vua Minh Mạng.</small></p>
							<p align="center">________________</p><br/>
							<h4 align="center">Nơi chôn rau cắt rốn của vua Minh Mạng</h4><br/>
							<p align="justify">Theo Trụ trì chùa Sắc tứ Khải Tường hiện nay, Thích Nhuận Tâm thì: Thiền sư Phật Ý Linh Nhạc (1725-1821) theo di dân đến thôn Tân Lộc (nay thuộc khu chợ Đũi, quận 3, TPHCM) lập thảo am, sau này trở thành chùa Từ Ân. Thảo am gần đó cũng được tái thiết thành chùa Khải Tường (nay thuộc khu vực trường Lê Quý Đôn và Bảo tàng Chứng tích chiến tranh). Hai ngôi chùa được đông đảo Phật tử yêu mến và sùng bái vì đức độ của trụ trì.</p><br/>
							<p align="center"><img src="/data/images/history/1_1.jpg" /></p>
							<p align="center"><i>Quốc ân Khải tường tự và trụ trì Thích Nhuận Tâm</i></p><br/>
							<p align="justify">Tiếng lành đồn xa, khi tàn quân Nguyễn Ánh bị quân Tây Sơn - Nguyễn Huệ đuổi đánh, chạy đến Gia Định thành thì được lệnh dừng chân trú ngụ tại hai chùa Từ Ân và Khải Tường. Vua quan nhà Nguyễn trú tại chùa Từ Ân còn các phi tử ở tạm trong hậu liêu chùa Khải Tường. Đồng thời, Nguyễn Ánh điều động quân lính đắp thành Gia Định theo kiểu bát quái (có tám cửa) vào năm 1790.</p><br/>
							<p align="justify">Cũng theo những sử liệu còn lưu giữ tại chùa, Trụ trì chùa Từ Ân lúc đó là thiền sư Phật Ý - Linh Nhạc, trụ trì chùa Khải Tường là thiền sư Thiệt Thành Liễu Đạt (sau phong là Hòa thượng Liên Hoa) ra sức phù trợ cho Nguyễn Ánh cũng như chăm lo cho cuộc sống của hậu cung nhà Nguyễn.</p><br/>
							<p align="justify">Tháng 4/1791, Vương phi họ Trần hạ sinh hoàng tử Nguyễn Phước Đảm (về sau lên ngôi lấy vương hiệu Minh Mạng) tại hậu liêu chùa Khải Tường. Chẳng hiểu sự ra đời của hoàng tử Đảm có mang lại sức mạnh tinh thần cho quan quân nhà Nguyễn Ánh hay không, nhưng từ đó, quân nhà Nguyễn đánh tới đâu thắng trận đến đó. Và sau này, Nguyễn Ánh cũng đã chọn hoàng tử Đảm kế nghiệp.</p><br/>
							<p align="justify">Khi Hoàng tử Đảm lên ngôi, lấy hiệu là Minh Mạng, Tân hoàng đế nhớ lại ơn xưa sắc tứ cho hai chùa ở Gia Định: Quốc ân Khải Tường tự (nơi vua sinh ra) và Sắc tứ Từ Ân. Vua Minh Mạng cho trùng tu chùa Quốc Ân Khải Tường, xây dựng hành cung ở trước chùa để thăm viếng nơi chôn nhau cắt rốn.</p><br/>
							<p align="justify">Theo Biên niên sử Phật giáo Sài Gòn TPHCM có viết: Năm Minh Mạng thứ 13 (1832) Vua ra chỉ dụ rằng: "Lân Tân Lộc ở hai bên hữu thành Gia Định, lúc Hoàng Thái hậu theo hầu Thế tổ Cao Hoàng đế ta đi tuần ở phương nam - tức chạy loạn Tây Sơn - xa giá từng dừng ở đất này. Có điềm "cầu vồng sa xuống bến Hoa". Nhờ đất quý phát điềm lành, cho nên phải xây dựng thắng tích lưu lại lâu dài cho đời sau". Vua Minh Mạng bèn lấy của kho 300 lạng bạc, giao cho quan địa phương, theo cách thức đã định của Bộ Công, gọi thợ xây dựng.</p><br/>
							<p align="justify">Công việc thổ mộc nhanh chóng hoàn tất và ngôi chùa được vua ban danh hiệu chính thức là Quốc Ân Khải Tường tự. Vua Minh Mạng lại chọn một cao tăng lúc bấy giờ là Tế Tín hiệu Chánh Trực hòa thượng làm trụ trì (đệ tử của hòa thượng Liên Hoa trụ trì Sắc tứ Từ Ân tự) và 18 tăng chúng lo quét dọn, kinh kệ hằng ngày. Cũng theo sách này cho biết:  Cấp cho hòa thượng Chánh Trực 20 mẫu ruộng, miễn thuế để chư tăng tự canh tác, lấy huê lợi thực hiện phật sự vua giao.</p><br/>
							<p align="justify">Dù nhiều tài liệu cho rằng nguồn gốc của ngôi chùa có những điểm khác biệt nhưng tất cả đều giống nhau ở một điểm: Thể hiện tấm lòng hướng về nguồn cội của vua Minh Mạng. Điều này được các nhà sư cùng thời và nhân dân đánh giá là hành động mang đậm truyền thống dân tộc.</p><br/>
							<p align="center"><img src="/data/images/history/1_2.jpg" /></p>
							<p align="center"><i>Quốc ân Khải tường tự bị ghi nhầm tên là Chùa Bửu Long</i></p><br/>
							<p align="center">________________</p><br/>
							<h4 align="center">"Ông Phật ở đậu đất ông Thần"</h4><br/>
							<p align="justify">Từng được là nơi ra đời của vua Minh Mạng và có công với hoàng tộc nhà Nguyễn, thậm chí có thời gian chùa được xưng là chùa hoàng tộc thế nhưng Quốc Ân Khải Tường tự lại phải trải qua bao biến cố, thăng trầm. Năm 1860, nước ta đã rơi vào tay giặc Pháp, nhiều công trình có ý nghĩa với đất nước bị ngoại xâm tàn phá không thương tiếc. Theo đó, chùa Quốc Ân Khải Tường bị giặc chiếm đóng, thu giữ các tượng thờ quý giá, có giá trị văn hóa, tinh thần cao.</p><br/>
							<p align="justify">Trụ trì Quốc Ân Khải Tường, Hòa thượng Thích Nhuận Tâm cho biết: "Theo những sử liệu ghi lại, các tượng Phật và đồ tam bảo, pháp giới đều bị giặc thu giữ hoặc thất lạc hết. Các chư tăng chỉ kịp gửi một số tự khí, pháp khí vào chùa Từ Ân. Một số tượng phật nhỏ và vật dụng được chuyển về Cái Thia, Mỹ Tho, Tiền Giang". Tương truyền rằng lúc đó Hòa thượng Húy Thanh Đặng tự Chơn Thành quê ở Bà Rịa - Vũng Tàu cũng đi theo chùa về Cái Thia đảm nhiệm chức trụ trì.</p><br/>
							<p align="justify">Trong quá trình di dời về Cái Thia, Mỹ Tho, hiện vật quý giá nhất của Quốc Ân Khải Tường tự là pho tượng Phật Di Đà của vua Minh Mạng cũng bị mất.  Pho tượng bị chính quyền thực dân tịch thu giao cho Hội Cổ học Ấn - Hoa. Cuối cùng, sau nhiều lần lưu lạc, đổi dời, tượng lại được giao cho bảo tàng, trở thành tài sản quốc gia. Chùa chỉ còn giữ được một số tượng Chuẩn Đề, tượng Giám Trai, Thập Điện, Đại Tạng, Thích Ca Đản Sanh. Đồng bào Phật tử thấy chùa thiếu thốn trăm bề nhất là không có tượng Phật thờ phụng nên cùng chư tăng chùa Khải Tường đúc tượng Di Đà bằng đồng nặng khoảng 1 - 1,5 tấn. Hiện chùa vẫn đang thờ cúng, người dân nơi đây gọi tượng là Ông Trung Tôn hay Đức Trung Tôn.</p><br/>
							<p align="justify">Xung quanh câu chuyện đúc tượng Đức Trung Tôn, dân gian cũng truyền lại những giai thoại vô cùng lý thú và mang nhiều ý nghĩa. Một giai thoại cũng mang nhiều màu sắc liêu trai được người dân nơi đây ghi nhận là việc giặc Pháp bất kính dùng tượng phật của chùa làm túc đạn. Người dân nơi đây cho biết: Lúc giặc Pháp chiếm chùa làm căn cứ đóng quân, chúng cho lấy tượng Phật Di Đà làm túc đạn. Tuy nhiên, dù dùng xe hay nhiều người cố sức kéo thì tượng vẫn đứng yên một chỗ. Đây là một chuyện hi hữu mà có thật từ trước đến nay vẫn được các bô lão trong vùng nhắc đến.</p><br/>
							<p align="justify">Không thể sử dụng tượng Phật để làm công cụ chiến đấu, quân Pháp thông báo cho người dân mang đi đâu thì mang. Lúc đó, ban hương lễ của Đình Ông Lữ đã đến thỉnh Phật về thờ tạm nơi nhà khói của đình cho đến ngày nay. Tương truyền, ban hương lễ vừa thắp nhang cầu nguyện xong, chỉ có 10-15 người vậy mà thỉnh được tượng Phật về Đình ông Lữ, thành ra mới có câu nói vui: "Ông Phật phải ở đậu đất ông Thần".</p><br/>
							<p align="justify">Sau mấy lượt bể dâu, chùa Khải Tường phải di dời nhiều nơi, ngay cả cái danh chùa hoàng tộc cũng mai một theo thời gian. Lịch sử của chùa người trong giới và những nhà nghiên cứu vẫn còn ghi nhận. Thế nên, Trung ương Giáo Hội Phật Giáo Việt Nam xin phép được xây dựng lại di tích xưa 300 năm Phật giáo Gia Định Sài Gòn tại Bình Dương. Thế nhưng, cái gốc, cái rễ của chùa lại chỉ là một cái am nhỏ từng "ở đậu đất của ông thần thuộc đình ông Lữ thuộc Mỹ Phú, xã Mỹ Đức Đông, huyện Cái Bè, Tiền Giang. Sắc tứ Khải Tường bôn ba thời loạn trôi dạt về ở đậu trên đất Đình Ông Lữ, vẫn còn nghèo nàn và nhỏ bé. Do vậy, ít ai biết được rằng tại một mảnh đất thưa người lại có một ngôi chùa gắn liền với lịch sử, văn hóa Việt Nam đang oằn mình trong công tác cùng dân hướng thiện và gìn giữ những nét đẹp của nước nhà.</p><br/>
							<p align="center">________________</p><br/>
							<div style="background:#F8F8F8; border:1px solid #DDDDDD; padding:10px; color:#000000;"><small>
								<h4 align="center">"Chùa hoàng tộc" mà chưa tìm được tên</h4>
								<p align="justify">Được biết, vốn nghĩ chùa đã không còn tồn tại và với khao khát khôi phục lại ngôi chùa có ý nghĩa lịch sử và văn hóa, một cao tăng đã xin Ban Giáo hội Phật xây dựng lại Quốc Ân Khải Tường tự tại Bình Dương. Tuy nhiên, đáng buồn là cái gốc rễ của ngôi chùa từng là được gọi là chùa hoàng tộc lại có một số phận long đong. Đến nay, sau khi đã được cấp một diện tích đất khiêm tốn, chùa vẫn chưa được xác định, ghi nhận một cách rõ ràng trong cuốn: "Phật giáo Tiền Giang: Lược sử và những ngôi chùa". Theo đó, trong sách này có chụp hình của Quốc Ân Khải Tường tự nhưng lại đề là Chùa Bửu Long.</p>
							</small></div>
						</div>
						<div class="history-bot">
							<b><p align="right">Trích dẫn toàn văn</p>
							<p align="right">Báo pháp luật đời sống</p></b>
						</div>
					</div>
					
					<div class="box no-border">
						<div class="b-content">
							<ul class="nav nav-tabs nav-stacked reset-margin">
								<li class="active news-list-title"><a>Các bài giới thiệu khác</a></li>
								<li class="news-list-item"><a href="/gioi-thieu">Lịch Sử Chùa Khải Tường <i class="icon-chevron-right pull-right"/></a></li>
								<li class="news-list-item"><a href="/gioi-thieu/0">Chùa Khải Tường <i class="icon-chevron-right pull-right"/></a></li>
								<li class="news-list-item"><a href="/gioi-thieu/2">Ngôi chùa nơi vua Minh Mạng chào đời <i class="icon-chevron-right pull-right"/></a></li>
								<li class="news-list-item"><a href="/gioi-thieu/3">Một trăm ngày niệm Phật <i class="icon-chevron-right pull-right"/></a></li>
								<li class="news-list-item"><a href="/gioi-thieu/4">Chùa Khải Tường ... sắc tứ "QUỐC ÂN KHẢI TƯỜNG TỰ" cần được quan tâm <i class="icon-chevron-right pull-right"/></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<!-- <div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>