<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div metal:use-macro="macros.xhtml/TextGo"/>
				
				<div id="left-mini">
					<div class="sidebar-box-mini">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span>Chuyên Đề</span>
						</div>
						<div class="sidebar-box-content">
							<ul>
								<a tal:repeat="Category CategoryBType/getCategoryAll" tal:attributes="href Category/getURLRead">
									<li><span tal:content="Category/getName" /> (<span tal:content="Category/getVLs/count" />)</li>
								</a>
							</ul>
						</div>
						<div class="clear" />
					</div>
				</div>
				<div id="mid-mini">
					<div class="news-box-mini">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span><small style="font-size:15px;" tal:content="Monk/getName" /> (<small style="font-size:15px;" tal:content="Monk/getVMs/count" /> Videos)</span>
						</div>
						<div style="padding:10px;">
							<ul class="video-library">
								<a tal:repeat="VM VMs" tal:attributes="href VM/getURLView">
									<li>
										<div class="demo">
											<img tal:attributes="src VM/getVideo/getURLImage" width="150px" height="100px" />
										</div>
										<div class="info">
											<div class="name" tal:content="VM/getVideo/getName" />
											<div class="monk">Giảng sư: <span tal:content="Monk/getName" /></div>
											<div class="view">
												<span tal:content="VM/getVideo/getCountPrint" /> lượt xem
											</div>
										</div>
										<div class="clear" />
									</li>
								</a>
							</ul>
							<div class="clear" />
						</div>
					</div>
				</div>
				
				<div id="right-mini">
					<div class="sidebar-box-mini">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span>Giảng Sư</span>
						</div>
						<div class="sidebar-box-content">
							<ul>
								<a tal:repeat="Monk1 CategoryBType/getMonkAll" tal:attributes="href Monk1/getURLRead">
									<li tal:attributes="class php:Monk1->getId()==Monk->getId()?'current-item':''">
										<span tal:content="Monk1/getName" /> (<span tal:content="Monk1/getVMs/count" />)
										<span tal:condition="Monk1/isVIP">
											<img src="/data/images/vip.gif" border="0" width="20" style="position:absolute; margin-left:3px;" />
										</span>
									</li>
								</a>
							</ul>
						</div>
						<div class="clear" />
					</div>
					<div metal:use-macro="macros.xhtml/CountBoxMini"/>					
					<div metal:use-macro="macros.xhtml/SponsorBoxMini"/>
					<div metal:use-macro="macros.xhtml/ContactBoxMini"/>
				</div>				
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>