<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="box radius">
						<div class="page-header pg-header pg-header-picture reset-margin">
							<h4 class="reset-margin" tal:content="Album/getName"/>
							<i class="pull-right">Cập nhật: <span tal:content="Album/getTimePrint"/></i>
						</div>
						<div class="b-content news-content padding-content">
							<div class="news-main">
								<embed 
									type="application/x-shockwave-flash" 
									src="https://picasaweb.google.com/s/c/bin/slideshow.swf" 
									width="100%"
									height="400px"
									tal:attributes="flashvars Album/getURL"
									pluginspage="http://www.macromedia.com/go/getflashplayer"
									wmode="Opaque">
								</embed>
							</div>
							<div class="news-author"/>
							
							<ul class="nav nav-tabs nav-stacked reset-margin">
								<li class="active news-list-title"><a>Hình ảnh khác</a></li>
								<li tal:repeat="Album AlbumAll" class="news-list-item">
									<a tal:attributes="href Album/getURLView">
										<span tal:content="Album/getName"/>
										<span tal:content="Album/getTimePrint"/>
										<i class="icon-chevron-right pull-right"/>
									</a>
								</li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<!-- <div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>