<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="content">

					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span tal:content="Album/getName" />
						</div>
						
						<div align="center" style="padding-top:5px;">
							<embed 
								type="application/x-shockwave-flash" 
								src="https://picasaweb.google.com/s/c/bin/slideshow.swf" 
								width="610px"
								height="400px"
								tal:attributes="flashvars Album/getURL"
								pluginspage="http://www.macromedia.com/go/getflashplayer"
								wmode="Opaque">
							</embed>
						</div>
						
						<div class="news-box-sub-title">Hình ảnh khác</div>

						<ul class="news-box-list">
							<li tal:repeat="Album Albums">
								<a tal:attributes="href Album/getURLView">
									<span tal:content="Album/getName"/>
								</a> (<span tal:content="Album/getTimePrint" />)
							</li>
						</ul>
						
						<div class="clear" />

					</div>
				</div>				
				<div id="sidebar">										
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/TopPictureBox"/>
					<div metal:use-macro="macros.xhtml/NorthBox"/>
					<div metal:use-macro="macros.xhtml/SouthBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/TopVideoBox"/>					
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/CountBox"/>					
					<div metal:use-macro="macros.xhtml/SponsorBox"/>
					<div metal:use-macro="macros.xhtml/ContactBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
					
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>