<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="box radius">
						<div class="page-header pg-header pg-header-pagoda reset-margin">
							<h4 class="reset-margin" tal:content="php:'Thông tin '.Pagoda->getName()"/>
							<i class="pull-right"><strong>Website:</strong> <a tal:attributes="href Pagoda/getWebsite" tal:content="Pagoda/getWebsite"/></i>
						</div>
						<div class="b-content news-content padding-content">
							<p><i class="icon-user"/> <strong>Trụ trì:</strong> <span tal:content="Pagoda/getMaster"/></p>
							<p><i class="icon-home"/> <strong>Địa chỉ:</strong> <span tal:content="Pagoda/getAddress"/></p>
							<p><i class="icon-book"/> <strong>Điện thoại:</strong> <span tal:content="Pagoda/getPhone"/></p>

							<div class="news-author"><p>
								<span class="btn btn-danger disabled btn-small">
									<i class=" icon-bullhorn icon-white"/> Các hoạt động
								</span>
							</p></div>
							<div tal:repeat="VS Pagoda/getVPs" class="media img-polaroid new-list-polaroid-3">
								<a tal:attributes="href VS/getURLView" class="pull-left">
									<img tal:attributes="src VS/getVideo/getURLImage" class="media-object img-rounded"/>
								</a>
								<div class="media-body">
									<h4 class="media-heading" tal:content="VS/getVideo/getName"/>
									<p class="media-reduce">Giảng sư: Chưa xác định</p>
									<a tal:attributes="href VS/getURLView" class="btn"><i class="icon-share"/> <span tal:content="VS/getVideo/getCount" /> xem</a>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<!-- <div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>