<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">
					
					<div class="box radius">
						<div class="page-header pg-header pg-header-video reset-margin">
							<h4 class="reset-margin"><span tal:content="Video/getName"/></h4>
							<i class="pull-right">Chùa <a tal:attributes="href Pagoda/getWebsite" tal:content="Pagoda/getWebsite"/></i>
						</div>
						<div class="b-content news-content padding-content">
							<div class="img-polaroid">
								<iframe width="100%" height="400" 
									tal:attributes="src Video/getURL"
									frameborder="0"
									wmode="Opaque"
								/>
								<script>
									/*<![CDATA[*/
									$("iframe").each(function(){
										  var ifr_source = $(this).attr('src');
										  var wmode = "?wmode=transparent";
										  $(this).attr('src',ifr_source+wmode);
									});
									/*]]>*/
								</script>
							</div>
							<div class="alert alert-block clearfix reset-margin">
								<strong>Giảng sư:</strong>
								<span> Chưa xác định</span>
								<!--
								<a tal:attributes="href VMUpdateTopAll/current/getMonk/getURLRead">
									<span tal:content="VMUpdateTopAll/current/getMonk/getPreName"/> - 
									<span tal:content="VMUpdateTopAll/current/getMonk/getName"/>
								</a>
								-->
								
								<span class="btn btn-danger pull-right disabled btn-small" >
									<i class="icon-hand-up icon-white"/>
									<span tal:content="Video/getCountPrint"/> lượt xem
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>					
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>