<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="content">
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span tal:content="php:'THÔNG TIN '.Pagoda->getName()" />
							<a tal:attributes="href Pagoda/getWebsite" tal:content="Pagoda/getWebsite" />
						</div>
						
						<div style="padding:10px;">
							<ul class="pagoda-info">
								<li>
									<span class="label">Địa chỉ: </span>
									<span tal:content="Pagoda/getAddress"/>
								</li>
								<li>
									<span class="label">Điện thoại: </span>
									<span tal:content="Pagoda/getPhone"/>
								</li>
								<li>
									<span class="label">Trụ trì: </span>
									<span tal:content="Pagoda/getMaster"/>
								</li>
							</ul>							
							<div class="clear" />
						</div>
					</div>
					<div tal:condition="VP" class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span tal:content="php:'ĐANG PHÁT '.VP->getVideo()->getName()" />
						</div>						
						<div style="padding:10px;">
							<div align="center" class="video-screen">
							<iframe width="450" height="350" tal:attributes="src VP/getVideo/getURL" frameborder="0"></iframe>
							<script>
								/*<![CDATA[*/
								$("iframe").each(function(){
									  var ifr_source = $(this).attr('src');
									  var wmode = "?wmode=transparent";
									  $(this).attr('src',ifr_source+wmode);
								});
								/*]]>*/
							</script>
							</div>
						</div>
					</div>
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span tal:content="php:'HOẠT ĐỘNG '.Pagoda->getName()" />
						</div>						
						<div style="padding:10px;">																					
							<ul class="list-video">
								<li tal:repeat="VP Pagoda/getVPs">
									<a tal:attributes="href VP/getURLView; title VP/getVideo/getName">
										<img tal:attributes="src VP/getVideo/getURLImage" width="140px" height="110px" />
										<div class="name" tal:content="VP/getVideo/getName" />
									</a>
								</li>								
							</ul>
							<div class="clear" />
						</div>
					</div>
				</div>
				
				<div id="sidebar">										
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/TopPictureBox"/>
					<div metal:use-macro="macros.xhtml/NorthBox"/>
					<div metal:use-macro="macros.xhtml/SouthBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/TopVideoBox"/>					
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/CountBox"/>					
					<div metal:use-macro="macros.xhtml/SponsorBox"/>
					<div metal:use-macro="macros.xhtml/ContactBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>
				</div>
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>