<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS"/>
		<span metal:use-macro="macros.xhtml/IncludeJS"/>
	</head>	
	<body>
		<div id="wrapper">
		
			<div metal:use-macro="macros.xhtml/Header" />	

			<div id="main">				
				<div metal:use-macro="macros.xhtml/DateTimeBox"/>
				<div id="content">
				
					<div class="news-box">
						<div class="box-title">
							<img src="/data/images/icon.png" width="30" />
							<span tal:content="News/getTitleReduce"/>
						</div>
						
						<div style="padding:10px;">
							<i>Tin tức được cập nhật vào: <span tal:content="News/getDatePrint"/></i><br/><br/>
							<div tal:content="structure News/getContent"/>
							<i><h4 align="right" tal:content="News/getAuthor" /></i>
						</div>
						
						<div class="news-box-sub-title">Các tin khác</div>
						<ul class="news-box-list">
							<li tal:repeat="News Category/getNewsLimit">
								<a tal:attributes="href News/getURLRead">
									<span tal:content="News/getTitle"/>
								</a>
								<span tal:content="News/getDatePrint" />
							</li>
						</ul>
						<br/>
						<div class="clear" />

					</div>
				</div>				
				<div id="sidebar">										
					<div metal:use-macro="macros.xhtml/EventBox"/>
					<div metal:use-macro="macros.xhtml/TopPictureBox"/>
					<div metal:use-macro="macros.xhtml/NorthBox"/>
					<div metal:use-macro="macros.xhtml/SouthBox"/>
					<div metal:use-macro="macros.xhtml/BoxRight"/>
					<div metal:use-macro="macros.xhtml/TopVideoBox"/>					
					<div metal:use-macro="macros.xhtml/AskBox"/>
					<div metal:use-macro="macros.xhtml/CountBox"/>					
					<div metal:use-macro="macros.xhtml/SponsorBox"/>
					<div metal:use-macro="macros.xhtml/ContactBox"/>
					<div metal:use-macro="macros.xhtml/CallendarBox"/>					
				</div>				
				<div class="clear" />
			</div>
			<div metal:use-macro="macros.xhtml/Footer" />
		</div>
	</body>
</html>