<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />		
		<span metal:use-macro="macros.xhtml/Include"/>
		<script>
			/*<![CDATA[*/
				
			/*]]>*/	
		</script>
	</head>	
	<body>	
		<div id="frame">
			<span metal:use-macro="macros.xhtml/Header"/>
			<span metal:use-macro="macros.xhtml/MenuIndex"/>
			<div id="main">
				<span metal:use-macro="macros.xhtml/main3_of1"/>
				<div id="main3_of2" style="height: 1220px;">
					<div id="form_LH" style="margin: 0 auto;padding-right: 40px;">
						<form id="formViewCart" action="#" method="POST">
							<table style="margin-right:10px;" width="400" align="center" cellpadding="0" cellspacing="0" border="1">		
								<tr>				
									<td class="BoxTitle" align='center'>Quý Khách Đã Đặt Sim Thành Công!</td>
								</tr>
								<tr>
									<td class="BoxTitle" align='center'>Chúng tôi Sẽ liên hệ với Quý Khách sớm nhất! </td>																	
								</tr>
								<tr>
									<td class="BoxTitle" align='center'>Chúng tôi Sẽ liên hệ với Quý Khách qua:<b tal:content="Msg"></b></td>																	
								</tr>
								<tr>
									<td class="BoxTitle" align='center'>Rất Hận hạnh được Phục vụ Quý Khách!</td>																	
								</tr>					
							</table>
							<div id='hr'></div>	
								<table align='left'>
									<tr>
										<td style='padding-top:10px;'>							
											<a style='float:center;margin-left:140px;' href="\" class="Button StateDefault ButtonIconLeft CornerAll">
												Trang Chủ
											</a>
										</td>
									</tr>							
								</table>	
						</form>
					</div>
				</div>
			<span metal:use-macro="macros.xhtml/main3_of3"/>
				<div class="vide"></div>
			</div>
			<div id="line"></div>
			<span metal:use-macro="macros.xhtml/Footer"/>
			<div class="vide"></div>
		</div>
	</body>
</html>