<!DOCTYPE html>
<html lang="en">
	<head>
		<span metal:use-macro="base.xhtml/IncludeMETA"/>
		<span metal:use-macro="base.xhtml/IncludeCSS"/>
		<span metal:use-macro="base.xhtml/IncludeJS"/>
	</head>

	<body>
		<div class="container">
			<div metal:use-macro="base.xhtml/Header"/>
			<div class="row reset-margin main">
				<div metal:use-macro="base.xhtml/CallendarBar"/>
				<div class="span8 fix-width">

					<div class="box radius">
						<div class="b-title">
							<div tal:content="php:'ĐANG PHÁT ' . Video->getName()" class="b-t-icon-content"/>
						</div>
						<div class="b-content">
							<div align="center" class="video-screen">
								<iframe width="450" height="350" tal:attributes="src Video/getURL" frameborder="0"></iframe>
								<script>
									/*<![CDATA[*/
									$("iframe").each(function(){
										  var ifr_source = $(this).attr('src');
										  var wmode = "?wmode=transparent";
										  $(this).attr('src',ifr_source+wmode);
									});
									/*]]>*/
								</script>
							</div>
							<div class="video-info">
								<div class="name" tal:content="Video/getName" />								
								<div class="view">
									<span tal:content="Video/getCountPrint"/> lượt xem
								</div>
								<div class="clear" />
							</div>
						</div>
					</div>
					
					<div class="box radius">
						<div class="b-title">
							<div tal:content="php:'HOẠT ĐỘNG '.Sponsor->getName()" class="b-t-icon-content"/>
						</div>
						<div class="b-content">
							<ul class="list-video">
								<li tal:repeat="VS Sponsor/getVideoAll">
									<a tal:attributes="href VS/getURLView; title VS/getVideo/getName">
										<img tal:attributes="src VS/getVideo/getURLImage" width="140px" height="110px" />
										<div class="name" tal:content="VS/getVideo/getName" />
									</a>
								</li>								
							</ul>
							<div class="clear" />
						</div>
					</div>
					
					<div class="box radius">
						<div class="b-title">
							<div class="b-t-icon-content">GHI DANH SỔ CÔNG ĐỨC</div>
						</div>
						<div class="b-content">
							<table class="table table-hover">
								<thead>
									<th align="center" width="5%" >STT</th>
									<th align="left" width="30%" >Họ Tên (Pháp Danh)</th>
									<th align="left" width="20%" >Địa chỉ</th>
									<th align="left" width="20%" >Ngày</th>
									<th align="right" width="25%" >Trợ Duyên</th>									
								</thead>
								<tbody>
									<tr tal:repeat="SP Sponsor/getPersonAll">
										<td align="center" tal:content="repeat/SP/number" />
										<td align="left" tal:content="SP/getName" />
										<td align="left" tal:content="SP/getAddress" />
										<td align="left" tal:content="SP/getTimePrint" />
										<td align="right" ><b tal:content="SP/getValuePrint"/></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
				</div>
				<div class="span4 fix-width">
					<div metal:use-macro="base.xhtml/TaskBox"/>
					<div metal:use-macro="base.xhtml/EventBox"/>
					<!-- <div metal:use-macro="base.xhtml/CourseBox"/> -->
					<div metal:use-macro="base.xhtml/BuddhaBox"/>
					<div metal:use-macro="base.xhtml/PictureBox"/>
					<div metal:use-macro="base.xhtml/TopNewsBox"/>
					<div metal:use-macro="base.xhtml/TopVideoBox"/>
					<div metal:use-macro="base.xhtml/TopMonkBox"/>
					<div metal:use-macro="base.xhtml/AskBox"/>
					<div metal:use-macro="base.xhtml/SponsorBox"/>
					<div metal:use-macro="base.xhtml/ContactBox"/>
					<div metal:use-macro="base.xhtml/CallendarBox"/>
				</div>
			</div>
			<div metal:use-macro="base.xhtml/Footer"/>
			<div metal:use-macro="base.xhtml/Popup"/>
			<div metal:use-macro="base.xhtml/FixedFunction"/>
			<div metal:use-macro="base.xhtml/Backontop"/>
			<div id="fb-root"/>
		</div>
	</body>
</html>