input {
    border: 1px solid #AACFE4;
    border-radius: 5px 5px 5px 5px;
    display: block;
    font-size: 12px;
    margin: 27px 10px 10px 0px;
    padding: 4px 2px;
    width: 200px; 
}
select {
    border: 1px solid #AAAAAA;
    color: #333333;
    font-family:arial;
	font-size:13px;
	font-weight:normal;
    height: 24px;
    line-height: 1;
    padding: 2px 5px;    
}
#form1{
	width:370px;
	height:auto;
	background: none repeat scroll 0 0 #BCCCFF;
    border: 1px solid #999;
	border-radius: 5px 5px 5px 5px;
	margin:auto;
	margin-top:20px;
}
#form1 label {
    display: block;
    float: left;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 20px;
    text-align: right;
    width: 90px;
}
#button1 {
	width:38.5%;
	margin-left:130px;
	margin-top:10px;
	margin-bottom:20px;
}