* {
    margin: 0;
    padding: 0;
}
html {
	background: url("../image/header.png") repeat-x scroll 0 0 #fff;
	font: 13px/20px arial,sans-serif;
}
#frame {
	margin: auto;
	width: 70%;
	height: auto;
}  

#header {
  float:left;
  height:64px;  
}
	#header  #Logo{
		float:left;
		height:100%;
		width:64px;
		position: fixed;
		top:10px;
		left:10px;
	}
	#header  #Info{
		float:left;
		color:#FFF;		
		text-align:left;
		height:100%;
		width:210px;
		position: fixed;
		top:0px;
		left:75px;
		padding-top: 8px;
		line-height:1.5;
		font-size: 14px;
	}
	#header  #MainMenu{ /*===Menu Tab===*/
		float:right;
		height:32px;
		width:480px;		
		position: absolute;
		top: 46px;
		right: 1px;
		z-index: 1;
	}
	#header  #UserInfo{
		float:right;
		color:#FFF;
		height:22px;
		width:280px;
		font-size:12px;
		position: fixed;
		top: 5px;
		right: 0px;
	}
	
	#header  #MainMenu #Content{
		float:right;
		cursor:pointer;	
	}
	
	#header  #MainMenu #Content a, #header  #MainMenu #Content a:link, #header  #MainMenu #Content a:visited { 		
		text-decoration: none; 
		outline: none; 
	}
	#header  #MainMenu #Content .MenuItem{
		float:right;
		text-align:center;		
		height:25px;
		width:110px;		
		color:#FFF;
		background: url("images/Button-bg_inset-soft_22_3b3b35_1x100.png") repeat-x scroll 50% 50% #56C5F9;
		padding-top:10px;
		border: 1px solid #fff;
		border-bottom: 1px solid #4A494A;
	}
	#header  #MainMenu #Content a:hover{
		float:right;		
		text-align:center;
		height:25px;
		width:110px;		
		color:#000;
		background: #FFF; 
		font-weight:bold;
		padding-top:10px;
		border: 1px solid #fff;
	}
	
	#header  #MainMenu #Content .MenuItemChecked{
		float:right;		
		text-align:center;
		height:25px;
		width:110px;		
		color:#000;
		background: #FFF;
		font-weight:bold;
		padding-top:10px;
		border: 1px solid #fff;
	}
		
#module{     /*==Container==*/
	position: fixed;
	top: 132px;
	left: 205px;
	right:0px;
	bottom: 55px;
	margin: 0 auto;
	padding: 0px 17px 5px 5px;
	border:1px solid #e1e1e1;
	text-align: left;
	overflow:auto;
}
#module2{     /*==Container 2 ==*/
	position: fixed;
	top: 132px;
	left: 1px;
	right:0px;
	bottom: 55px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	border:1px solid #e1e1e1;
	text-align: left;
	overflow:auto;
}
	#nav{ 		/*==Menu Left==*/			
		float:left;
		position: fixed;
		top: 83px;
		left: 0px;
		width:200px;
		background-color:#CCCCCC;
	}
		#nav #Title{   /*===Title===*/						
			float:left;
			width:100%;
			height:48px;		
			position: fixed;				
			text-align:left;
			background-color:#ffffff;
			border: 1px solid #ccc;
			border-top: 1px solid #FFF;
		}
		
		#nav #Title #Text{				
			font-family:arial;
			font-size:22px;
			font-weight:bold;
			margin: 13px;
		}		
		#nav #Button{										
			background-color:#efefef;			
			padding-top:48px;
		}
	#Column1of1{				/*==Data Table==*/
		margin: 0px 0px 0px 0px;
		float:right;
		width:100%;
		background-color:#ffffff;
	}
		#Column1of1 #Title {   /*===Title Back===*/			
			float:right;	
			position: fixed;
			top: 88px;
			right: 0px;
			width:auto;			
			height:40px;					
			text-align:right;
			background-color:#ffffff;
		}
		#Column1of1 #Table{
			padding:0px 0px 0px 0px;
		}
		#Column1of1 #SubColumn2of2{
			text-align:center;			
			margin: 0px 0px 0px 0px;
			padding: 5px 5px 5px 5px;
			width: auto;
			height:auto;
			background-color:#FFF;
			border-radius: 5px 5px 5px 5px;
		}		
		 #Column1of1 #SubColumn2of2 #hr{
			padding-top:10px;			
			border-bottom:2px solid #999;
		}

#footer {
	background: #222;
	border-top: 5px solid #333;
	color: #ccc;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

a:link {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#NameLogin {				/*===Name Login===*/
	float:right;
	height:0px;
	padding: 0px 20px;
	color: #FFF;
	font-weight: bold;
}
.table_highlighted {
	background-color:#C0E6FF;  /*===Màu hover Table===*/
}
.ButtonMouseHover {	
	position:relative;
}
#TitleButton {
	float:right;
	margin:5px 3px 0px 0px;
}
#MenuButton {
	margin:3px 5px 0px 0px;
}