<html>	
<body>	
	<table cellpadding="2" cellspacing="0" border="1">
		<tr>								
			<th align='center' width='12%'><B>Bột</B></th>
			<th align='center' width='11%'><B>Nilon</B></th>
			<th align='center' width='11%'><B>Dầu đặc</B></th>
			<th align='center' width='11%'><B>Dầu nước</B></th>
			<th align='center' width='11%'><B>Cal</B></th>
			<th align='center' width='11%'><B>Gas</B></th>
			<th align='center' width='11%'><B>Bột năng</B></th>
			<th align='center' width='11%'><B>Bột pha</B></th>
			<th align='center' width='11%'><B>Mũ cũ</B></th>
		</tr>
		<tr>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>
			<td> </td>			
		</tr>	
	</table>
</body>
</html>