<html>	
<body>
	<table align="center" border="1" cellspacing="0" cellpadding="2">
		<tr>
			<th width='5%' align='center'><b>STT</b></th>	
			<th width='25%' align='right'><b>TÊN</b></th>
			<th width='15%' align='right'><b>TẠM ỨNG</b></th>
			<th width='15%' align='right'><b>GIA CÔNG</b></th>
			<th width='15%' align='right'><b>THỰC LÃNH</b></th>
			<th width='25%' align='center'><b>CHỮ KÍ</b></th>
		</tr>
		<tr tal:repeat="EmployeeTracking EmployeeTrackings">			
			<td align='center' tal:content="EmployeeTracking/getId"></td>								
			<td align='right' tal:content="EmployeeTracking/getName"></td>
			<td align='right' tal:content="EmployeeTracking/getGenerate1Print"></td>
			<td align='right' tal:content="EmployeeTracking/getGenerate2Print"></td>
			<td align='right' tal:content="EmployeeTracking/getValuePrint"></td>
			<td align='right'></td>
		</tr>			
	</table>
	<div align="right">Tổng lương phải trả là:<b><span tal:content="Summary"></span></b></div>	
</body>
</html>