					<table cellpadding="1" cellspacing="0" border="1">
						<thead>					
							<tr>
								<th align='left' width="60px"><B>NGÀY</B></th>
								<th align='left'><B>3g<BR/>dầu</B></th>
								<th align='left'><B>3g<BR/>mỡ</B></th>
								<th align='left'><B>3g<BR/>ds</B></th>
								<th align='left'><B>5g<BR/>dầu</B></th>
								<th align='left'><B>5g<BR/>mỡ</B></th>
								<th align='left'><B>5g<BR/>ds</B></th>
								<th align='left'><B>5.5g<BR/>dầu</B></th>
								<th align='left'><B>5.5g<BR/>mỡ</B></th>
								<th align='left'><B>6g<BR/>dầu</B></th>
								<th align='left'><B>6g<BR/>mỡ</B></th>
								<th align='left'><B>6g<BR/>ds</B></th>
								<th align='left'><B>6.5g<BR/>dầu</B></th>
								<th align='left'><B>6.5g<BR/>mỡ</B></th>
								<th align='left'><B>6.5g<BR/>ds</B></th>
								<th align='left'><B>7g<BR/>dầu</B></th>
								<th align='left'><B>7g<BR/>mỡ</B></th>
								<th align='left'><B>7g<BR/>ds</B></th>
								<th align='left'><B>8g<BR/>dầu</B></th>
								<th align='left'><B>8g<BR/>mỡ</B></th>
								<th align='left'><B>8g<BR/>ds</B></th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="PETracking PETrackings">								
								<td align='left' width="60px">
									<B tal:content="PETracking/getDatePrint" />
								</td>								
								<td align='left' tal:content="PETracking/getProduct05"/>
								<td align='left' tal:content="PETracking/getProduct06"/>
								<td align='left' tal:content="PETracking/getProduct07"/>
								<td align='left' tal:content="PETracking/getProduct08"/>
								<td align='left' tal:content="PETracking/getProduct09"/>
								<td align='left' tal:content="PETracking/getProduct10"/>
								<td align='left' tal:content="PETracking/getProduct27"/>
								<td align='left' tal:content="PETracking/getProduct28"/>
								<td align='left' tal:content="PETracking/getProduct12"/>
								<td align='left' tal:content="PETracking/getProduct13"/>
								<td align='left' tal:content="PETracking/getProduct14"/>
								<td align='left' tal:content="PETracking/getProduct15"/>
								<td align='left' tal:content="PETracking/getProduct16"/>
								<td align='left' tal:content="PETracking/getProduct17"/>
								<td align='left' tal:content="PETracking/getProduct18"/>
								<td align='left' tal:content="PETracking/getProduct19"/>
								<td align='left' tal:content="PETracking/getProduct20"/>
								<td align='left' tal:content="PETracking/getProduct24"/>
								<td align='left' tal:content="PETracking/getProduct25"/>
								<td align='left' tal:content="PETracking/getProduct26"/>								
							</tr>
						</tbody>
					</table>
