<html>	
<body>	
	<table border="1" cellspacing="0" cellpadding="2">
		<tr>
			<th align='center' width="15%"><b>NGÀY</b></th>
			<th align='left' width="35%"><b>NGUYÊN LIỆU</b></th>
			<th align='right' width="15%"><b>SỐ LƯỢNG</b></th>
			<th align='right' width="15%"><b>ĐƠN GIÁ</b></th>
			<th align='right' width="20%"><b>THÀNH TIỀN</b></th>
		</tr>
		<tr tal:repeat="RE	REs">
			<td align='center' tal:content="RE/getDatePrint"/>
			<td align='left' tal:content="RE/getNameResource"/>
			<td align='right' tal:content="RE/getQuantityPrint"/>
			<td align='right' tal:content="RE/getPricePrint"/>
			<td align='right' tal:content="RE/getValuePrint"/>
		</tr>
	</table>		
</body>
</html>