<html>
<body>	
	<table cellpadding="4" cellspacing="0" border="1" class="display" id="DataTable">
		<tr>								
			<td align='center' ><B>NGÀY</B></td>
			<th align='center'>nhỏx6<BR/>(18g)</th>
			<th align='center'>nhỏx7<BR/>(21g)</th>
			<th align='center'>nhỏx10<BR/>(30g)</th>
			<th align='center'>nhỏx18<BR/>(54g)</th>
			<th align='center'>16x30<BR/>(90g)</th>
			<th align='center'>16x30<BR/>(150g)</th>								
			<th align='center'>16calx30<BR/>(150g)</th>
			<th align='center'>16calx50<BR/>(250g)</th>
			<th align='center'>16calx90<BR/>(500g)</th>
			<th align='center'>18x30<BR/>(180g)</th>								
			<th align='center'>19x45<BR/>(300g)</th>
			<th align='center'>20x30<BR/>(210g)</th>
			<th align='center'>22x30<BR/>(240g)</th>
			<th align='center'>22calx60<BR/>(500g)</th>
			<th align='center'>18calx70<BR/>(500g)</th>
		</tr>		
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
		<tr>			
			<td /> <td /> <td /> <td /> <td /> 
			<td /> <td /> <td /> <td />	<td /> 
			<td /> <td /> <td /> <td /> <td />
			<td />
		</tr>
	</table>
</body>
</html>