<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<span metal:use-macro="macros.xhtml/IncludeBase"/>
	<script>
	/*<![CDATA[*/
	$(document).ready(function() {
						
		$('#DataTable').find('tbody tr').hover(
			function(){ $(this).find('td').addClass('table_highlighted');}, 
			function(){	$(this).find('td').removeClass('table_highlighted');}
		);
		
		var oTable = $('#DataTable').dataTable({			
			"bScrollCollapse": true,
			"bStateSave": false,
			"bFilter": false,
			"bInfo": false,
			"bSort": false,
			"bPaginate": false
		}).makeEditable({
                sUpdateURL: "?cmd=UpdateFactoryLoan",
                "aoColumns": [
					null,{
                	    indicator: 'Lưu số lượng...',
						tooltip: 'Click để chỉnh sửa SỐ TIỀN ỨNG'
                    },{
                	    indicator: 'Lưu ghi chú...',
						tooltip: 'Click để ghi nhận LÍ DO ỨNG TIỀN'
                    }
				]
			});
		new FixedHeader( oTable, { "top": true, "zTop": 105 } );	
	});
	/*]]>*/	
	</script>
	</head>	
<body>	
<div id="frame">
	<div id="page">
		<span metal:use-macro="macros.xhtml/HeaderModuleFactories"/>
		<div id="module2">
			<div id="nav">
				<div id="Title">
					<div id="Text" tal:content="Title"/>
				</div>
			</div>
			<div id="Column1of1">
				<div id="Title">
					<a title="Tới" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
						tal:attributes="href Factory/getURLViewLoansNextMonth">
						<span class="ButtonIcon ButtonIconSeekNext"/>
					</a>
					<a title="Lui" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll"
						tal:attributes="href Factory/getURLViewLoansBeforeMonth">
						<span class="ButtonIcon ButtonIconSeekPrev"/>
					</a>
					<a title="Quay lại" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
							tal:attributes = "href ParentsLinked">
							<span class="ButtonIcon ButtonIconArrowreturn1-n"></span>quay lại
					</a>		

					<!-- Menu In -->
					<a title='In bảng' target="blank" id="TitleButton" class="Button StateDefault ButtonIconSolo CornerAll" 
							tal:attributes="href Factory/getURLPrintLoans">
							<span class="ButtonIcon ButtonIconPrint"></span>quay lại
					</a>
				</div>
				<div id="Table">
					<table cellpadding="0" cellspacing="0" border="0" class="display" id="DataTable">
						<thead>					
							<tr>								
								<th align='center' width='15%'>NGÀY</th>
								<th align='right' width='25%'>TIỀN ỨNG</th>
								<th align='left' width='60%'>LÍ DO ỨNG TIỀN</th>
							</tr>
						</thead>
						<tbody>
							<tr tal:repeat="FL FLs">
								<td align='center'><b tal:content="FL/getDatePrint"/></td>
								<td align='right' tal:content="FL/getValue"/>
								<td align='left' tal:content="FL/getDescription"/>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<span metal:use-macro="macros.xhtml/footer"/>
	</div>
</div>		

</body>
</html>