#buttonwrapper 
{ 
width: 250px; 
height: 100px; 
position: relative; 
} 
 #left 
{ 
background: url('../image/arrowleft.gif') bottom left no-repeat; 
width: 64px; 
height: 64px; 
float: left; 
} 
 
#right 
{ 
background: url('../image/arrowright.gif') bottom left no-repeat; 
width: 64px; 
height: 64px; 
float: right; 
} 
 
#left:hover, #right:hover 
{ 
cursor: pointer; 
background-position: top left; 
} 
 
#holder_images { display: none; } 
#carousel img { border: 2px solid #ddd; } 
#carousel img.link:hover { border: 4px solid #0e0893; } 