<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SettingSupplierInsLoad.js"/>
	</head>
<body>
	<div id="PageSettingSupplierInsLoad" data-role="page">
		<div data-role="header" data-theme="d">
			<h1 tal:content="Title"/>
			<a href="#" data-icon="back" data-rel="back" data-role="button">Lui</a>
		</div>
		<div data-role="content" data-theme="a">
			<form data-ajax="false" id="FormSettingSupplierInsLoad" tal:attributes="action User/getApp/getURLSettingSupplierInsExe" method="post" class="ui-body ui-body-a ui-corner-all">
				<fieldset>
					<div data-role="fieldcontain">
						<label for="Name" class="text">Tên:</label>
						<input class="required" id="Name" name="Name" type="text" />
					</div>
					<div data-role="fieldcontain">
						<label for="Phone" class="text">Điện thoại:</label>
						<input class="required" id="Phone" name="Phone" type="text" />
					</div>
					<div data-role="fieldcontain">
						<label for="Address" class="text">Địa chỉ:</label>
						<input class="required" id="Address" name="Address" type="text" />
					</div>
					<div data-role="fieldcontain">
						<label for="Note" class="text">Ghi chú:</label>
						<input id="Note" name="Note" type="text" />
					</div>
					<div data-role="fieldcontain">
						<label for="Debt" class="text">Nợ đầu kì:</label>
						<input class="required" id="Debt" name="Debt" type="text" />
					</div>				
				</fieldset>
				<button type="submit" data-theme="b"  data-icon="check" name="submit" value="submit-value">Lưu</button>
			</form>
		</div>
	</div>
</body>
</html>