<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SettingEmployeeUpdLoad.js"/>
	</head>
<body>
	<div id="PageSettingEmployeeUpdLoad" data-role="page">
		<div data-role="header" data-theme="d">
			<h1 tal:content="Title"/>
			<a href="#" data-icon="back" data-rel="back" data-role="button">Lui</a>
		</div>
		<div data-role="content" data-theme="a">
			<form id="FormSettingEmployeeUpdLoad" tal:attributes="action Employee/getURLUpdExe" method="post" data-ajax="false" data-mini="true"  class="ui-body ui-body-a ui-corner-all">
				<fieldset>
					<div data-role="fieldcontain">
						<label for="Name" class="text">Tên:</label>
						<input class="required" id="Name" name="Name" type="text" tal:attributes="value Employee/getName"/>
					</div>
					<div data-role="fieldcontain">
						<label for="Gender" class="text">Giới tính:</label>
						<select name="Gender" id="Gender" data-role="slider">
							<option value="0" tal:attributes="selected Employee/getGender">Nam</option>
							<option value="1" tal:attributes="selected Employee/getGender">Nữ</option>
						</select>
					</div>
					<div data-role="fieldcontain">
						<label for="Phone" class="text">Điện thoại:</label>
						<input class="required" id="Phone" name="Phone" type="text" tal:attributes="value Employee/getPhone"/>
					</div>
					<div data-role="fieldcontain">
						<label for="Address" class="text">Địa chỉ:</label>
						<input class="required" id="Address" name="Address" type="text" tal:attributes="value Employee/getAddress"/>
					</div>				
				</fieldset>
				<button type="submit" data-theme="b"  data-icon="check" name="submit" value="submit-value">Lưu</button>
			</form>
		</div>	
	</div>
</body>
</html>