<!DOCTYPE html> 
<html>
	<head>
		<span metal:use-macro="macros.xhtml/IncludeCSS_Mobile"/>
		<span metal:use-macro="macros.xhtml/IncludeJS_Mobile"/>
		<script type="text/javascript" language="javascript" src="/mvc/templates/script/user/SettingStoreUpdLoad.js"/>
	</head>
<body>
	<div id="PageSettingStoreUpdLoad" data-role="page" class="type-interior">
		<div data-role="header" data-theme="d">
			<h1 tal:content="Title"/>
			<a href="#" data-icon="back" data-rel="back" data-role="button">Lui</a>
		</div>
		<div data-role="content" data-theme="a">
			<form id="FormSettingStoreUpdLoad" tal:attributes="action Store/getURLUpdExe" method="post" data-ajax="false" class="ui-body ui-body-a ui-corner-all">
				<fieldset>
					<div data-role="fieldcontain">
						<label for="Name" class="text">Tên kho:</label>
						<input id="Name" name="Name" type="text" class="required minlength:5" tal:attributes="value Store/getName"/>
					</div>
					<div data-role="fieldcontain">
						<label for="Address" class="text">Địa chỉ:</label>
						<input id="Address" name="Address" type="text" class="required" tal:attributes="value Store/getAddress"/>
					</div>
				</fieldset>
				<button type="submit" data-theme="b"  data-icon="check" name="submit" value="submit-value">Lưu</button>
			</form>
		</div>
	</div>
</body>
</html>